{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/build.css" />


<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
	<script async type="text/javascript" src="{{ STATIC_URL }}js/timeline-viz.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.min.js"></script>

{% endblock %}



{% block content %}

<div id="content-container" class="main-container">

	<div class="build-header">
		Build: 
		{% if title == "Untitled" %}
			<span class="build-header-name italicize">{{title}}</span>
		{% else %}
			<span class="build-header-name">{{title}}</span>
		{% endif %}
	</div>

	<div class="call-out-text">
		Build a career path using one of your current positions or a completely new starting point. Click on one of your current positions below to get started, or use the search box to add any position you like.
	</div>

	<div id="path-container">
		<!-- SVG here -->
	</div>


	<div id="build-positions-container">

		<div id="build-save-button" class="flat-button pull-left button-large save-button" onclick="save()">
			Save
		</div>
		<div class="clear"></div>


		<div class="pull-left" style="width:50%;">
			<div class="build-sub-header">
				Current Positions
			</div>

			

			<div id="are-you-sure-prompt"  class="">
				<!-- Text here -->
			</div>

			<table id="build-positions-table" class="table">
			{% for pos in current_positions %}
				<tr><td class="build-start-position" data-pos_id="{{pos.pos_id}}" data-title="{{pos.title}}" data-entity_name="{{pos.entity_name}}" data-ideal_id="{{pos.ideal_id}}">
					{{pos.title}} at {{pos.entity_name}}
				</td></tr>
			{% endfor %}
			</table>
		</div>

		<div class="build-positions-search pull-right">
			<div class="input-append inline">
				<input id="build-positions-search-box" type="text" placeholder="Search for a position">
				<span id="add-build-position-button" class="add-on"> Add </span>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	
</div>
{% endblock %}

{% block templates %}




<script type="text/javascript">
	/* Event Handlers */

	$(function() {

		// If existing path, render it
		if ({{path_id}} != -1) {
			render_existing_path()
		}

		// Hide "Are You Sure?" Prompt
		$('#are-you-sure-prompt').hide()

		// Hover handler - blue highlight 
		$('#build-positions-table tr').hover(function(ev) {
			$(ev.currentTarget).toggleClass("info")
		}, function(ev) {
			$(ev.currentTarget).toggleClass("info")
		});

		// Current position click handler
		$('#build-positions-table td').click(function(ev) {

			// If already selected, do nothing
			if ($(ev.currentTarget).parent().hasClass("selected")) {
				return false;
			};

			// Clear search box
			$('#build-positions-search-box').val("")

			var pos_id = $(ev.currentTarget).data("pos_id")
			var title = $(ev.currentTarget).data("title")
			var entity_name = $(ev.currentTarget).data("entity_name")
			var ideal_id = $(ev.currentTarget).data("ideal_id")

			normalize_rows()

			// For selected row, take off hover handler
			$(ev.currentTarget).parent().off("mouseenter mouseleave").toggleClass("info").addClass("selected")

			// Add this as the first position in path
			add_first_position(pos_id, ideal_id, title, entity_name)
		});

		var position_selected_pos_id = null
		var position_selected_title = null
		var position_selected_entity_name = null
		var position_selected_ideal_id = null

		// Autocomplete for current position
		$('#build-positions-search-box').autocomplete({
	    	serviceUrl: '/careers/positionAutocomplete/',
	    	minChars: 2,
	    	onSelect: function(suggestion) {
	    		console.log(suggestion.pos_id)
				position_selected_pos_id = suggestion.pos_id
				position_selected_title = suggestion.title
				position_selected_entity_name = suggestion.entity_name
				position_selected_ideal_id = suggestion.ideal_id
		    }
	    });

		// Add click handler to search box
	    $('#add-build-position-button').click(function(ev) {

	    	// If there's something there
	    	if ($('#build-positions-search-box').val().length > 0) {
	    		add_first_position(position_selected_pos_id, position_selected_ideal_id, position_selected_title, position_selected_entity_name)
	    		normalize_rows()
	    	} 
	    });


		// Title change handlers....
		var enterPressed = function(ev) {
			if (ev.which == 13 && $('.build-input').length > 0) {
				$('.build-header-name').html($('.build-input').val()).removeClass("italicize").click(title_change_handler)
				$(document).off("keypress")
			} else if (ev.which == 13 && $('.build-input').length == 0) {
				$('.build-header-name').html("Untitled").click(title_change_handler)
			}
		};

		var title_change_handler = function(ev) {
			var current_text = $('.build-header-name').html()
			var new_html = "<input class='build-input' type='text' placeholder='" + current_text + "' name='path-title-input'>"
			$('.build-header-name').html(new_html).off("click")
			$(document).keypress(enterPressed)
		};

		$('.build-header-name').click(title_change_handler)

		/* Eventually, allow user to click off and save */
			// $(document).click(function(ev) {
			// 	if ($(ev.currentTarget) != $(this)) {
			// 		alert("clicked off this")
			// 	} else {
			// 		alert("clicked this")
			// 	}
			// })
		

	
		/* Raphael Extension giving ID's to sets */
		Raphael.st.setID = function(id) {
			this.id = id;
		};

		Raphael.st.setData = function(name, value) {
			this.data[name] = value
		};

		// Not tested
		Raphael.st.unbindAll = function() {
			while(this.events.length) {
				var e = this.events.pop()
				e.unbind()
			}
		};


	});



</script>

<script type="text/javascript">
	/* SVG for Path */

	/* Constants & Instance Variables */
	var options = null //{{options|safe}}
	var current_pos = {{current_positions_json|safe}}
	// console.log(current_pos)
	var options_data = []
	var chosen_data = []
	var line_data = []

	var paper_w = 1000
	var paper_h = 250
	var midline = 125
	var dot_radius = 12
	var y_range = 200
	var y_max = y_range / 2
	var y_offset = Math.ceil(y_range/(4)) // assuming 5 options...
	var x_start = 125
	var dot_distance = 150
	var text_offset1 = 40
	var text_offset2 = 25
	var text_offset3 = 10
	var option_text_offset = 50
	var current_rect_id = -1

	/* Attributes */
	var chosen_dot_attributes = {
		'fill':'rgb(41,98,152)',
		'stroke-width':0
	};

	var option_dot_attributes = {
		'fill':'#679FD2',
		'stroke-width':0,
	};

	var chosen_line_attributes = {
		'stroke':'#777'
	};

	var option_line_attributes = {
		'stroke-dasharray':'-',
	};

	var text_attributes = {
		"font-size":12,
	};

	var option_text_attributes = {
		"font-size":12,
		"text-anchor":"start",
	};

	/* Create Paper */
	var paper = new Raphael("path-container", paper_w, paper_h)


	var add_first_position = function(pos_id, ideal_id, title, entity_name) {

		// Check if this is being added or already in current pos
		var match = false
		for (var s = 0; s < current_pos.length; s++)
			if (current_pos[s]['pos_id'] == pos_id) match = true

		if (!match) add_position_to_current_table(pos_id, ideal_id, title, entity_name)

		// Check if path already exists, in which case delete	
		if (chosen_data.length > 0) {
			clear_path()
		}

		/* Create SVG Elements */
		var dot = paper.circle(x_start, midline, dot_radius).attr(chosen_dot_attributes)
		var title_text = paper.text(x_start, midline - text_offset1, title).attr(text_attributes)
		var entity_text = paper.text(x_start, midline - text_offset2, entity_name).attr(text_attributes)

		/* Set relevant data on dot element */
		dot.data("pos_id", pos_id)
		dot.data("title_text_id", title_text.id)
		dot.data("entity_text_id", entity_text.id)
		dot.data("ideal_id", ideal_id)

		/* Add 'back' to do */
		dot.click(go_back)

		/* Update data structure */
		chosen_data.push({"dot_id":dot.id, "pos_id":pos_id, "ideal_id": ideal_id})

		/* Get and render options */
		get_and_render_options(ideal_id,pos_id)
	};

	var get_and_render_options = function(ideal_id,pos_id) {

		options = get_options(ideal_id,pos_id)
		console.log("Rendering: ")
		console.log(options)
		render_options(options)

	};


	var render_options = function(ideal_id) {

		// Edge Case: only one result, render @ midline
		if (options.length == 1) var flat = true

		// Render options
		for (var i = 0; i < options.length; i++) {

			/* Set X,Y values for animation */
			var x_1 = x_start + (dot_distance * (chosen_data.length - 1))
			var y_1 = midline
			var x_2 = x_start + (dot_distance * chosen_data.length)
			var y_2 = (flat) ? midline : midline + y_max - (y_offset * i)
			
			/* Create SVG Elements */
			var option_dot = paper.circle(x_1, y_1, dot_radius).attr(option_dot_attributes)
			var option_title = paper.text(x_1, y_1, options[i].title).attr(option_text_attributes)
			var option_entity_name = paper.text(x_1, y_1, options[i].entity_name).attr(option_text_attributes)

			/* Animate SVG Elements */
			option_dot.animate({"cx":x_2, "cy":y_2}, "2e2")
			option_title.animate({"x":(x_2 + option_text_offset), "y":y_2 - text_offset3}, "2e2")
			option_entity_name.animate({"x":(x_2 + option_text_offset), "y":(y_2 + text_offset3)}, "2e2")

			/* Gather information needed for hover */
			option_dot.data("title_text_id", option_title.id)
			option_dot.data("entity_text_id", option_entity_name.id)
			option_dot.data("pos_id", options[i].pos_id)
			option_dot.data("ideal_id", options[i].ideal_id)

			// Update data structure
			options_data.push({'dot_id':option_dot.id, 'position_id':options[i].id, 'title_text_id': option_title.id, 'entity_text_id': option_entity_name.id})

			/* Add hover handlers */
			option_dot.hover(function() {
				this.attr("r", 14)
				paper.getById(this.data("title_text_id")).attr("font-weight","bold").attr("font-size","12")
				paper.getById(this.data("entity_text_id")).attr("font-size","12").attr("font-weight","bold")

			}, function() {
				this.attr("r",dot_radius)
				paper.getById(this.data("title_text_id")).attr("font-weight","normal").attr("font-size", "12")
				paper.getById(this.data("entity_text_id")).attr("font-weight","normal").attr("font-size", "12")
			});

			/* Add Click handler */
			option_dot.click(function() {
				option_clicked(this)
			})
		}
	
	};

	var save_attempted = false
	var save = function() {

		// Animate to show clicked
		$('#build-save-button').fadeOut(100).fadeIn(100)

		// Get Path Info
		var title = $('.build-header-name').html()

		// Check if they left the title box open, set
		//	title accordingly
		if ($('.build-input').length > 0) {
			if ($('.build-input').val().length > 0)
				title = $('.build-input').val()
			else 
				title = "Untitled"
		}

		var position_ids = []
		for (var g = 0; g < chosen_data.length; g++) {
			position_ids.push(chosen_data[g]["pos_id"])
		}

		// If no title, prod the users for one
		if (title == "Untitled" && !save_attempted) {
			$('#are-you-sure-prompt').html("Want to give this path a title first? Click on 'Untitled' to give it a name.").show();
			
			save_attempted = true;
			return false;
		}

		// Don't allow path of length 0 to save
		if (position_ids.length == 0) {
			$('#are-you-sure-prompt').html("There are no positions in this path! Start adding positions below.").show();
			return false;
		} 

		console.log("Pre-save: [title:" + title + "] [position_ids:" + position_ids + "] [path_id:" + {{path_id}} + ']')

		// Post to DB
		$.post("/careers/saveBuildPath/",
			{'title':title, 'position_ids':position_ids, 'path_id':{{path_id}}, 'csrfmiddlewaretoken':"{{csrf_token}}"},
			function(response) {
				if (response["result"] == "success") {
					console.log("Success")
					$('.save-button').html("Saved")
				} else {
					console.log("Failure: " + response["errors"])
				}
			},
			"json"
		)

	};

	var option_clicked = function(el) {
		// Move selected elements && change styling
		el.animate({'cy':midline, 'fill':'rgb(41,98,152)'}, '2e2')
		var id = el.id

		// Alternate location of text
		if (chosen_data.length % 2 == 0) {
			var title_y = midline - text_offset1
			var entity_name_y = midline - text_offset2
		}
		else {
			var title_y = midline + text_offset2
			var entity_name_y = midline + text_offset1
		}

		var title_text = paper.getById(el.data("title_text_id"))
		title_text.attr("text-anchor", "middle").attr("font-weight", "normal")
		title_text.animate({"x":x_start + (dot_distance * chosen_data.length), "y": title_y}, '2e2')

		var entity_text = paper.getById(el.data("entity_text_id"))
		entity_text.attr("text-anchor", "middle").attr("font-weight", "normal")
		entity_text.animate({"x":x_start + (dot_distance * chosen_data.length), "y": entity_name_y}, '2e2')


		// Unbind Events
		while(el.events.length) {
			var e = el.events.pop()
			e.unbind()
		}

		// Because most recent, bind "go back" event
		el.click(go_back)		

		// Remove clicks from previous dots
		if (chosen_data.length > 0) {
			for (var l = 0; l < chosen_data.length; l++) {
				paper.getById(chosen_data[l]["dot_id"]).unclick(go_back)
			}
		}
	
		// Draw line to previous
		var line = paper.path("M" + (x_start + ((chosen_data.length - 1) * dot_distance) + dot_radius) + ', ' + midline + ' L' + (x_start + (chosen_data.length * dot_distance) - dot_radius) + ','  + midline).attr(chosen_line_attributes)

		// Remove other dots
		for (var j = 0; j < options_data.length; j++) {
			if (options_data[j]["dot_id"] != id) {
				paper.getById(options_data[j]["dot_id"]).remove()
				paper.getById(options_data[j]["title_text_id"]).remove()
				paper.getById(options_data[j]["entity_text_id"]).remove()
			}
		}

		// Update DST
		chosen_data.push({"dot_id":el.id, "pos_id":el.data("pos_id"), "ideal_id": el.data("ideal_id")})
		options_data.length = 0
		line_data.push(line.id)
		get_and_render_options(el.data("ideal_id"),el.data("pos_id"))
	}

	var normalize_rows = function() {
		// Color all rows white
		$('#build-positions-table tr').each(function() {
			
			// If it was already selected, unselect and re-add hover //		handler
			if ($(this).hasClass("selected")) {
				$(this).removeClass("selected").hover(function(ev) {
					$(ev.currentTarget).toggleClass("info")
				}, function(ev) {
					$(ev.currentTarget).toggleClass("info")
				});
			}
		})
	};

	var clear_path = function() {
		// Delete dots, options for most recent dot
		remove_chosen_dots()
		remove_options()

		// Delete lines
		for (var d = 0; d < line_data.length; d++) {
			paper.getById(line_data[d]).remove()
		}

		// Clear all data structures
		line_data.length = 0
	}

	var go_back = function() {
		/* Delete most recent dot */
		var most_recent = paper.getById(chosen_data.pop()["dot_id"])
		remove_dot_and_text(most_recent)
		
		/* Remove its options */
		remove_options()

		/* Remove its line */
		if (line_data.length > 0)
			paper.getById(line_data.pop()).remove()

		/* Re-render off of previous dot, if there is one */
		if (chosen_data.length > 0) {
			get_and_render_options(chosen_data[chosen_data.length - 1]["ideal_id"],chosen_data[chosen_data.length - 1]["pos_id"])
			
			// And re-add click handler
			paper.getById(chosen_data[chosen_data.length - 1]["dot_id"]).click(go_back)
		}

	}

	var remove_dot_and_text = function(dot) {
		paper.getById(dot.data("title_text_id")).remove()
		paper.getById(dot.data("entity_text_id")).remove()
		dot.remove()
	}

	var remove_chosen_dots = function() {

		// Remove in reverse order
		for (var k = chosen_data.length - 1; k >= 0; k--) {
			var dot = paper.getById(chosen_data[k]["dot_id"])
			remove_dot_and_text(dot)
		}
		chosen_data.length = 0;
	};

	var remove_options = function() {


		// TODO: get this animation to work!

		// var x = x_start + (chosen_data.length * dot_distance)

		// for (var z = 0; z < options_data.length; z++) {
		// 	// Animate them back to prior dot
		// 	var dot = paper.getById(options_data[z]["dot_id"])
		// 	console.log(dot.attr("cx") + ' ' + dot.attr("cy"))
		// 	paper.getById(options_data[z]["dot_id"]).animate({"cx":x, "cy":midline}, "2e2", bob)

		// 	console.log(dot.attr("cx") + ' ' + dot.attr("cy"))
		// 	console.log("'sssdfsdf")
		// }

		// Delete option dots, titles, entity names
		for (var j = 0; j < options_data.length; j++) {
			paper.getById(options_data[j]["dot_id"]).remove()
			paper.getById(options_data[j]["title_text_id"]).remove()
			paper.getById(options_data[j]["entity_text_id"]).remove()
		}
		options_data.length = 0
	}

	var add_position_to_current_table = function(pos_id, ideal_id, title, entity_name) {
		console.log('add to table')
		normalize_rows();

		var new_html = "<tr class='selected'><td class='build-start-position' data-pos_id='"+ pos_id + "' data-title='" + title + "' data-entity_name='" + entity_name + "' data-ideal_id='"+ ideal_id + "'>" + title + " at " + entity_name + " </td></tr>"
		$('#build-positions-table > tbody:last').append(new_html)
	};

	var get_options = function(ideal_id,pos_id) {

		/* NOTE: using synchronous AJAX call to hold the chain until
			returns. Consider changing this to one big callback */

		var ret_val = null
		jQuery.ajaxSetup({async:false})

		$.get("/careers/getNextBuildStep/", {'id':ideal_id,'pos_id':pos_id}, function(response) {
			y_offset = Math.ceil(y_range/(response.length - 1)) // assuming 5 options...
			ret_val = response
		}, "json");

		jQuery.ajaxSetup({async:true})
		return ret_val
	};

	var render_existing_path = function() {

		var positions = {{path_steps|safe}}
		if (positions.length == 0) return false;

		for (var e = 0; e < positions.length; e++) {
			
			var title = positions[e].title
			var entity_name = positions[e].entity_name
			var pos_id = positions[e].pos_id
			var ideal_id = positions[e].ideal_id
			var x = x_start + (chosen_data.length * dot_distance)

			/* Create SVG Elements */
			var dot = paper.circle(x, midline, dot_radius).attr(chosen_dot_attributes)
			var title_text = paper.text(x, midline - text_offset1, title).attr(text_attributes)
			var entity_text = paper.text(x, midline - text_offset2, entity_name).attr(text_attributes)

			/* Set relevant data on dot element */
			dot.data("pos_id", pos_id)
			dot.data("title_text_id", title_text.id)
			dot.data("entity_text_id", entity_text.id)
			dot.data("ideal_id", ideal_id)

			/* Update data structure */
			chosen_data.push({"dot_id":dot.id, "pos_id":pos_id, "ideal_id": ideal_id})

			/* Draw connecting line */
			if (e > 0) {
				var line = paper.path("M" + (x_start + ((chosen_data.length - 2) * dot_distance) + dot_radius) + ', ' + midline + ' L' + (x_start + ((chosen_data.length - 1) * dot_distance) - dot_radius) + ','  + midline).attr(chosen_line_attributes)
				line_data.push(line.id)
			}			
		}

		/* Add 'back' to last dot */
		dot.click(go_back)

		/* Get and render options */
		get_and_render_options(ideal_id,pos_id)

	};

</script>

{% endblock %}