{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/on_track.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>

    <style type="text/css">
       
    </style>


{% endblock %}



{% block content %}

<div id="wide-content-container" class="main-container">
<h1>Foobar</h1>
	
	
</div>
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">
	// Constants
	var person_height = 45; var person_width = 45;
	var entity_height = 75; var entity_width = 75;

	// TODO: defer loading to AJAX
	var people = {{people|safe}}
	var entities = {{entities|safe}}

	var container = d3.select("#wide-content-container")
		.append("svg:svg")
		.attr("width",1000)
		.attr("height",400)
	var filter = container.append("svg:defs")
		.append("svg:filter")
			.attr("id","grayscale")
		.append("svg:feColorMatrix")
			.attr("type","matrix")
			.attr("values","0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0");


	container.selectAll(".person")
		.data(Object.keys(people))
		.enter().append("image")
			.attr("x", function(d, i) {
				if (i % 2 == 0)
					return 20 + (i * ((person_width / 2) + 5))
				else
					return 20 + ((i - 1) * ((person_width / 2) + 5))
			})
			.attr("y", function(d, i) {
				if (i % 2 == 0)
					return person_height
				else
					return 5 + (2 * person_height)
			})
			.attr("width", person_width)
			.attr("height", person_height)
			.attr("xlink:href", function(d) {return people[d]["pic"] })
			.attr("id", function(d) { return "person-" + d })
			.attr("filter", "url(#grayscale)")
			.attr("class", "person")

			.on("mouseover", function(d) {
				// enlargens, colors image
				activateImage(this, "person")
				// hover on relevant entity

			})

			.on("mouseout", function(d) {
				// resizes, grayscales image
				deactivateImage(this, "person")
			
			})


	container.selectAll(".entity")
		.data(Object.keys(entities))
		.enter().append("image")
			.attr("x", function(d, i) {
				return 100 + (i * 175)
			})
			.attr("y", 225)
			.attr("width", entity_width)
			.attr("height", entity_height)
			.attr("xlink:href", function(d) {
				return entities[d]["pic"]
			})
			.attr("filter", "url(#grayscale)")
			.attr("class", "entity")
			.attr("id", function(d) { return "entity-" + d })

			.on("mouseover", function(d) {
				activateImage(this, "entity")

				for (index in entities[d]["people"]) {
					var id = entities[d]["people"][index]

					activateImage($("#person-" + id)[0], "person")
				}
			})

			.on("mouseout", function(d) {
				deactivateImage(this, "entity")

				for (index in entities[d]["people"]) {
					var id = entities[d]["people"][index]

					deactivateImage($("#person-" + id)[0], "person")
				}
			})








function activateImage(el, type) {
	console.log(el)
	el.parentNode.appendChild(el);

	var node = d3.select(el)
	var prev_x = parseInt(node.attr("x"))
	var prev_y = parseInt(node.attr("y"))


	if (type == "person") {
		node
			.attr("height", person_height + 10)
			.attr("width", person_width + 10)
			.attr("x", prev_x - 5)
			.attr("y", prev_y - 5)
	} else if (type == "entity") {
		node
			.attr("height", entity_height + 25)
			.attr("width", entity_width + 25)
			.attr("x", prev_x - 15)
			.attr("y", prev_y - 15)
	}

	node.attr("filter", "")
};

function deactivateImage(el, type) {
	var node = d3.select(el)
	var prev_x = parseInt(node.attr("x"))
	var prev_y = parseInt(node.attr("y"))

	if (type == "person") {
		node
			.attr("height", person_height)
			.attr("width", person_width)
			.attr("x", prev_x + 5)
			.attr("y", prev_y + 5)
	} else if (type == "entity") {
		node
			.attr("height", entity_height)
			.attr("width", entity_width)
			.attr("x", prev_x + 15)
			.attr("y", prev_y + 15)
	}


	node.attr("filter", "url(#grayscale)")

};


// // Attr
// var label_attr = {
// 	"text-anchor":"middle",
// 	"font-family":"Helvetica",
// 	"font-size":"8pt"
// }

// var data = [
// 	{"major":"Symbolic Systems", "prop":.2}, 
//     {"major":"Computer Science", "prop":.5}, 
//     {"major":"Communicatins", "prop":.15},
//     {"major":"Rest", "prop":.15}
// ];

// var w = 900,                        
//     h = 300,                           
//     r = 100,                         
//     color = d3.scale.category20c();     //builtin range of colors
	
// var vis = d3.select("#wide-content-container")
//     .append("svg:svg")              
//     .data([data])                   //associate our data with the document
//         .attr("width", w)        
//         .attr("height", h)
//     .append("svg:g")                //make a group to hold our pie chart
//         .attr("transform", "translate(" + (w / 2) + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

// // arc drawing function
// var arc = d3.svg.arc()             
//     .outerRadius(r);

// var pie = d3.layout.pie()       
//     .value(function(d) { return (d.prop * 100); });    //we must tell it out to access the value of each element in our data array

// var arcs = vis.selectAll("g.slice")    
//     .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties) 
//     .enter()             
//         .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
//             .attr("class", "slice");  

//     arcs.append("svg:path")
//             .attr("fill", function(d, i) {
//             	console.log(color(i))
//             	return color(i); 
//          	})
//             .attr("d", arc);   

//     // Add Labels
//     arcs.append("svg:text")            
//             .attr("transform", function(d) {                    //set the label's origin to the center of the arc
//             //we have to make sure to set these before calling arc.centroid
//             d.innerRadius = 0;
//             d.outerRadius = r;
//             return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
//         })
//         .attr(label_attr) 
                       
//         .text(function(d, i) {
//         	var major = data[i].major
//         	if (major.indexOf(" ") != -1)
//         		major = major.substring(0, major.indexOf(" ")) + "\n" + major.substring(major.indexOf(" "))
//         	return major;
//         });   
    

</script>
{% endblock %}


