{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/feed.css" />


<!-- JS -->
<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/helpers.js"></script>

<script type="text/javascript">


</script>
{% endblock %}



{% block content %}

<div id="content-container" class="main-container">
	<div id="feed-container">

		<!-- Header -->
		<div id="header-container">
			<h1>Feed</h1>

			<!-- <div id="feed-link-container" class="pull-right">
		
				<div id="quick-links-container" class="link">
					Quick Links:
				</div>
				<a href="/build/">
					<div id="build-link-container" class="link">
						Build
					</div>
				</a>

				<a href="/next/">
					<div id="next-link-container" class="link">
						Next
					</div>
				</a>
			</div> -->
		</div>

		<!-- Body Container -->
		<div class="row" id="feed-body-container">
			<div class="left-sidebar column pull-left">
				<div id="user-image-container">
					<img class="profile-image" src="{{user_profile_pic}}" />
				</div>

				<div>
					<div class="feed-item selected">Updates</div>
					<a href="/profile/{{user_id}}/#goal-positions">
						<div class="feed-item">Saved Positions</div>
					</a>
					<a href="/profile/{{user_id}}#saved-paths">
						<div class="feed-item">Saved Paths</div>
					</a>
				</div>
			</div>

			<!-- Feed (Main) Column -->
			<div class="feed-main column">
				{% if feed|length > 0 %}
					{% for f in feed %}
						{% autoescape on %}
						<div class="feed-item" onmouseover="render_thumbnail({{f.stub}}, '{{f.type}}', {{f.body}})"onmouseout="close_thumbnail()">
						{% endautoescape %}
							{% if f.type == "savedcareer" %}
								<a href="/profile/{{f.user_id}}">{{f.user_name}}</a> is interested in <a href="/career/{{f.id}}/">{{f.title}}</a>
							{% elif f.type == "careerpath" %}
								<a href="/profile/{{f.user_id}}">{{f.user_name}}</a> created the career path <a href="/path/{{f.id}}">{{f.title}}</a>
							{% elif f.type == "goalposition" %}
								<a href="/profile/{{f.user_id}}">{{f.user_name}}</a> is interestered in becoming a <a href="/position/{{f.id}}">{{f.title}}</a>
							{% elif f.type == "newuser" %}
								<a href="/profile/{{f.user_id}}">{{f.user_name}}</a> joined Prosperime!
							{% elif f.type == "comment" %}
								<a href="/profile/{{f.user_id}}">{{f.user_name}}</a> commented on 
								
								{% if user.id == f.target_user_id %}
									your 
								{% else %}
									<a href="/profile/{{f.target_user_id}}">{{f.target_user_name}}'s</a>		
								{% endif %}
								
								{{f.target_type}} {{f.target_name}}: {{f.body|slice:":30"}}"
							{% endif %}


						</div>
						<div class="feed-item-timestamp pull-right">
								{{f.date}}
						</div>
					{% endfor %}
					<!-- <div id="more">More</div> -->
				{% else %}
					<p>Sorry, no updates available right now.</p>
				{% endif %}
			</div>

			<!-- Preview Column -->
			<div id="thumbnail-column" class="span3 column">
				<div id="thumbnail-container">
					<!-- Hover gets filled in here -->
				</div>

				<div id="thumbnail-svg-container">
					<!-- SVG here -->
				</div>

			</div>

		</div>	
		
	</div>
</div>
{% endblock %}

{% block templates %}




<script type="text/javascript">

	var paper = null;

	var render_thumbnail = function(stub, type, body) {

		// First empty
		$('#thumbnail-container').empty()
		if (paper != null) {
			clearPaper(paper)
			paper = null
		}

		var template = _.template($('#feed-item-thumbnail-template').html());

		var data = {
			'are_connected':stub["connected"],
			'profile_pic':stub["user_pic"],
			'num_saved_paths':stub["saved_paths"],
			'num_saved_positions':stub["saved_positions"],
			'user_name':stub["user_name"],
			'user_id':stub["user_id"]
		}

		$('#thumbnail-container').append(template(data))

		var secondary_template = null;

		switch(type) {
			case "savedcareer":
				secondary_template = _.template($('#saved-career-thumbnail-template').html());
				data = {
					"career_id":stub["career"]["id"],
					"career_title":stub["career"]["title"],
				}
				break;

			case "goalposition":
				secondary_template = _.template($('#goal-position-thumbnail-template').html());
				data = {
					"position_id":stub["id"],
					"position_title":stub["title"],
				}
				console.log(stub["position"])
				break;

			case "comment":
				secondary_template = _.template($('#comment-thumbnail-template').html());

				data = {
					'body':body,
				}

				break;

			case "careerpath":
				secondary_template = _.template($('#career-path-thumbnail-template').html());

				// If this is first career path, create paper
				if (!paper) 
					paper = new Raphael("thumbnail-svg-container", 250, 200)

				data["paper"] = paper
				data["path"] = stub["path"]

				break;

			case "newuser":
				console.log("newuser")
				break;
		};
		if (secondary_template) {
			$('#thumbnail-secondary-container').append(secondary_template(data))
		}
	};

	var close_thumbnail = function() {
		// $("#thumbnail-container").empty()
	};


</script>

<script type="text/template" id="feed-item-thumbnail-template">
	<div class="thumbnail-image-container">
		<img class="profile-image" src="<%=profile_pic%>" />
	</div>

	<% if (are_connected) {
		%><div class="flat-button blue-button connect-button pull-right">Connected</div><%
	} else {
		%><div class="flat-button green-button connect-button pull-right">Connect</div><%
	} %>

	<div class="thumbnail-info-header"><a href="/profile/<%=user_id%>"><%= user_name%></a></div>
	<div class="thumbnail-info"><%= num_saved_paths %> saved paths</div>
	<div class="thumbnail-info"><%= num_saved_positions %> saved positions</div>

	<div id="thumbnail-secondary-container"></div>


</script>

<script type="text/template" id="saved-career-thumbnail-template">

	<div class="thumbnail-info-header">View Career: <a href="/career/<%=career_id%>/"><%=career_title%></a></div>

</script>

<script type="text/template" id="goal-position-thumbnail-template">

	<div class="thumbnail-info-header">View Position: <a href="/position/<%=position_id%>/"><%=position_title%></a></div>

</script>

<script type="text/template" id="comment-thumbnail-template">
	
	<div class="thumbnail-info">"<%=body%>"</div>

</script>

<script type="text/template" id="career-path-thumbnail-template">

	<%
		for (var n = 0; n < path.length; n++) {
			paper.circle(50, 12 + (36*n), 12).attr({
				'fill':'rgb(52,152,219)',
				'stroke-width':0,
			})

			// Make sure text will fit
			if (path[n].title.length > 30) {
				// Find nearest word
				var split_index = path[n].title.substring(0,30).lastIndexOf(" ")

				path[n].title = path[n].title.substring(0,split_index) + "\n" + path[n].title.substring(split_index)
			}

			paper.text(75, 12 + (36*n), path[n].title).attr({
				'font-size':12,
				'text-anchor':'start'
			})

			if (n > 0) {
				var prev_y = 12 + (36*(n-1)) + 12
				paper.path("M50,"+prev_y+" L50,"+(36*n)).attr({
					'stroke':'#777'
				})
			}
		}
	%>

</script>

{% endblock %}