{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/chosen.css"/>

<!-- JS -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/cache.js"></script>

    <style type="text/css">


			
	.axis path,
	.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}
	
	.axis text {
		font-family: sans-serif;
		font-size: 11px;
	}

	.node {
		cursor:pointer;
	}

	select {
		width:350px;
	}
		
    </style>


{% endblock %}



{% block content %}

<div id="wide-content-container" style="min-height:600px;"class="main-container">

	<a href="/internships_v2/">Other</a>

	<div id="header-container">
		<p class="feature-page-header">Internships: <span id="school-name"></span></p>
		<p class="feature-page-subheader">Use the chart below to learn more about which employers are hiring interns from which schools. Click on an employer to dive deeper.</p>
		
		{% if user.is_authenticated %}
			<select id="schools-select" multiple class="chzn-select" data-placeholder="School" data-type="school">
				<!-- Fill in -->
			</select>

			<select id="majors-select" multiple class="chzn-select" data-placeholder="Major" data-type="major">
				<!-- Fill in -->
			</select>

			<br/><br/>
	
			<label>Rhombi only:
				<input class="opts" value="rhombus" type="checkbox"/>
			</label>

			<label>Ellipse only:
				<input class="opts" value="ellipse" type="checkbox"/>
			</label>

			<label>Crosshair only:
				<input class="opts" value="crosshair" type="checkbox"/>
			</label>

			<label>Turn on dots (unfinished):
				<input class="opts" value="dots" type="checkbox"/>
			</label>


		{% endif %}

	
	</div>



</div>
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">

	var filters = {
		"majors":[],
		"schools":[]
	},
		logging = true,
		w = 1000,
		h = 550,
		padding = 50,
		color = d3.scale.category20c(),   
		cache = null,
		data = [],
		activate_dots = false;


	// *FROM API*
	// xLabel, yLabel
	var xRange = [0,3000]
	var yRange = [0,100]


	$(function() {
		// Set up inputs
		fillSelectInputs(schools, majors)
		setupInputs($("#schools-select"))
		setupInputs($("#majors-select"))
		$(".chzn-select").chosen()
		// Set up checkboxes (for dev only)
		listenToCheckboxes()
		// Set up cache
		cache = new ClientCache()
		// Get Data
		updateData()
		// Set axes
		updateAxes()
		// Run viz
		run()
	});

	// this would ping the API (currently just generates random nonsense)
	function updateData() {
		// check client cache
		console.log("$$$$    " + filtersToKey(filters) + "    $$$$")
		if (cache.contains(filtersToKey(filters))) {
			_log("[client] cache hit")
			data = cache.get(filtersToKey(filters))
			return true;
		}
		var updated_data = [{}]
		// get random # items, selection of entities
		var num_items = Math.round(Math.random() * 7) + 1
		var new_keys = shuffle(keys).slice(0,num_items)

		for (k in new_keys) {
			// fill two randomly sized arrays with random numbers
			var d1 = random_array(9, xRange[0], xRange[1])
			var d2 = random_array(9, yRange[0], yRange[1])
			// JS workaround to get the keys in correctly
			updated_data[k][new_keys[k]] = [d1, d2]
			updated_data.push({})
		};
		// remove the last dummy value
		updated_data.pop() 
		// set cache
		cache.set(filtersToKey(filters), updated_data)
		// not sure why but won't set in here
		data = updated_data
	};


	function formatData(data) {
		var formatted_data = []
		// Expects an array of dicts s.t. [k=string/val=[[a],[b]]]
		for (index in data) {
			// Want to return data s.t.
			// key => [[x1,y1], [x2,y2]]
			var key = Object.keys(data[index])
			var arrays = data[index][key]
			var d1 = arrays[0]
			var d2 = arrays[1]

			// _log("Original Data: " + d1 + "     |      " + d2)
			for (d in d1) if (d1[d] > xRange[1]) alert("x")
			for (z in d2) if (d2[d] > yRange[1]) alert("y")

			var mid_y = mean(d2)
			var mid_x = mean(d1)

			var sd_x = standardDeviation(d1, mid_x)
			var sd_y = standardDeviation(d2, mid_y)

			// _log("sd_x: " + sd_x + " sd_y: " + sd_y)

			// IF INTEGERS ONLY...
			// don't let values fall below min or above max
			var x_1 = Math.max(Math.round(mid_x - sd_x), xRange[0])
			var x_2 = Math.min(Math.round(mid_x + sd_x), xRange[1])

			var y_1 = Math.max(Math.round(mid_y - sd_y), yRange[0])
			var y_2 = Math.min(Math.round(mid_y + sd_y), yRange[1])
			
			_log(key + "[" + x_1+", "+x_2+"] [" + y_1 + "," + y_2 + "]")

			// _log("Cleaned data: " + [x_1,mid_x,x_2] + "    |    " + [y_1, mid_y, y_2])

			// Hackery preserves the key
			var uniq_id = createKey(key)
			formatted_data.push({})
			formatted_data[formatted_data.length - 1][key] = [[x_1, mid_x, x_2], [y_1, mid_y, y_2], uniq_id]
		};
		return formatted_data;
	};




	function run() {

		// Format Data
		data = formatData(data)
		//Create nodes
		var nodes = svg.selectAll("g.node")
		    .data(data, function(d) {
		    	return d[Object.keys(d)][2]
		    })

		// Exit old ones
		nodes.exit().remove()

		// Create node G
		var inner_sel = nodes.enter().append("svg:g")
		   		.attr("class", "node")
		   		.on("mouseover", function(d) {
		   			nodeMouseover(d3.selectAll(".node"), this)
		   			showYears(d3.select(this), xScale(d[Object.keys(d)][0][1]), yScale(d[Object.keys(d)][1][0]))
		   		})
		   		.on("mouseout", function(d) {	
		   			nodeMouseout(d3.selectAll(".node"), this)
		   			hideYears(d3.select(this))
		   		})

		// Horizontal Crosshair
	   	inner_sel
	   			.append("svg:line")
	   				.attr("class", "horizontal crosshair")
	   				.attr("x1", function(d) {
	   					return xScale(d[Object.keys(d)][0][0])
	   				})
	   				.attr("x2", function(d) {
	   					return xScale(d[Object.keys(d)][0][2])
	   				})
	   				.attr("y1", function(d) {
	   					return yScale(d[Object.keys(d)][1][1])
	   				})
	   				.attr("y2", function(d) {
	   					return yScale(d[Object.keys(d)][1][1])
	   				})
	   				.attr("stroke", function(d, i) { return color(i) })
	   				.attr("stroke-width",1)
	   	// Vertical Crosshair
	   	inner_sel
	   			.append("svg:line")
	   				.attr("class", "vertical crosshair")
	   				.attr("x1", function(d) {
	   					return xScale(d[Object.keys(d)][0][1])
	   				})
	   				.attr("x2", function(d) {
	   					return xScale(d[Object.keys(d)][0][1])
	   				})
	   				.attr("y1", function(d) {
	   					return yScale(d[Object.keys(d)][1][0])
	   				})
	   				.attr("y2", function(d) {
	   					return yScale(d[Object.keys(d)][1][2])
	   				})
	   				.attr("stroke", function(d, i) { return color(i) })
	   				.attr("stroke-width",1)

	   	var outline = inner_sel
	   		.append("svg:g")
	   			.attr("class", "outline")
	   	// rhombus via path
	   	outline
	   		.append("svg:path")
	   			.attr("d", line)
	   			.attr("class", "rhombus")
	   			.attr("fill", function(d,i) { return color(i) })
	   			.attr("fill-opacity", 0.7)

	   	// text
	   	outline
	   		.append("svg:text")
	   			.text(function(d) {
	   				return Object.keys(d)
	   			})
	   			.attr("x", function(d) {
	   				return xScale(d[Object.keys(d)][0][1])
	   			})
	   			.attr("y", function(d) {
	   				return yScale(d[Object.keys(d)][1][1])
	   			})
	   			.attr("text-anchor", "middle")

	   	// ellipse
	   	outline.append("svg:ellipse")
	   		.attr("cx", function(d) {
	   			return xScale(d[Object.keys(d)][0][1])
	   		})
	   		.attr("cy", function(d) {
	   			return yScale(d[Object.keys(d)][1][1])
	   		})
	   		.attr("rx", function(d) {
	   			var array = d[Object.keys(d)][0]
	   			return xScale(array[2]) - xScale(array[1])
	   		})
	   		.attr("ry", function(d) {
				var array = d[Object.keys(d)][1]
				return yScale(array[0]) - yScale(array[1])
	   		})
	   		.attr("stroke", "rgba(51,51,51,0.5)")
	   		.attr("fill", "none")
	   		.attr("class", "ellipse")
	}


                      
	var schools = [
		{"name": "Stanford University", "value":7},
		{"name": "California Institute of Technology", "value":10},
		{"name": "UC-Berkeley", "value":22},
		{"name": "University of Southern California", "value":17},
		{"name": "Yale", "value":4},
	]

	var majors = [
		{"name": "Mechanical Engineering", "value":11},
		{"name": "Computer Science", "value":12},
		{"name": "Communications", "value":13},
		{"name": "English", "value":14},
		{"name": "Biology", "value":15},
	]

	var keys = ["Google", "J.P. Morgan", "IBM", "Kirkland & Ellis LLP", "Twitter", "Home Depot", "Barclays", "BMW", "Lockheed Martin", "United States Air Force", "EMI Records", "Pixar"]
	
	//Create scale functions
	var xScale = d3.scale.linear()
						 .domain(xRange)
						 .range([padding, w - padding]);

	var yScale = d3.scale.linear()
						 .domain(yRange)
						 .range([h - padding, padding]);

	//var formatAsPercentage = d3.format(".1%");

	//Define X axis
	var xAxis = d3.svg.axis()
					  .scale(xScale)
					  .orient("bottom")
					  .ticks(5)
					  //.tickFormat(formatAsPercentage);

	//Define Y axis
	var yAxis = d3.svg.axis()
					  .scale(yScale)
					  .orient("left")
					  .ticks(5)
					  //.tickFormat(formatAsPercentage);

	//Create SVG element
	var svg = d3.select("#wide-content-container")
				.append("svg")
				.attr("width", w)
				.attr("height", h)
				.attr("transform", "translate(100,50)")



  	function updateAxes() {

		//Create X axis
		svg.append("g")
			.attr("class", "axis")
			.attr("transform", "translate(0," + (h - padding) + ")")
			.call(xAxis);
		
		//Create Y axis
		svg.append("g")
			.attr("class", "axis")
			.attr("transform", "translate(" + padding + ",0)")
			.call(yAxis);

  	};


  	/* Event Handlers */

  	var nodeMouseover = function(all_nodes, target_node) {
  		all_nodes.each(function(d) {
  			if (this == target_node) {
  				// highlight this node
  			} else {
  				// hide these
  				d3.select(this)
  					.select(".outline")
  						.attr("opacity", 0.1)
  					// .selectAll("line")
  					// 	.attr("stroke","#333")
  			}
  			
  		})
  	};

  	var nodeMouseout = function(all_nodes, target_node) {
  		all_nodes.each(function(d) {
  			if (this == target_node) {
  				// reduce it
  			} else {
  				// normalize it
  				d3.select(this)
  					.select(".outline")
  						.attr("opacity", 1)
  			}
  		});
  	};

  	var dummy_data = [
  		{"year":"So.", "quantity":7},
  		{"year":"Jr.", "quantity":9},
  		{"year":"Sr.", "quantity":11},
  	]

  	var showYears = function(selection, x, y) {
  		if (!activate_dots) return false;

  		// don't redraw circles if they already exist
  		if (!d3.selectAll("circle.year-node").empty())
  			return false;

  		var node = selection.selectAll("circle.year-node")
  			.data(dummy_data)
  			.enter().append("svg:g")
  			  	.attr("class", "year-node")
  			  	.attr("data-cx", x)
  				.attr("data-cy", y)

  		node.append("svg:circle")
  				.attr("cx", x)
  				.attr("cy", y)
  				.attr("r",24)
  				.attr("fill", "rgba(104,105,107,0.5)")
  				.attr("stroke", "rgba(104,105,107,0.5)")

  				.transition()
  					.duration(250)
  						.attr("cx", function(d, i) {
  							return x + (70 * (i - 1))
  						})
  						.attr("cy", y + 50)

  		node.append("svg:text")
  			.attr("x", function(d, i) {
  				return x - 70 + (70 * i)
  			})
  			.attr("y", y + 50)
  			.text(function(d) { return d.year})
  			.attr("text-anchor", "middle")

  		node.append("svg:text")
  			.attr("x", function(d, i) {
  				return x - 70 + (70 * i)
  			})
  			.attr("y", y + 70)
  			.text(function(d) { return d.quantity})
  			.attr("text-anchor", "middle")
  	};

  	var hideYears = function(selection) {
  		if (!activate_dots) return false;

  		var x, y;

  		selection.selectAll("g.year-node")
  			.data([])
  			.exit()
  				.transition()
  					.duration(250)
  						.attr("cx", function(d,i) {
  							return d3.select(this).attr("data-cx")
  						})
  						.attr("cy", function(d,i) {
  							return d3.select(this).attr("data-cy")
  						}) 
  				.remove()
  	};

  	// 'd' function for creating rhombus'
	var line = function(d, i) {
		var d1 = d[Object.keys(d)][0]
		var d2 = d[Object.keys(d)][1]

		var l = xScale(d1[0]) + "," + yScale(d2[1])
		var r = xScale(d1[2]) + "," + yScale(d2[1])
		var t = xScale(d1[1]) + "," + yScale(d2[2])
		var b = xScale(d1[1]) + "," + yScale(d2[0])

		return "M" + l + " L" + t + " L" + r + " L" + b + "z"
	}


  	/* Lowly Helpers */

  	function createKey(a) {
  		return a + filters["majors"].join("-") + filters["schools"].join("-") 
  	};	

  	function mean(a) {
  		var sum = 0
  		for (i in a)
  			sum += a[i]
  		return sum/a.length
  	};

  	function standardDeviation(a, mean) {
  		var sum = 0, length = a.length
  		for (var i = 0; i < length; i++) {
  			sum += Math.pow(a[i] - mean, 2)
  		}
  		return Math.pow(sum/length, 0.5)
  	};

	function shuffle(o) {
	    for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
	    return o;
	};

	function random_array(max_elems, min, max) {
		var num_elems = Math.ceil(Math.random() * max_elems)
		var array = []
		// // for truly random numbers
		// for (var j = 0; j < num_elems; j++) {
		// 	array.push(Math.floor(Math.random() * (max - min)) + min)
		// };
		// for slight localization
		array.push(Math.floor(Math.random() * (max - min)) + min)
		for (var i = 0; i < num_elems - 1; i++) {
			var num = Math.floor(
				(Math.random() * (array[0] + (max - array[0]) / 2)) + (array[0] - (min + array[0])/2)
			)
			if (num > max) num = max
			if (num < min) num = min
			array.push(num)
		};
		return array;
		
	};

	function fillSelectInputs(schools, majors) {
		var majors_html = "", schools_html = "";
		for (index in majors)
			majors_html += "<option value='" + majors[index]["value"] + "'>" + majors[index]["name"] + "</option>"
	
		for (index in schools)
			schools_html += "<option value='" + schools[index]["value"] + "'>" + schools[index]["name"] + "</option>"
	
		$("#schools-select").html(schools_html)
		$("#majors-select").html(majors_html)
	};

	function setupInputs(input) {
		$(input).on("change", function(ev) {
			// catch query, update filters
			var is_null = ($(this).val()) ? false : true;
			// get input type
			var type = $(this).data("type")
			// update filter
			switch(type) {
				case "major":
					if (is_null) filters["majors"] = []
					else filters["majors"].push($(this).val())
					break;
				case "school":
					if (is_null) filters["schools"] = []
					else filters["schools"].push($(this).val())
					break;
				
			}	
			// update data
			updateData()
			// update viz
			run()
		});
	};

	// Creates a cache key given current filters
	function filtersToKey(filters) {
		var string = filters["majors"].join()+filters["schools"].join()
	    return cache.generateKey(string)
	};

	// Logging function that can be toggled 
	function _log(text) {
		if (logging) console.log(text)
	};


	// just toggles shapes for viewing
	function listenToCheckboxes() {
		$(".opts").on("change", function(e) {
			var type = $(this).val()
			var selection = null;

			switch(type) {
				case "crosshair":
					selection = d3.selectAll(".rhombus, .ellipse")
					break;
				case "rhombus":
					selection = d3.selectAll(".ellipse, .crosshair")
					break;

				case "ellipse":
					selection = d3.selectAll(".crosshair, .rhombus")
					break;
				case "dots":
					if (this.checked) activate_dots = true;
					else activate_dots = false;
					return;
			}

			if (this.checked) selection.attr("opacity", 0)
			else selection.attr("opacity", 1)

		})
	}


	

</script>
{% endblock %}


