{% extends "base_full.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/career.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/majors.css" />
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

{% endblock %}


{% block content %}



<div id="content-container" class="main-container">
	{% if major.long_title %}
		<p class="v2-feature-page-header">
			<span class="black">Major: </span>
			{{major.long_title}}
		</p>
	{% else %}
		<p class="v2-feature-page-header">
			<span class="black">Major: </span>
			{{major.title}}
		</p>
	{% endif %}
	{% if major.description %}
		<p class="main-sub-header">{{major.description}}</p>
	{% endif %}
	<!-- <p>Prosper.me gets better the more people that use it. Tell your friends!</p> -->

	<div id="career-profile-container">

	
		<div class="single-section-header pull-left">People </div>
		<div class="single-section-header pull-left">First Job </div>
		<div class="single-section-header pull-left">Current Job </div>
		<div class="clear"></div>
		
	</div>
</div>

{% endblock %}

{% block templates %}
<script type="text/javascript">
$(function() {
	// nav for in - network / all
	$("a.career-profile-nav").click(function() {
		var view = $(this).data('view');
		$("a.career-profile-nav").removeClass("selected").addClass("unselected");
		$(this).addClass("selected").removeClass("unselected");
		$("div.career-perspective").hide();
		$("div.career-perspective[data-view='"+view+"']").show();
	});

	if ($("#cta-container")) {
		alert('hello');
		setTimeout(function() {
			$("#cta-container").addClass("show")
		},2500);
	};

	// d3 functions

	// data vars
	window.people;
	var first_jobs, 
		current_jobs;

	// 
	var width = 1000,
		height = 750,
		img_x_offset = 25,
		img_text_offset = 5,
		img_height = 55,
		img_width = 55,
		img_container = 90,
		job_container = 90;

	// init svg container
	svg = d3.select("#career-profile-container").append("svg")
		.attr("width",width)
		.attr("height",width);

	// add grayscale filters
	var filter = svg.append("svg:defs")
		.append("svg:filter")
			.attr("id","grayscale")
		.append("svg:feColorMatrix")
			.attr("type","matrix")
			.attr("values","0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0");

	var glow_filter = svg.append("svg:defs")
		.append("svg:filter")
			.attr("id","glow")
			.attr("width","3.5")
			.attr("height","3.5")
			.attr("x","-.25")
			.attr("y","-.25")
		.append("svg:feGaussianBlur")
			.attr("in","SourceAlpha")
			.attr("stdDeviation",15.000000)
			.attr("result","blur")
		.append("svg:feColorMatrix")
			.attr("result","bluralpha")
			.attr("type","matrix")
			.attr("values","-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 0.800000 0")
		.append("svg:feOffset")
			.attr("in","bluralpha")
			.attr("dx","0.000000")
			.attr("dy","0.000000")
			.attr("result","offsetBlur");

	var feMerge = glow_filter.append("feMerge");

	feMerge.append("feMergeNode")
		.attr("in","offsetBlur")
	feMerge.append("feMergeNode")
		.attr("in","SourceGraphic")	


	// get data
	var updateData = function() {
		$.get("/careers/getSingleMajorData/"+{{major.id|safe}}, function(response) {
				if (response["result"] == "success") {
					// breakdown data
					people = response["people"]
					first_jobs = response["first_jobs"]
					current_jobs = response["current_jobs"]
					// update wrapper
					updateGraph();
				}
			}, "json");
	};

	// wrapper function for updating separate elements, in case of future complexity
	var updateGraph = function() {
		updatePeople()
		updateFirstJobs()
		updateCurrentJobs()
		updateLines()
	};

	// update people
	var updatePeople = function() {
		// logging
		// console.log("updating people...")
		// console.log(people)
		// bind data
		var people_container = svg.selectAll("g.image")
			.data(people,function(d) { return d.id;});

		// simple remove function
		people_container.exit()
			.remove();

		// transition old elements
		people_container.transition()
			.duration(250)
			.attr("x",0)
			.attr("y",function(d,i) {return (i * img_container) + 25;})

		var g = people_container.enter().append("g")
			.attr("class","image")
			.attr("first_job", function(d) { return d.first_job; })
			.attr("current_job", function(d) { return d.current_job; })
			.attr("id",function(d) { return "person-group-"+d.id;});

		// add image
		g.append("image")
			.attr("x",img_x_offset)
			.attr("y",function(d,i) {return (i * img_container) + 25;})
			.attr("height", img_height)
			.attr("width", img_width)
			.attr("xlink:href", function(d) { return d.pic })
			.attr("filter","url(#grayscale)")
			.attr("id", function(d) { return "person-"+d.id });
		
		// add name
		g.append("text")
			.attr("x",img_text_offset)
			.attr("y",function(d,i) {return (i * img_container) + 18;})
			.attr("class","hidden-name")
			.text(function(d) {return d.fullname;});

		g.on("mouseover",function(d) {
			showLines(d.id);
			// repaint triggered elements to get back on top
			this.parentNode.appendChild(this);
			var el = document.getElementById("first-job-group-"+d.first_job)
			// console.log(el.previousSibling);
			el.parentNode.appendChild(el.previousSibling);
			el.parentNode.appendChild(el);
			var el = document.getElementById("current-job-group-"+d.current_job)
			el.parentNode.appendChild(el.previousSibling);
			el.parentNode.appendChild(el);
			// magnification effect
			d3.select(this).select("image")
				.attr("height",img_height+10)
				.attr("width",img_width+10)
				.attr("filter","");
			d3.select(this).select("text")
				.attr("class","hover-name");
			// add filter to boxes
			console.log("#first-job-rect-"+d.first_job)
			d3.select("#first-job-rect-"+d.first_job)
				// .attr("filter","url(#glow)")
				// .attr("stroke","rgb(48,91,152)")
				// .attr("stroke-width",1)
				// .attr("fill","rgb(255,255,255)")
			d3.select("#current-job-rect-"+d.current_job)
				// .attr("stroke","rgb(48,91,152)")
				// .attr("stroke-width",1)
				// .attr("filter","url(#glow)")
				// .attr("fill","rgb(255,255,255)")
		}).on("mouseout",function(d) {
			d3.select(this).select("image")
				.attr("height",img_height)
				.attr("width",img_width)
				.attr("filter","url(#grayscale)")
			d3.select(this).select("text")
				.attr("class","hidden-name")
			// remove filter from boxes
			d3.select("#first-job-rect-"+d.first_job)
				.attr("filter","")
			d3.select("#current-job-rect-"+d.current_job)
				.attr("filter","")
			hideLines(d.id);
		});

	};

	var updateFirstJobs = function () {
		// logging
		// console.log("updating first jobs");
		// console.log(first_jobs);

		// bind data
		var first_jobs_container = svg.selectAll("g.first-job")
			.data(first_jobs,function(d) { return d.id;});

		// simple remove function
		first_jobs_container.exit()
			.remove();

		// transition old elements
		first_jobs_container.transition()
			.duration(250)
			.attr("x",300)
			.attr("y",function(d,i) {return (i * job_container) + 25;})

		// add enter
		var g = first_jobs_container.enter().append("g")
			.attr("class","first-job")
			.attr("id",function(d) { return "first-job-group-"+d.id;});

		// append rects
		g.append("rect")
			.attr("x",300)
			.attr("y",function(d,i) {return (i * job_container) + 35;})
			.attr("width",250)
			.attr("height",35)
			.attr("fill","rgb(255,255,255)")
			.attr("id",function(d) { return "first-job-rect-"+d.id;})
			.attr("class","first-job-box");

		// append text
		g.append("text")
			.attr("x",315)
			.attr("y",function(d,i) {return (i * job_container) + 45;})
			.attr("class","first-job-title")
			.attr("people",function(d) { return d.people; })
			.attr("current_jobs",function(d) { return d.current_jobs; })
			.attr("id",function(d) {return "first-job-"+d.id})
			.text(function(d) {return d.title;});

		// add actions
		g.on("mouseover",function(d) {
			showLines(d.people);
			// repaint triggered elements to get back on top
			this.parentNode.appendChild(this);
			var el = document.getElementById("current-job-group-"+d.current_job)
			// el.parentNode.appendChild(el.previousSibling);
			el.parentNode.appendChild(el);
			var el = document.getElementById("people-group-"+d.people)
			el.parentNode.appendChild(el);
			// magnification effect
			userMouseOver("#people-"+d.people)
			d3.select("#first-job-rect-"+d.first_job)
				// .attr("stroke","rgb(48,91,152)")
				// .attr("stroke-width",1)
				// .attr("filter","url(#glow)")
			d3.select("#current-job-rect-"+d.current_job)
				.attr("filter","url(#glow)")
		}).on("mouseout",function(d) {
			userMouseOut("#people-"+d.people)
			// remove filter from boxes
			d3.select("#first-job-rect-"+d.first_job)
				// .attr("stroke","rgb(48,91,152)")
				// .attr("stroke-width",1)
				.attr("filter","")
			d3.select("#current-job-rect-"+d.current_job)
				// .attr("stroke","rgb(48,91,152)")
				// .attr("stroke-width",1)
				.attr("filter","")
			hideLines(d.people);
		});
	};
	
	var updateCurrentJobs = function () {

		// bind data
		var current_jobs_container = svg.selectAll("g.current-job")
			.data(current_jobs,function(d) { return d.id;});

		// simple remove function
		current_jobs_container.exit()
			.remove();

		// transition old elements
		current_jobs_container.transition()
			.duration(250)
			.attr("x",700)
			.attr("y",function(d,i) {return (i * job_container) + 25;})

		// enter function
		var g = current_jobs_container.enter().append("g")
			.attr("class","current-job")
			.attr("height",35)
			.attr("width",250)
			.attr("id",function(d) { return "current-job-group-"+d.id});

		// append rects
		g.append("rect")
			.attr("x",700)
			.attr("y",function(d,i) {return (i * job_container) + 35;})
			.attr("width",155)
			.attr("height",25)
			.attr("fill","rgb(255,255,255)")
			.attr("id",function(d) { return "current-job-rect-"+d.id;})
			.attr("class","current-job-box");

		// append text		
		g.append("text")
			.attr("x",715)
			.attr("y",function(d,i) {return (i * job_container) + 45;})
			.attr("class","current-job")
			.attr("people",function(d) { return d.people; })
			.attr("first_jobs",function(d) { return d.first_jobs; })
			.attr("id",function(d) {return "current-job-"+d.id})
			.text(function(d) {return d.title;});

		// add actions
		g.on("mouseover",function(d) {
			showLines(d.people);
			// repaint triggered elements to get back on top
			this.parentNode.appendChild(this);
			var el = document.getElementById("first-job-group-"+d.current_job)
			// el.parentNode.appendChild(el.previousSibling);
			el.parentNode.appendChild(el);
			var el = document.getElementById("people-group-"+d.people)
			el.parentNode.appendChild(el);
			// magnification effect
			userMouseOver("#people-"+d.people)
			d3.select("#first-job-rect-"+d.first_job)
				.attr("filter","url(#glow)")
			d3.select("#current-job-rect-"+d.current_job)
				.attr("filter","url(#glow)")
		}).on("mouseout",function(d) {
			userMouseOut("#people-"+d.people)
			// remove filter from boxes
			d3.select("#first-job-rect-"+d.first_job)
				.attr("filter","")
			d3.select("#current-job-rect-"+d.current_job)
				.attr("filter","")
			hideLines(d.people);
		});
	};

	var updateLines = function () {
		console.log("adding lines...")
		// add lines
		var lines_container = svg.selectAll("path")
			.data(people,function(d) { return d.id;});

		// simple remove function
		lines_container.exit()
			.remove()

		// line generator
		var lineGen = d3.svg.line()
			.x(function(d) { return d.x })
			.y(function(d) { return d.y })
			.interpolate("monotone");

		// transition old elements
		lines_container.transition()
			.duration(250)
			.attr("d", function(d,i) { return lineGen([
					{'x':75,'y':(i*img_container) + 45	},
					{'x':d3.select("#first-job-"+d.first_job).attr("x"),'y':d3.select("#first-job-"+d.first_job).attr("y")},
					{'x':d3.select("#current-job-"+d.current_job).attr("x"),'y':d3.select("#current-job-"+d.current_job).attr("y")}
					]);}
			)
			.attr("fill","none")
			// .attr("stroke","")
			.attr("stroke-width",1);

		// enter function
		lines_container.enter().append("path")
			.attr("id",function(d) { return "line-"+d.id})
			.attr("d", function(d,i) { return lineGen([
					{'x':75,'y':(i*img_container) + 45},
					{'x':d3.select("#first-job-"+d.first_job).attr("x"),'y':d3.select("#first-job-"+d.first_job).attr("y")},
					{'x':d3.select("#current-job-"+d.current_job).attr("x"),'y':d3.select("#current-job-"+d.current_job).attr("y")}
					]);}
			)
			.attr("fill","none")
			// .attr("stroke","")
			.attr("stroke-width",1);

	};

	var userMouseOver = function(selector) {
		$(selector).parentNode.appendChild($(selector))
		d3.select(selector).select("image")
			.attr("height",img_height+10)
			.attr("width",img_width+10)
			.attr("filter","");
		d3.select(selector).select("text")
			.attr("class","hover-name");
	};

	var userMouseOut = function(selector) {
		d3.select(selector).select("image")
			.attr("height",img_height)
			.attr("width",img_width)
			.attr("filter","url(#grayscale)")
		d3.select(selector).select("text")
			.attr("class","hidden-name")
	};

	var showLines = function(id) {
		console.log("#line-"+id);
		d3.select("#line-"+id)
			.attr("stroke","rgba(41,128,185,0.7)")
			.attr("stroke-width");
	};

	var hideLines = function(id) {
		d3.select("#line-"+id)
			.attr("stroke","none")
			.attr("stroke-width",1);
	}

	// var getLinePath = function(origin_x,origin_y,data) {
		
	// 	var coords = [{'x':origin_x,'y':origin_y}]
	// 	console.log("#first-job-"+data.first_job)
	// 	var first_job_node = d3.select("#first-job-"+data.first_job)
	// 	// var first_job_node = $("#first-job-"+data.first_job)
	// 	coords.push({'x':first_job_node.attr("x"),'y':first_job_node.attr("y")})
	// 	var current_job_node = $("current-job-"+data.current_job)
	// 	coords.push({'x':current_job_node.x,'y':current_job_node.y})
	// 	// console.log(coords)
		
	// 	console.log(result)
	// };

	// var getFirstJobHTML = function(data) {
	// 	var html = "<span class='first-job-title'>"+data.title+"</span>"
	// 	return html
	// }

	// var getCurrentJobHTML = function(data) {
	// 	var html = "<span class='current-job-title'>"+data.title+"</span>"
	// }

	updateData();

})
</script>

<!-- Not tested -->
<script type="text/template" id="path-row-template">
	
		<div class="row-fluid path-row">
			<div class="span2 center">
				<img class="major-profile-pic" src="<%=profile_pic%>" />
				<div class="path-person-title"><%=full_name%></div>
			</div>
			<div class="span4 path-position">
				<%=first_title%> at <%=p.first_entity%>
			</div>
			<div class="span2 spacer"> </div>
			<div class="span4 path-position">
				<%=p.latest_title%> at <%=p.latest_entity%>
			</div>
		</div>


</script>

{% endblock %}
