{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/majors.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <style type="text/css">
        .box {
			/*margin:0px;
			margin-bottom:1px;*/
			/*border:1px solid rgba(104,105,107,0.3);*/
			text-align:left;
			padding:2px;
			width:250px;
			font-size:0.9em;
			height:22px;
			margin:5px 0 0 5px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			/*border-radius:4px;*/
			cursor:pointer;
			overflow:hidden;
			/*position:relative;
			z-index:0;*/

      	}

     	.block { 
     		display:inline-block;
			vertical-align: top;
     	}


	    #center {
	      	text-align:center;
	      	width:250px;
	      	margin:0 auto;
	     }

     	#left {
			width:350px;
     	}

     	#right {
     		width:350px;
     	}

     	.abs {
     		position:absolute;
     	}

     	.person-box {
    		background-color:rgba(41,128,185,0.8);
    		/*background-color:rgba(41,91,152,0.8);*/
     		color:#ECF0F1;
			font-size:0.9em;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding:2px;
			padding-left:4px;
			padding-right:4px;
			border-radius:2px;
			height:22px;
			line-height:20px;
     	}

     	.major-hover {
     		/*background-color:rgba(41,128,185,0.7);*/
     		/*color:#ECF0F1;*/
     	/*	line-height:40px;
     		height:40px;
     		z-index:10;
     		float:left;
     		clear:none;
     		font-size:1.2em;
     		background-color:#fff;
     		padding-bottom:2px;
     		position:absolute;
     		-webkit-box-shadow: 0px 0px 4px #181818;
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -7px 0 rgba(0,0,0,.6), inset 0 -9px 0 rgba(255,255,255,.3);
	box-shadow: inset 0 0 2px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -7px 0 rgba(0,0,0,.6), inset 0 -9px 0 rgba(255,255,255,.3);
			box-shadow: 2px 2px 2px rgba(48,91,152,.8);
			box-shadow: 1px 1px 2px #181818;
			border-style:outset;
			border: 1px solid grey;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;*/
     	}

     	.section-header,.section-header-middle,.section-header-right {
     		/*font-size:1.2em;*/
     		text-align:center;
     		opacity:0; /* allows animation in */
     	}

     	.section-header {
     		width:250px;
     		margin-right:100px;
     	}

     	.section-header-right {
     		width:250px;
     		margin-left:75px;
     	}

     	#header-container {
     		width:100%;
     		/*height:50px;*/
     	}

     	#loading-message {
     		position:absolute;
     		left:500px;
     		top:225px;
     		font-size:2.8em;
     		font-weight:600;
     	}

    </style>


{% endblock %}

{% block extramessage %}
	{% if not user.is_authenticated %}
		<div id="cta-container">
			
				See personalized results, filters and more. Connect with one click&nbsp;&nbsp; <a class="flat-button green-button button-med" href="/account/authorize">Connect with LinkedIn</a>
			
		</div>
	{% endif %}
{% endblock %}


{% block content %}

<div id="wide-content-container" class="main-container">

	<div id="header-container">
		<p class="feature-page-header">What can you do with your major?</p>
		<p class="feature-page-subheader">Use the graph below to see which majors lead to what jobs. Click on any major to learn more.</p>
		
		{% if user.is_authenticated %}
		<div id="filter-form">
			<p>Filter by school, major or job: <input id="majors-filter-input" data-val-id="" class="flat-input" placeholder="Start typing... "/></p>
		</div>
		<div class="filters-container">
			<ul id="filters-list" class="flat-list inline">

			</ul>
		</div>
		{% endif %}
		
	</div>
	<div>
			<div class="section-header block pull-left">People</div>
			<div class="section-header-middle block pull-left">College Majors</div>
			<div class="section-header-right block pull-left">First Jobs</div>
			<div class="clear"></div>
	</div>

	<!-- These divs have to be written this way with no linebreak between them for the SVG to run flush against the main container. Thank you StackOverflow. -->
	<div id="left" class="block"></div><div id="center" class="block"></div><div id="right" class="block"></div>

	<div id="loading-message">Loading...<img src="{{STATIC_URL}}img/spinner.gif" /></div>
	
</div>
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">

	// Instance Variables (ok they're Globals...)
	var people = null;
	var positions = null;
	var majors = null;
	var svg_left, center, svg_right;
	var filters = {
		'majors':[],
		'schools':[],
		'jobs':[]
	}

	// Constants
	var svg_width = 350; var svg_height = 1100; 
	var magic_number = 575; 
	// 600 is the upper limit of what fits on my laptop

	var img_height = 35;
	var img_width = 35;

	var main_blue = "rgba(48,91,152,0.7)"
	var main_blue_fuller = "rgba(48,91,152,0.9)"


	/************/
	/*** MAIN ***/
	/************/

	// On DOM ready, AJAX to db for d3 data
	$(function() {
		if ($("#cta-container")) {
			setTimeout(function() {
				$("#cta-container").addClass("show")
			},2500);
		};	
		if ("{{cache}}" == "hit") {
			console.log("Hit Cache, render immediately")
			// set dst's
			people = shuffle({{majors.people|safe}})
			positions = shuffle({{majors.positions|safe}})
			majors = {{majors.majors|safe}}
			// logging
			console.log(people)
			// console.log(majors)

			// render viz
			renderViz()
		} else {
			$.get("/careers/getMajorsData/", function(response) {
				if (response["result"] == "success") {
					console.log("Missed Cache, AJAX to DB")
					// set dst's
					people = shuffle($.parseJSON(response["people"]))
					positions = shuffle($.parseJSON(response["positions"]))
					majors = $.parseJSON(response["majors"])
					// logging
					// render viz
					renderViz()
				}
			}, "json");
		};

		// function updateData() {
		// 	// make ajax call
		// 	$.get("/careers/getMajorsData/", {'majors':filters['majors'],'jobs':filters['jobs'],'schools':filters['schools']},function(response) {
		// 		if (response["result"] == "success") {
		// 			console.log("updating data...")
		// 			// deconstruct data
		// 			people = $.parseJSON(response["people"])
		// 			positions = $.parseJSON(response["positions"])
		// 			majors = $.parseJSON(response["majors"])
		// 			// update data in d3 objects
		// 			updateMajors();
		// 			updatePeople();
		// 			updatePositions();
		// 			drawLines();
		// 			console.log('lines drawn')
		// 		}
				
		// 	},"json");
			

		
		// };


		// Filters Autocomplete
		$('#majors-filter-input').autocomplete({
			minLength: 3,
			source: '/careers/getMajorsFilters/',
			select: function(event,ui) {
				console.log(ui)
				event.preventDefault();
				$(this).val(ui.item.label_short);
				$(this).data('val-id',ui.item.value);
				$(this).data('val-cat',ui.item.type)
			},
			// Makes the display the major instead of id
			focus: function(event,ui) {
				event.preventDefault()
				$(this).val(ui.item.label_short)
			},
		})
		// Filters keypress
		.keypress(function(e) {
			if(e.which == 13) {
				var input = $('#majors-filter-input')
				var cat = input.data('val-cat')
				// add to global filter set

				filters[cat].push(input.data('val-id'));			
				// add to list
				$("#filters-list").append("<li class='filters-item'>"+input.val()+" <span data-type='" + cat + "' data-id='" + input.data("val-id") + "' data-name='"+$("#majors-filter-input").val() +"' class='remove-filter' onclick='updateFilters(this)'>X</span></li>");
				// empty out input bar
				input.val("")
				// update data
				updateData()
			}
		});
	});

	function updateFilters(el) {
		// Get id, filter type
		console.log(filters)
		var type = $(el).data("type")
		var id = parseInt($(el).data("id"))
		console.log($(el).data("name"))
		console.log("type: " + type + " id: " + id)
		// Remove filter from list
		$(el).parent().remove()

		// Get new data
		var index = filters[type].indexOf(id)
		filters[type].splice(index, 1) 
		console.log(filters)
		updateData()
	};

	// AJAX to DB for new set of data
	function updateData() {
		$.get("/careers/getMajorsData/", {'majors':filters['majors'],'jobs':filters['jobs'],'schools':filters['schools']},function(response) {
			if (response["result"] == "success") {
				// deconstruct data
				people = $.parseJSON(response["people"])
				/* Clay - Bugs in what the API is returning incl. duplicate values... maybe just me? */
				// positions = $.parseJSON(response["positions"])
				majors = $.parseJSON(response["majors"])
				// update data in d3 objects
				updateMajors();
				updatePeople();
				updatePositions();
				// drawLines();
			}				
		},"json");
	};


	// Main fxn, takes care of all SVG drawing
	var renderViz = function() {
		// print out dst sizes (convenience)
		console.log("#Majors: "+ Object.keys(majors).length)
		console.log("#People: "+people.length)
		console.log("#Positons: "+positions.length)

		// hide loading message, fade in column headers
		$("#loading-message").fadeOut(100, function() {
			$(".section-header,.section-header-middle,.section-header-right").each(function() {
				$(this).animate({"opacity":1} , "250")
			})

		})

		// add majors
		updateMajors()

		// create each svg container
		svg_left = createSvgContainer("left")
		svg_right = createSvgContainer("right")

		// get y_offset for scaling dist between dots

		// y_offset = Math.floor(magic_number / (people.length / 4))

		// add people nodes
		// updatePeople(svg_left, y_offset)
		updatePeople()

		// get y_offset for scaling dist between dots

		// y_offset = Math.floor(magic_number / positions.length)

		// code roughly scales the positions down so, at most, right col is 100 pixels taller than center col
		var majors_column_height = parseInt(d3.select("#center").style("height"))
		magic_number = (majors_column_height + 100 < 560) ? majors_column_height + 100 : 560;
		y_offset = Math.ceil(magic_number / positions.length)

		// add position nodes
		// updatePositions(svg_right, y_offset)
		updatePositions()

		// draw connecting lines
		// drawLines(svg_left, svg_right)

		// drawLines()

	};



	function updateMajors() {
		// Add Center divs (Majors)
		center = d3.select("#center").selectAll("div")
			.data(Object.keys(majors), function(d) {
				// Don't know why, but this gets called twice,
				// one with old data, once with new data
				if (d in majors) return majors[d].id
			}).order()

		// remove old nodes
		center.exit()
			.transition()
				.duration(400)
				.style("opacity", 0)
				.remove()


		// add new nodes
		center.enter().append("div")
			// Set text of Major div
			.html(function(d) { 
				if (d.length >= 36) {

					var txt = "<span class='degree-magnified'><span class='degree-abbr'>" + majors[d].abbr + "</span>" + d.substring(0,33) + "</span><span class='degree-major'>" + d.substring(0,33) + "...</div>"
					return txt
				} else {
					var txt = "<span class='degree-magnified'><span class='degree-abbr'>" + majors[d].abbr + "</span>" + d + "</span><span class='degree-major'>" + d + "</div>"
					return txt 
				}
			})

			.attr("class", "box")
			.attr("id",function(d) { return "major-" + majors[d].id})

			// Major mouseover
			.on("mouseover", function(d) {

				// Add hover class
				d3.select(this).attr("class", "box major-hover")
				
				// Make lines blue

				// ++ lineMouseover(d3.selectAll(".line-"+majors[d].index))
				lineMouseover(d3.selectAll(".line-"+majors[d]["id"]))
			
				// trigger person and position mouseovers
				triggerUserAndPositionMouseover(d)

			})

			// Major mouseout
			.on("mouseleave", function(d) {
				// normalize class
				d3.select(this).attr("class", "box")

				// Make lines grey again

				// ++ lineMouseout(d3.selectAll(".line-"+majors[d]["index"]))
				lineMouseout(d3.selectAll(".line-"+majors[d]["id"]))

				// trigger user and position mouseouts
				triggerUserandPositionMouseout(d)
			})
			// Click -- go to individual major page
			.on("click", function(d) {
				window.location = "/majors/" + majors[d]["id"] + "/"
			})


		// Reset indices after enter so that existing elements
		// and newly added ones are effected.
		// Then re-order them by index
		center
			.attr("data-index", function(d, i) { return i  })
			.order()

	};

	

	// Creates SVG container, returns d3 handle
	function createSvgContainer(selector) {
		container = d3.select("#" + selector).append("svg")
			.attr("width",svg_width)
			.attr("height",svg_height)
			.attr("id","svg-" + selector)
		var filter = container.append("svg:defs")
			.append("svg:filter")
				.attr("id","grayscale")
			.append("svg:feColorMatrix")
				.attr("type","matrix")
				.attr("values","0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0");

		return container
	};


	// Adds people nodes in svg container
	function updatePeople() {
	// function updatePeople(svg_left, y_offset) {
		// Add user nodes to left svg
		var svg = svg_left.selectAll("image")

			.data(people,function(d){return d.id;}).order()
		
		// remove existing
		svg.exit()
			// .transition()
			// 	.duration(500)
			// 	.attr("x",0)
			// 	.attr("y",0)
			.remove();


		// update existing nodes... why doesn't .update() work??
		svg.transition()
			.duration(400) // Clay -- made this shorter (400)
			.attr("x", function(d, i) { // staggers nodes x-value
				if (i % 4 == 0) return img_width
				else if (i % 4 == 1) return img_width * 2
				else if (i % 4 == 2) return img_width * 3
				else return img_width * 4
			})
			.attr("y", function(d, i) {
				return Math.floor(i / 4) * img_height;

			})
			.each("end", drawLinesGate)



		svg.enter().append("image")
			.attr("x", -50) // start off the canvas, animate on
			.attr("y", function(d, i) {
				return Math.floor(i / 4) * img_height;
			})
			.attr("height", img_height)
			.attr("width", img_width)
			.attr("xlink:href", function(d) { return d.pic })
			.attr("filter","url(#grayscale)")
			.attr("id", function(d) { return "person-"+d.id })
			.attr("data-name", function(d) { return d.name })
		.transition()
			.duration(400)
			.each("end", drawLinesGate)
			.attr("x", function(d, i) { // staggers nodes x-value
				if (i % 4 == 0) return img_width
				else if (i % 4 == 1) return img_width * 2
				else if (i % 4 == 2) return img_width * 3
				else return img_width * 4
			})


		svg.on("mouseover", function(d) {
				// ??
				this.parentNode.appendChild(this);
				// Magnify image
				d3.select(this).attr("height",img_height+15)
				d3.select(this).attr("width",img_height+15)
				// d3_this.attr("x",parseInt(this.getAttribute("x")) - 7)
				// Remove filter
				d3.select(this).attr("filter","")

				// Get major div
				var major_node = d3.select("#major-"+d.major_id)
				// Add hover to it
				major_node.attr("class", "box major-hover")
				
				// Make lines blue
				/* Clay -- why major_index here and not id? (on mouseout too) */
				// ++ lineMouseover(d3.selectAll(".line-"+d.major_index))
				lineMouseover(d3.selectAll(".line-"+d.major_id))

				// Trigger hover on user, position dots
				triggerUserAndPositionMouseover(d.major)
			})

			.on("mouseout", function(d) {
				// resize
				
				// d3.select(this).attr("x",parseInt(this.getAttribute("x"))+7)
				d3.select(this).attr("height",img_height)
				d3.select(this).attr("width",img_width)
				d3.select(this).attr("filter","url(#grayscale)")
				// get major node
				// var major_node = d3.select("#major-"+d.major_index)
				var major_node = d3.select("#major-"+d.major_id)
				// normalize class
				major_node.attr("class", "box")

				// Make lines grey again

				// ++ lineMouseout(d3.selectAll(".line-"+d.major_index))
				lineMouseout(d3.selectAll(".line-"+d.major_id))
				
				// Remove user hover
				triggerUserandPositionMouseout(d.major)
			});
	};

	// function updatePositions(svg_right, y_offset) {
	function updatePositions() {
		var svg = svg_right.selectAll("circle").data(positions);

		svg.exit()
			// .transition()
			// 	.duration(500)
			// 	.attr("cx",250)
			// 	.attr("cy",0)
			.remove()

		// Transitions positions to new location

		svg.transition()
			.duration(500)
			.attr("cx", function(d, i) { // staggers nodes x-value
				if (i % 4 == 0) return 200
				else if (i % 4 == 1) return 250
				else if (i % 4 == 2) return 160
				else return 220
			})
			.attr("cy", function(d, i) {
				if ((i + 1) % 2 == 0) return i * y_offset
				else return (i + 1) * y_offset
			});

		svg.enter().append("circle")
			.attr("cx", function(d, i) { // staggers nodes x-value
				if (i % 4 == 0) return 200
				else if (i % 4 == 1) return 250
				else if (i % 4 == 2) return 160
				else return 220
			})
			.attr("cy", function(d, i) {
				if ((i + 1) % 2 == 0) return i * y_offset
				else return (i + 1) * y_offset
			})
			.attr("r", 5)
			.attr("fill", "none")

			.attr("stroke",main_blue)
			.attr("stroke-width", 2)
			.attr("id", function(d) { return "position-"+d.id })
			.attr("data-title", function(d) { return d.title })
			.on("mouseover", function(d) {
				// Get major div

				var major_node = d3.select("#major-"+d.major_id)
				// Add hover to it
				major_node.attr("class", "box major-hover")
				// Make lines blue

				/* Clay -- check this code */
				// ++ lineMouseover(d3.selectAll(".line-"+d.major_index))
				lineMouseover(d3.selectAll(".line-"+d.major_id))
				// Trigger hover on users, position
				triggerUserAndPositionMouseover(d.major)
			})

			.on("mouseout", function(d) {
				// get major node
				var major_node = d3.select("#major-"+d.major_id)
				// normalize class
				major_node.attr("class", "box")

				// Make lines grey again
				/* Clay -- check this */
				// ++ lineMouseout(d3.selectAll(".line-"+d.major_index))
				lineMouseout(d3.selectAll(".line-"+d.major_id))

				// Trigger mouseout on user, position
				triggerUserandPositionMouseout(d.major)
			});
	};

	var transition_counter = 0;
	/* Tactics... catch each individual transition's end event,
		increment counter. Once all end events transferred, save to 
		re-draw lines to new locations */
	var drawLinesGate = function() {
		if (transition_counter++ >= people.length - 1) drawLines()
	};

	// Iterates through each major, gets ids of positions, people
	//  draws lines to each
	// function drawLines(svg_left, svg_right) {
	function drawLines() {
// <<<<<<< HEAD
// 		// var lines_left = svg_left.selectAll("path").remove()
// 		// var lines_right = svg_right.selectAll("path").remove()
// 		$("path").remove()
// 		// Add all connecting lines

// 		for (key in majors) {
// 			// console.log(majors[key])
// 			var left_y,
// 				left_x,
// 				right_y,
// 				right_x; 
// 			// console.log("#major-"+majors[key]["id"])
// 			var index = d3.select("#major-"+majors[key]["id"]).attr("data-index")
// 			// console.log(index)
// 			// people <--> majors
// 			var people = majors[key]["people"]
// 			// console.log(people)
// 			for (var j = 0; j < people.length; j++) {
				
// 				left_y = parseInt($("#person-"+people[j]).attr("y")) + img_height
// 				// console.log("#person-"+people[j])
// 				left_x = parseInt($("#person-"+people[j]).attr("x")) + 3

// 				right_y = 16 + (27 * index)
// 				right_x = 360
// 				d3_drawLines(svg_left, left_x, left_y, right_x, right_y, majors[key]["index"])
// =======
		transition_counter = 0
		// Remove existing lines
		// var lines_left = svg_left.selectAll("path").remove()
		// var lines_right = svg_right.selectAll("path").remove()
		$("path").remove()

		// Add all connecting lines
		var left_y,
			left_x,
			right_y,
			right_x;
		for (key in majors) {

			var index = d3.select("#major-"+majors[key]["id"]).attr("data-index")

			// people <--> majors
			var people = majors[key]["people"]

			for (var j = 0; j < people.length; j++) {
				// left_y = parseInt($("#person-"+people[j]).attr("y")) + img_height
				left_y = d3.select("#person-"+people[j]).attr("y")	
				// left_x = parseInt($("#person-"+people[j]).attr("x")) + 3
				left_x = d3.select("#person-"+people[j]).attr("x")

				right_y = 22 + (27 * index)
				right_x = 360
				// ++ d3_drawLines(svg_left, left_x, left_y, right_x, right_y, majors[key]["index"])
				d3_drawLines(svg_left, left_x, left_y, right_x, right_y, majors[key]["id"])
// >>>>>>> 50402b2a748ffff16b1fb5d883e323082eeede0f
			};

			// majors <--> positions
			var positions = majors[key]["positions"]
// <<<<<<< HEAD
// 			for (var l = 0; l < positions.length; l++) {
// 				left_y = 13 + (27 * index)
// 				left_x = 0
// 				right_y = $("#position-"+positions[l]).attr("cy")

// 				right_x = parseInt($("#position-"+positions[l]).attr("cx")) - 6	

// 				d3_drawLines(svg_right, right_x, right_y, left_x, left_y, majors[key]["index"])
// =======
			if (key in majors) {
				for (var l = 0; l < positions.length; l++) {
					left_y = 13 + (27 * index)
					left_x = 0
					right_y = $("#position-"+positions[l]).attr("cy")

					right_x = parseInt($("#position-"+positions[l]).attr("cx")) - 6	
					// ++ d3_drawLines(svg_right, right_x, right_y, left_x, left_y, majors[key]["index"])
					d3_drawLines(svg_right, right_x, right_y, left_x, left_y, majors[key]["id"])
				};
			};
		};
	};



	/* HELPERS */
	function d3_drawLines(container, x1, y1, x2, y2, index) {

		var hinge = (container.attr("id") == "svg-right") ? 130 : (img_width * 4)+45;
		var data = [{"x":x1, "y":y1}, {"x":hinge, "y":y1}, {"x":x2, "y":y2}]
	
		var line_gen = d3.svg.line()
			.x(function(d) { return d.x })
			.y(function(d) { return d.y })
			.interpolate("monotone")

		container.append("svg:path")
			.attr("d", line_gen(data))
			.attr("fill","none")
			// .attr("stroke", "rgba(104,105,107,0.1)")
			// .attr("stroke","rgb(255,255,255)")
			.attr("stroke-width", 1)
			.attr("class", function(d) { 
				return "line-" + index
		});
	};

	function d3_drawTooltip(container, x, y, text, id, direction) {
		container.append("div")
			.text(text)
			.attr("class", "abs person-box")
			.style("left", x + "px")
			.style("top", y + "px")
			.attr("id", id)

		// if (direction == "left") {
		// 	// reposition to the other side
		// 	var width;
		// 	container.selectAll(".abs").each(function(d) {
		// 		width = parseInt(d3.select(this).style("width"))
		// 		//console.log("was: "+ x + " w: " + width)
		// 		d3.select(this).style("left", x - width - 18 + "px")
		// 		//console.log(d3.select(this).style("left"))
		// 	});
		// };
		
	};


	/* HANDLERS */
	function positionMouseover(position_node) {

		// Get user name from node
		var title = position_node.attr("data-title")
		var id = position_node.attr("id").split("-")[1]

		// make sure hover hasn't already been triggered
		if ($("#position-hover-"+id == 0)) {

			// make node blue, bigger

			position_node.attr("fill", main_blue_fuller).attr("r",8)

			// get coordinates for tooltip
			var container_offset = $("#right").offset()
			var x = String(parseInt(position_node.attr("cx")) + container_offset.left + 10)
			var y = String(parseInt(position_node.attr("cy")) + 3 + container_offset.top - 13) 

			// draw tooltip
			var parent_container = d3.select("#right")
			d3_drawTooltip(parent_container, x, y, title, "position-hover-"+id, "right")
		};
	};

	// returns position node to original attr
	function positionMouseout(position_node) {

		position_node.transition().duration(250).attr("fill","none").attr("stroke-width",2).attr("r",5)

	};


	function userMouseOver(user_node) {

		// Get user name from node
		var user_name = user_node.attr("data-name")
		var id = user_node.attr("id").split("-")[1]
		var el = document.getElementById(user_node.attr("id"))
		// make sure hover hasn't already been triggered
		if ($("#person-hover-"+id).length == 0) {

			// make node blue, bigger
			// user_node.attr("fill", "#3498DB").attr("r",6)
			
			el.parentNode.appendChild(el);
			user_node.transition().duration(50)
				.attr("height",img_height+20)
				.attr("width",img_height+20)
				// .attr("x",parseInt(user_node.attr("x")) - 10)
				.attr("filter","");
			// get coordinates for tooltip
			var container_offset = $("#left").offset()
			var x = String(parseInt(user_node.attr("cx")) + container_offset.left + 10)
			var y = String(parseInt(user_node.attr("cy")) + 3 + container_offset.top - 13) 

			// append tooltip
			var parent_container = d3.select("#left")
			// d3_drawTooltip(parent_container, x, y, user_name, "person-hover-"+id, "left")
		};
	};

	// Returns user nodes to normal state
	function userMouseOut(user_node) {
		// animate node to normal size
		// user_node.transition().duration(250).attr("fill", "#fff").attr("r",4)
		// resize
		user_node.transition().duration(50)
			.attr("height",img_height)
			.attr("width",img_height)
			// .attr("x",parseInt(user_node.attr("x")) + 10)
			.attr("filter","url(#grayscale)")
		// fade out and remove name boxes
		d3.selectAll(".abs").transition(250).duration(200).style("opacity", 0).remove()
	};

	// Makes lines blue, bigger
	function lineMouseover(selection) {
// <<<<<<< HEAD
// 		selection.attr("stroke","rgba(41,128,185,0.7)")
// 			.attr("stroke-width",1)
// 	};
// 	// Makes lines grey, smaller
// 	function lineMouseout(selection) {
// 		selection
// 			// .attr("stroke", "rgba(104,105,107,0.3)")
// 			// .attr("stroke","rgb(255,255,255)")
// 			.attr("stroke","")
// 			.attr("stroke-width",1)
// 	};


// 	var profile_task_id,
// 		connections_task_id;

// 	var update_task_status = function(id,status) {
// 		// determine what class to add
// 		if (status == "success") {
// 			var msg_class = "success";
// 			var msg_text = "We have completed syncing with your LinkedIn account. Please refresh the page to see more results.";
// 		} else if (status == "failure") {
// 			var msg_class = "info";
// 			var msg_text = "We have encountered an error processing your LinkedIn account.";
// 		} else {
// 			var msg_class = "info";
// 			var msg_text = "We are still syncing your LinkedIn profile...";
// 		}
// 		// check if messages are present
// 		var msg_container = $("div#messages");
// 		if (!$.contains(document.documentElement,msg_container)) {
// 			// messages div is not present, update
// 			var block = "<div id='messages'>\n<ul class='messages'>\n<li class="+msg_class+" data-task-id="+id+">"+msg_text+"</li>\n</ul>\n</div>";
// 			$("div.messages-container").append(block);
// 		} else {
// 			// messages div is present, check to see if this particular message is present
// 			var msg = $("li#[data-task-id='"+id+"']");
// 			if(!$.contains(document.documentElement,msg)) {
// 				// element does not exist, create
// 				var message = "<li class='info' data-task-id="+id+">"+msg_text+"</li>";
// 				$("ul.messages").append(message);
// 			} else {
// 				// message is already present
// 				msg.removeClass();
// 				msg.addClass(msg_class);
// 			}
// 		}
// 	};
	
// 	var check_task = function(id) {
// 		setTimeout(function() {
// 			console.log("checking task again...")
// 			var url = "/tasks/" + id + "/status"
// 			$.ajax({
// 					url:url,
// 					success: function(data) {
// 						if (data.task.status == "SUCCESS") {
// 							// task already completed, updated with success message
// 							update_task_status(id,'success');
// 						} else if (data.task.status == "FAILURE") {
// 							// task failed
// 							// update_task_status(id,'failure');

// 						} else {
// 							// task still pending
// 							check_task();
// 						}
// 					},
// 					dataType:"json"})
// 		},2500);

// 	};
	
// 	var tasks = {% if tasks %} true {% else %} false {% endif %};
// 	{% if tasks %}
// 	if (tasks == true) {
// 		console.log("tasks...")
// 		var profile_task_id = {% if profile_task_id %} "{{profile_task_id|safe}}" {% else %} null {% endif %}
// 		var connections_task_id = {% if connections_task_id %} "{{connections_task_id|safe}}" {% else %} null {% endif %}
// 	};	
// 	{% endif %}
// 	if (profile_task_id != null) {
// 		check_task(profile_task_id);
// 	};
// 	// if (connections_task_id != null) {
// 	// 	check_task(connections_task_id);
// 	// };


	
// 	// function personMouseover(d) {

	// 	// make sure hover hasn't already been triggered
	// 	if ($("#person-hover-"+d.name.split(" ")[0]).length == 0) {

	// 		// get dot
	// 		var parent = d3.select(this)

	// 		// make node blue, bigger
	// 		parent.attr("fill", "#3498DB").attr("r",6)

	// 		// get coordinates for tooltip
	// 		var container_offset = $("#left").offset()
	// 		var x = String(parseInt(parent.attr("cx")) + container_offset.left + 10)
	// 		var y = String(parseInt(parent.attr("cy")) + 3 + container_offset.top - 13) // 10 = person-box.height / 2 ?

	// 		// append tooltip
	// 		var parent_container = d3.select("#left")
	// 		parent_container.append("div")
	// 			.text(d.name)
	// 			.attr("class", "abs person-box")
	// 			.style("left", x + "px")
	// 			.style("top", y + "px")
	// 			.attr("id", "person-hover-"+d.name.split(" ")[0])
	// 	}
	// };

	// svg_right.selectAll("rect").data(positions).enter().append("rect")
// 	.attr("x", function(d, i) { return 290 })
// 	.attr("y", function(d, i) { return 10 * i })
// 	.attr("width", 50)
// 	.attr("height", 10)
// 	.attr("stroke","#ECF0F1")
// 	.attr("stroke-width","1")
// 	.attr("fill", "rgba(41,128,185,0.7)")
// 	.attr("id", function(d) { return "position-"+d.id })
// 	.attr("data-title", function(d) { return d.title })

// 	// add mouseover/mouseout events (hover)
// 	.on("mouseover", function(d) {
// 		d3.select(this).transition(400)
// 			.text(function(d) { return d.title })
// 			.attr("color", "#ECF0F1")
// 			.attr("x", function(d) {
// 				 return d3.select(this).attr("x") - 105 })
// 			.attr("y", function(d) {
// 				return d3.select(this).attr("y") - 12 })
// 			.attr("height",25)
// 			.attr("width",100)
// 			.toFront()
// 	});
	// .on("mouseout", function(d) {
	// 	userMouseOut(d3.select(this))
	// });
// =======
		selection.attr({
			"stroke":main_blue,
			"stroke-width":1
		});
	};

	// Makes lines grey, smaller
	function lineMouseout(selection) {
		selection.attr("stroke","")
	};

	var triggerUserAndPositionMouseover = function(key) {
		// Trigger hover on user dots
		for (p in majors[key]["people"]) {
			var user_node = d3.select("#person-"+majors[key]["people"][p])
			userMouseOver(user_node)
		};

		// Trigger hover on position dots
		for (p in majors[key]["positions"]) {
			var position_node = d3.select("#position-"+majors[key]["positions"][p])
			positionMouseover(position_node)
		}
	};

	var triggerUserandPositionMouseout = function(key) {
		// Remove user hover
		for (p in majors[key]["people"]) {
			var user_node = d3.select("#person-"+majors[key]["people"][p])
			userMouseOut(user_node)
		};

		// Trigger hover on position dots
		for (p in majors[key]["positions"]) {
			var position_node = d3.select("#position-"+majors[key]["positions"][p])
			positionMouseout(position_node)
		};
	};





	function shuffle(o) {
	    for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
	    return o;
	}

	/* DEPRECATED */

	function userMouseOverAll() {
		for (p in majors[d]["people"]) {
			var user_node = d3.select("#person-"+majors[d]["people"][p])
			userMouseOver(user_node)
		};
	};

	function userMouseOutAll() {
		for (p in majors[d]["people"]) {
			var user_node = d3.select("#person-"+majors[d]["people"][p])
			userMouseOut(user_node)
		};

	};


/* TODO 
: animate nodes, pictures, divs in 
: add a button in case "enter" isn't intuitive
: deal with position changes... doing nothing


*/

</script>
{% endblock %}


