{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/on_track.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>

{% endblock %}



{% block content %}

<div id="content-container" class="main-container">

	<!-- Main Header -->
	<div id="on-track-header" class="h1 center">
		Am I on track?
	</div>
	
	<div style="visibility:hidden;" id="search-again-button" class="flat-button green-button float-right" onclick="backToSearch()">Search again</div>

	<!-- Search Box Wrapper --> 
	<div id="search-box-wrapper" class="center">
		<div class="input-prepend">
  			<span id="enlarge" class="add-on">I want to be: </span>
  			<select id="goal-position-box">
  				<option value="" disabled selected>&nbsp;&nbsp;&nbsp;&nbsp;Select your goal position...</option>
				{% for o in options %}
					<option value="{{o.ideal_id}}">{{o.title}}</option>
				{% endfor %}
				<option value="build">I'm not sure!</option>
  			</select>
		</div>

		<div class="call-out-text">Don't see what you're looking for? <a href="/">Let us know.</a></div>
  			
		<div id="show-results-button" class="prompt-button flat-button not-shown" onclick="positionSelected()">	See Your Results
		</div>

	</div>

	<!-- Call to Build Wrapper -->
	<div id='call-to-build-wrapper' class='call-out-text not-shown'>	Unsure of what your options are? 

		{% if authenticated %}
			<br/><br/>
			<a href="/build">
				<div class='flat-button turquoise-button prompt-button'>Find out.</div>
			</a>
		{% else %}
			<br/><br/>
			That's the question we specialize in answering. 
			<br/><br/> 
			ProsperMe analyzes your existing academic and professional career so that you can discover options that are relevant and personalized for you. 
			<br/><br/> 
			<a href='/account/register/'>Sound good?</a>
			It is, and it's free. <br/><br/>
			<a href='/account/register/'>
				<div id='register-button' class='flat-button prompt-button'>Explore Your Future</div>
			</a>
		{% endif %}
	</div>

	<!-- Get Info Wrapper -->
	<div id="get-info-wrapper" class="not-shown">
		<div class="call-out-text center offset2 span8">
			Before we can analyze whether you're on track, we need to know more about you! Keep in mind that the more information you give us, the more thorough analysis we can do, and the more personalized the results will be. <br/> You can either...
		</div>

		<div id="button-wrapper" class="center">

			<div id="tell-us-more-button" class="flat-button large-button prompt-button left-button turquoise" onclick="renderTellUsMoreForm()">
				Tell us about yourself!
			</div>

			<span class="call-out-text"> or </span>

			<a href="/account/authorize">
			<div id="linkedin-button" class="flat-button large-button prompt-button right-button dark-blue">
				Login with LinkedIn
			</div>
			</a>
		</div>
	</div>


	<!-- Preview Wrapper -->
	<div id="preview-wrapper" class="center">
		<div class="preview-section">
			<div class="section-header">We can show you: </div>
			<ul>
				<li>The dominant career paths that lead to your goals</li>
				<li>Related professionals in your desired career</li>
				<li>Important statistics, like how long it takes to get there</li>
			</ul>
		</div>

		<div class="preview-section">
			<div id="img-placeholder">SCREENSHOT</div>
		</div>
	</div>

	<!-- Form Wrapper -->
	<div id="form-wrapper" class="center not-shown"> 
		<div class="section-header">Tell us more about yourself by clicking on the categories below...</div>

		<div class="tell-us-more-header" data-section_type="education">
			<i class="icon-chevron-sign-right"></i>
			<span>Education</span>
		</div>

		<div class="tell-us-more-header" data-section_type="experience">
			<i class="icon-chevron-sign-right"></i>
			<span>Experience</span>
		</div>

		<div class="tell-us-more-header" data-section_type="skills">
			<i class="icon-chevron-sign-right"></i>
			<span>Skills</span>
		</div>

		<div id="inline-form-container"></div>

	</div>

	<!-- Results Wrapper--> 
	<div id="results-wrapper" class="center not-shown">	

	</div>

	<!-- Progress Wrapper (Your path) -->
	<div id="progress-wrapper" class="center not-shown">
		<div class="section-header center">You</div>
		<div class="path-bar"></div>


		<div style="display:none;" class="progress-info-bar"></div>
		<div style="display:none;" class="progress-bar"> </div>
		<div style="display:none;" id="progress-bar-svg-container"></div>
		<div style="display:none;" class="end-goal-wrapper"> </div>
		<div style="display:none;" id="tell-us-more-results-button" class="green-button prompt-button" onclick="getAndRenderResults('tell-us-more')">See your results</div>
	</div>

	<div id="call-to-action-wrapper" class="center not-shown">
		<div class='call-out-text'>Don't like what you see?</div>

		<div class='flat-button prompt-button turquoise-button left-button' onclick='resultsToTellUsMore()'>Tell us more about yourself</div>

		<a href='/account/register/'>
			<div class='flat-button prompt-button turquoise-button right-button'>Take the next step</div>
		</a>
	</div>

{% csrf_token %}
</div>
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">


	// = #2980B9 (belize hole)
	var color_map = [
		"rgba(41,128,185,0.4)",
		"rgba(41,128,185,0.5)",
		"rgba(41,128,185,0.6)",
		"rgba(41,128,185,0.7)",
		"rgba(41,128,185,0.8)",
		"rgba(41,128,185,0.9)",
		"rgba(41,128,185,1)",
		"rgba(41,128,185,0.4)",
		"rgba(41,128,185,0.5)",
		"rgba(41,128,185,0.6)",
		"rgba(41,128,185,0.7)",
		"rgba(41,128,185,0.8)",
		"rgba(41,128,185,0.9)",
		"rgba(41,128,185,1)",
	]

	// DST for storing any data the user inputs
	// var path = []

	/* Main */	
	$(function() {
		// setup CSRF token
		$.ajaxSetup({
	        beforeSend: function(xhr, settings) {
	            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	                // Only send the token to relative URLs i.e. locally.
	                xhr.setRequestHeader("X-CSRFToken",
	                                     $("input[name='csrfmiddlewaretoken']").val());
	            }
	        }
	    });
	    jQuery.ajaxSetup({async:true})

		// Change handler on the main select box
		$("#goal-position-box").change(function() {

			// Remove previous end goal from progress bar
			$(".end-item").remove()

			// Hide Preview
			// TODO: add analytics to this, because it's the first step
			if (!$("#preview-wrapper").hasClass("not-shown")) {
				$("#preview-wrapper").fadeOut(250, function() {
					$(this).toggleClass("not-shown")
					selectItemChanged()
				});
			} else selectItemChanged()
		});

		// Make each form header clickable
		$(".tell-us-more-header").each(function() {
			$(this).click(function(ev) {
				formSectionClicked(ev, this)
			})
		})

		// Draw squiggle ahead of time
		var mini_paper = new Raphael("progress-bar-svg-container",30,100)
		mini_paper.path("M15,10 L15,40 L30,47 L0,54 L15,61 L15,90").attr({
			"stroke-width":2, "stroke":"#68696b"
		})

	});

	
	var path = {{positions|safe}}


/******************/
/*  Main Methods  */
/******************/
	var getAndRenderResults = function(origin) {
		//console.log(origin)
		if (origin == "tell-us-more") {
			// hide form wrapper
			$("#form-wrapper").fadeOut(250, function() { $(this).addClass("not-shown")})
			$("#tell-us-more-results-button").fadeOut(100).fadeIn(100).fadeOut(250)
			$("#call-to-action-wrapper").removeClass("not-shown").hide().delay(500).fadeIn(250)
		}

		// Hide show results button
		$("#show-results-button").fadeOut(500, function() { $(this).addClass("not-shown") });

		// Render existing path (if applicable)
		console.log("Existing Path: ")
		console.log(path)

		// AJAX for ideal paths
		var ideal_id = parseInt($("#goal-position-box :selected").val())
		$.get("/careers/getIdealPaths", {"ideal_id":ideal_id}, function(response) {
			renderResults(response)

			// Show existing positions
			if ($("#progress-wrapper").hasClass("not-shown") && path.length > 0) {
				if ($("#progress-wrapper .path-item").length > 0) {
					$("#progress-wrapper").removeClass("not-shown").hide().fadeIn(250)
					$("#call-to-action-wrapper").removeClass("not-shown").hide().fadeIn(500)
				} else {
					renderPath($("#progress-wrapper .path-bar"), path)
					$("#progress-wrapper").removeClass("not-shown")
					$("#call-to-action-wrapper").removeClass("not-shown").hide().fadeIn(500)
				}
			}	
		}, "json")

		// Slide search wrapper out of the way
		$("#search-box-wrapper").slideUp(300)

		// Show back button
		$("#search-again-button").css("visibility", "visible")
	}

	// Handles rendering all ideal paths returned from server
	var renderResults = function(paths) {
		for (var key in paths) {

			// Get path
			var $path = paths[key]

			// Add new bar, set vars
			$("#results-wrapper").append("<div class='path-bar'></div>").removeClass("not-shown").hide().fadeIn(250)
			var $bar = $("#results-wrapper .path-bar :last")

			// Render bar
			renderPath($bar, $path)
		};
	};


	// Renders a single path inside of $container
	var renderPath = function($container, path) {

		var width = Math.floor(100/path.length) + "%"
		for (var j = 0; j < path.length; j++) {

			// b/c of API idiosyncrasies
			if ("display_text" in path[j])
				$container.append("<div class='path-item' style='width:"+width+";background-color:"+color_map[j]+";'>"+path[j]["display_text"]+"</div>")

			if ("pos_title" in path[j])
				$container.append("<div class='path-item' style='width:"+width+";background-color:"+color_map[j]+";'>"+path[j]["pos_title"]+"</div>")
			else
				$container.append("<div class='path-item' style='width:"+width+";background-color:"+color_map[j]+";'>"+path[j]["title"]+"</div>")
		}

		// make full width, then resize items
		$container.animate({"width":"80%"}, "500", function() {
			// text-resizing black magic
			$(".path-item", $container).each(function() {
				resizeText(this)
			})
		})	
	};

	var resultsToTellUsMore = function() {
		// Hide results... need to pipe positions to path
		$("#results-wrapper").fadeOut(250, function() { $(this).addClass("not-shown") });

		// Hide call to action buttons
		$("#call-to-action-wrapper").fadeOut(250, function() { $(this).addClass("not-shown") });	

		// Show form
		$("#form-wrapper").removeClass("not-shown").hide().fadeIn(500)
	};



/******************/
/*    Handlers    */
/******************/
	// Responds to main select box change event
	var selectItemChanged = function() {

		// If !authenticated, ask for more info
		if (path.length == 0) {
			renderGetMoreInfo()

		// Else, check if "build" selected
		} else {
			if ($("#goal-position-box :selected").val() == "build") {
				if ($("#call-to-build-wrapper").hasClass("not-shown"))
					$("#call-to-build-wrapper").removeClass("not-shown").hide().fadeIn(250)
				if (!$("#show-results-button").hasClass("not-shown"))
					$("#show-results-button").fadeOut(250, function() {
						$(this).addClass("not-shown")
					})
				
			// Else, allow show select button
			} else {
				if (!$("#call-to-build-wrapper").hasClass("not-shown"))
					$("#call-to-build-wrapper").hide(function() {
						$(this).addClass("not-shown")
					}); 
				renderSelectButton() 
			}
		}
	}

	// Responds to selecting a goal position
	var positionSelected = function() {

		// Get selected ideal_id
		var ideal_id = $("#goal-position-box :selected").val()

		// Else, AJAX for results
		$.get("/careers/getProgress", {"ideal_id":ideal_id}, function(response) {
			if (response["result"] == "success") {
				getAndRenderResults(response)
			} else {
				console.log("Failure: " + response["errors"])
			}
		}, "json")
	};

	// Goes back to the search box, erases current results
	var backToSearch = function() {

		// Show search box
		$("#search-box-wrapper").removeClass("not-shown").hide().slideDown(250)

		// Hide Button
		$("#search-again-button").css("visibility", "hidden")

		// Hide Results
		$("#results-wrapper").fadeOut(250, function() { $(this).addClass("not-shown") });

		// Hide Call to Action
		$("#call-to-action-wrapper").fadeOut(250, function() { $(this).addClass("not-shown") });

		// If form, hide that too
		$("#form-wrapper").fadeOut(250, function() { $(this).addClass("not-shown") });

		// Erase previous path bars
		$("#results-wrapper .path-bar").each(function() {
			$(this).remove()
		})

		// Hide You bar
		$("#progress-wrapper").addClass("not-shown")
	};





	// Renders the basic blurb/info and screenshot
	var renderGetMoreInfo = function() {
		$("#get-info-wrapper").removeClass("not-shown").hide().fadeIn(500)
	};

	// Renders a single path/progress bar
	var renderProgressBar = function(data) {
		var width = Math.floor(100/data.length)
		for (var j = 0; j < data.length; j++) {

			$(".progress-bar").append("<div class='progress-item' style='background-color:" + color_map[j] + ";width:"+width+"%'>"+data[j]["title"]+"</div>")
		}
		$("#results-wrapper").toggleClass("not-shown")
	};

	// Changes the input prepend text to "Select" and activates it
	var renderSelectButton = function() {
		$("#show-results-button").removeClass("not-shown").hide().fadeIn(250)
	};

	// Essentially a constant, makes the check mark and x icons
	var control_button_html = "<i class='icon-remove icon-large red inline-icon' onclick='closeInlineForm(this.parentNode)'></i> <i class='icon-ok icon-large green inline-icon' onclick='addPositionToProgressBar(this.parentNode)'></i>"


	// If user elects to enter data manually, show form headers
	var renderTellUsMoreForm = function() {
		$("#get-info-wrapper").fadeOut(500, function() {
			$(this).addClass("not-shown")
			$("#form-wrapper").removeClass("not-shown").hide().fadeIn(250)
		});
		$("#results-wrapper").removeClass("not-shown").hide().fadeIn(250)
	};

	// Renders input for new experience
	var renderExperienceInput = function(el) {
		$(el).empty().append("<div class='input-container'><input type='text' placeholder='Title' class='input-medium'/> at <input type='text' placeholder='Company' class='input-medium'/> From: <input type='text' placeholder='mm/yyy' class='input-medium' /> To: <input type='text' placeholder='mm/yyyy' class='input-medium' />" + control_button_html + "</div>").animate({"opacity":1}, "250")
	};

	// Renders input for new education
	var renderEducationInput = function(el) {
		$(el).empty().append("<div class='input-container'><input type='text' placeholder='Degree' class='input-small'/> in <input type='text' placeholder='Field' class='input-medium'/> at <input type='text' placeholder='School' class='input-medium'/> &nbsp;Graduated In: " + year_select() + control_button_html +  "</div>").animate({"opacity":1}, "250")
	};

	// Renders input for new skills
	var renderSkillsInput = function(el) {
		$(el).empty().append("<div class='input-container'><input type='text' placeholder='Skills' class='input-xlarge'/>" + control_button_html + "</div>").animate({"opacity":1}, "250")
	};

	// Opens and closes pieces of the form when respective headers clicked
	var formSectionClicked = function(ev, el) {
		var $icon = $(el).children().first()

		// check if other sections are open
		$(".section-opened").each(function() {
			// must compare DOM node, not JQuery el
			if (this != el.children[0]) {
				// this means a different section currently open
				$(this).removeClass("icon-chevron-sign-down").addClass("icon-chevron-sign-right").fadeIn(250).removeClass("section-opened")
			}
		});

		// If this section is open, close it
		if ($icon.hasClass("section-opened")) {

			// Only close if click on icon or header
			if (ev.target.tagName == "I" || ev.target.tagName == "SPAN") {
				$icon.removeClass("icon-chevron-sign-down").addClass("icon-chevron-sign-right").fadeIn(250).removeClass("section-opened")

				$("#inline-form-container").animate({'opacity':0}, '250', function() { $(this).empty() })

			}

		// If this section is closed, open and show form
		} else {
			$icon.fadeOut(250, function() {
				$(this).removeClass("icon-chevron-sign-right").addClass("icon-chevron-sign-down").fadeIn(250).addClass("section-opened") 

				var type = $(this).parent().data("section_type")
				var $container = $("#inline-form-container")
				if (type=="education") {
					renderEducationInput($container) // $(this).next()
				} else if (type=="experience") {
					renderExperienceInput($container)
				} else if (type=="skills") {
					renderSkillsInput($container)
				}
			});
		}
	};



	// Adds recently added position to progress bar
	var addPositionToProgressBar = function(el) {

		// Animate checkmark
		$(el).children().last().fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(250)

		// Don't dismiss the bar... yet
		event.stopPropagation()

		// Calculate num items and width
		var num_items = path.length

		// Get type
		var type = $(".section-opened").parent().data("section_type")
		var inputs = $("#inline-form-container input")

		// Education
		if (type == "education") {
			var degree = inputs[0].value
			var field = inputs[1].value
			var school = inputs[2].value
			var grad_year = $("#inline-form-container :selected").val()

			// get form data
			post_data = {
				"type":"education",
				"degree":degree,
				"field":field,
				"entity":school,
				"end_date":grad_year
			}

			// Validate form data via API
			$.post('/careers/addProgressDetails/',post_data,function(data) {
				console.log(data);
				if (data["result"] == "success") {
					console.log('success');

					// Add to DST
					path.push({
						"type":"education",
						"degree":data.data.degree,
						"field":data.data.field,
						"school":data.data.entity,
						"grad_year":data.data.end_date,
						"display_text":data.data.degree + ", " + data.data.field + " at " + data.data.entity
						});
					console.log(path);
					rerenderProgressBar(path)
				} else {
					console.log('failure');
					console.log(data.errors);
				}
			},'json');

		} else if (type == "experience") {

			// Get form data
			var title = inputs[0].value
			var entity = inputs[1].value
			var selects = $('#inline-form-container select')
			var start_date = inputs[2].value
			var end_date = inputs[3].value

			post_data = {
				"type":"position",
				"title":title,
				"entity":entity,
				"start_date":start_date,
				"end_date":end_date
			}

			// Validate form data via API
			$.post('/careers/addProgressDetails/',post_data,function(data) {
				console.log(data);
				if (data["result"] == "success") {
					console.log('success');

					// Add to DST
					path.push({
						"type":"position",
						"title":data.data.title,
						"entity":data.data.entity,
						"start_date":data.data.start_date,
						"end_date":data.data.end_date,
						"display_text":data.data.title + " at " + data.data.entity
					});
					console.log(path);
					rerenderProgressBar(path)
				} else {
					// display error
					console.log('failure');
					console.log(data.errors);
				}
			},'json');

		} else if (type == "skills") {
			console.log("skills entered... what to do with?")
		}

		// Clear Form Fields
		$("#inline-form-container input").each(function() {
			$(this).val("")
		})
	}

	// Render the progress bar with newly entered data
		// Currently, re-rendering entire bar to adjust widths
	var rerenderProgressBar = function(path) {

		if (path.length == 1) { // first position
			// add progress bar
			$("#progress-wrapper .path-bar").css("display", "inline-block").animate({"width":"80%"}, "500")
			$("#progress-wrapper").removeClass("not-shown")

			// // add goal position
			// $(".end-goal-wrapper").append("<div class='end-item'>"+$("#goal-position-box :selected").html()+"</div>").hide().delay(500).fadeIn(250)

			// // add divider (svg)
			// $("#progress-bar-svg-container").css("display","inline-block").hide().fadeIn(250)

			// allow "show results" button to be clicked
			$("#tell-us-more-results-button").css("visibility", "visible").hide().fadeIn(250)

		} else // empty existing
			$("#progress-wrapper .path-bar").empty()

		// Get new width
		var width = Math.floor(100/(path.length))

		renderPath($("#progress-wrapper .path-bar"), path)

		// // Loop through, add items
		// for (var j = 0; j < path.length; j++) {
		// 	if ("display_text" in path[j])
		// 		$("#progress-wrapper .path-bar").append("<div class='path-item' style='background-color:" + color_map[j] + ";width:"+width+"%'>"+path[j]['display_text']+"</div>")
		// 	else 
		// 		$("#progress-wrapper .path-bar").append("<div class='path-item' style='background-color:" + color_map[j] + ";width:"+width+"%'>"+path[j]['title']+"</div>")
		// }
	}



	/***********/
	/* HELPERS */
	/***********/
	var resizeText = function(el) {

		var diff = el.scrollHeight - el.offsetHeight
		// console.log(el.style.width)
		if (diff > (el.offsetHeight * 2)) {
			// console.log("tier 2")
			// console.log(el)
			var current_font_size = parseInt($(el).css("font-size"))
			$(el).css("font-size", (current_font_size-4) + "px")

			var line_height = parseInt($(el).css("line-height"))
			$(el).css("line-height", (18) + "px")
		} else if (diff > el.offsetHeight) {
			// font-size -= 2
			var current_font_size = parseInt($(el).css("font-size"))
			$(el).css("font-size", (current_font_size-4) + "px")
			// console.log("tier 1")
			// line height -= medium
			var line_height = parseInt($(el).css("line-height"))
			$(el).css("line-height", (22) + "px")

		} else if (diff > 0) {
			// font-size -= 2
			// console.log("tier 0")
			var line_height = parseInt($(el).css("line-height"))
			$(el).css("line-height", (25) + "px")
			var current_font_size = parseInt($(el).css("font-size"))
			$(el).css("font-size", (current_font_size-2) + "px")
		} else if (el.scrollWidth > el.offsetWidth) {
			var current_font_size = parseInt($(el).css("font-size"))
			$(el).css("font-size", (current_font_size-2) + "px")
		}

		// if (el.offsetHeight < el.scrollHeight) { 
		// 	var current_font_size = parseInt($(el).css("font-size"))
		// 	if (current_font_size >= 12) 
		// 		$(el).css("font-size", (current_font_size-2) + "px")
		// 	// var line_height = parseInt($(el).css("line-height"))
		// 	// $(el).css("line-height", (line_height / 2) + "px")
		// };
	};

	var test = function(el) {
		if ((el.offsetHeight * 3) < el.scrollHeight) {

			var line_height = parseInt($(el).css("line-height"))
			$(el).css("line-height", (25) + "px")

			var current_font_size = parseInt($(el).css("font-size"))
			if (current_font_size >= 12) 
				$(el).css("font-size", (current_font_size-2) + "px")

		} else if (el.offsetHeight < el.scrollHeight) { 

			var line_height = parseInt($(el).css("line-height"))
			$(el).css("line-height", (30) + "px")

			var current_font_size = parseInt($(el).css("font-size"))
			if (current_font_size >= 12) 
				$(el).css("font-size", (current_font_size-2) + "px")

		};
	};

	var closeInlineForm = function(el) {

		// Close opened section
		$(".section-opened").each(function() {
			$(this).removeClass("icon-chevron-sign-down").addClass("icon-chevron-sign-right").fadeIn(250).removeClass("section-opened")
		});
 
		// Empty form container
		$("#inline-form-container").animate({'opacity':0}, '250', function() { $(this).empty() })
	};

	// Hides all elements but main search box
	var restoreCanvas = function() {
		var wrappers = ["progress", "results", "tell-us-more", "call-to-build", "get-info", "form"]

		for (var j = 0; j < wrappers.length; j++) {
			var text = "#"+wrappers[j]+"-wrapper"
			if (!$(text).hasClass("not-shown")) {
				$(text).fadeOut(250, function() {
					$(this).addClass("not-shown")
				});
			};
		};
	};



	// Creates select input form for months
	var month_select = function() {
		var html = "<select class='input-mini'>"
		for (var i = 1; i <= 12; i++)
			html += "<option value='" + i + "'>" + i + "</option>"
		return html + "</select>"
	};

	// Creates select input form for years back to 1970
	var year_select = function() {
		var html = "<select class='input-small'>"
		for (var i = 2020; i >= 1980; i--) {
			if (i == 2013)
				html += "<option value='" + i + "' selected>" + i + "</option>"
			else html += "<option value='" + i + "'>" + i + "</option>"
		}
		return html + "</select>"
	};

/*
	TODO: 
		: "Let us know" needs to send us an email somehow or store info
		: Change link color, header color
		: Get Screenshort
		: Toy w/ Colors!
		: check date entry HTML5 date input? (tell me more)
		: if re-select a position midway through, clear all
		: need to fail safe if no results returned
		: proper resizing
		: render colors backwards from opacity = 1
		: collapse multiple result paths
		: need a way to signal current position
		: need a way to cancel an added position
		: need to always render positions from same DST ("path")

		: Idea -- iterate through and animate widths to new, then drop in other one somehow.... animate from 0?

*/

</script>

{% endblock %}






