<style>
	div.copyright, div.address, div.unsubscribe {
		font-size:10px;
		color:#eee;
	}
	.flat-button a {
	display:inline-block;
	vertical-align:middle;
	/*margin-top:5px;*/
	width:auto;
	/*height:24px;*/
	line-height:24px;
	min-width:16px;
	padding:5px 10px 7px 10px;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	background-color:#fffffe;
	border-radius:2px;
	border:none;
	cursor:pointer;
	font-weight:500;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

span.flat-button a:hover {
	text-decoration:none;
	color:#ffffff;
	/*font-weight: bold;*/
	/*transition:, color 2s;*/
}

.flat-button a:hover {
	text-decoration:none;
	color:#fffffe;
}

.blue-button a {
	background-color:rgb(41,98,152);
	color:#fffffe;
}

</style>
<div class="body-content">
	{% block content %}

	{% endblock %}
</div>
<div class="copyright">
	<p>Copyright &copy; 2013 ProsperMe, All rights reserved</p>
	<p>You are receiving this email because {% block reason %} you are publicly listed as a career counseling professional for your university or other institution{% endblock %}.</p>
</div>
<div class="address">
	<p>Our mailing address is:<br/>
	420 James Road #1<br/>
	Palo Alto, CA 94306 </p>
</div>
<div class="unsubscribe">
	<a href="http://www.prospr.me/unsubscribe/?email_address={{email_address}}">Unsubscribe from this list</a>
</div>
