{% extends "email_base.html" %}

{% block content %}
<strong>Welcome to ProsperMe!</strong>

<p>Thanks for trying out ProsperMe. We hope you like it and it helps you make better education and career decisions.</p>

<p>The more people use ProsperMe, the more valuable it becomes. <a href="http://www.facebook.com/sharer.php?u=http://www.prospr.me">Tell your friends!</a></p>
<p>Sincerely,<br />
The ProsperMe Team</p>
<a href="http://www.prospr.me">http://www.prospr.me</a>
{% endblock %}

{% block reason %}
you signed up for ProsperMe.
{% endblock %}

