{% extends "base_full.html" %}

{% block sidebar %}

{% endblock %}

{% block content %}
<div class="main-container" id="content-container">
<p class="feature-page-header">Almost Finished!</p>
<p>We just need a little bit more information to register you. Please fill out the form below.</p>
<form action="" method="post" name="finish_login">
	{% csrf_token %}
	{{ form.as_p }}
	<fieldset>
		<button type="submit" class="btn">Submit</button>
	</fieldset>
</form>
</div>
{% endblock %}

{% block rightSidebar %}


{% endblock %}