{% extends "base_full.html" %}

{% block sidebar %}

{% endblock %}

{% block content %}
<div class="span11 offset1">
<h3>Couldn't stay away?</h3>
{% if msg %}
<p class="message_error">{{ msg }}</p>
{% endif %}
<p>Enter the information below to log in.</p>
<form action="" method="post" name="login">
	{% csrf_token %}
	{{ form.non_field_errors }}
    {{ form.errors }}
	{{ form.as_p }}
	<fieldset>
		<button type="submit" class="btn btn-success">Submit</button><a class="btn btn-primary left-spacer" href="/account/authorize">Login with LinkedIn</a>
	</fieldset>
</form>
</div>
{% endblock %}

{% block rightSidebar %}


{% endblock %}