{% extends "base_full.html" %}

{% block sidebar %}

{% endblock %}

{% block content %}
<div id="content-container">
	<p class="feature-page-header">Couldn't stay away?</p>
	<div class="form-nav">
		<a class="flat-button lightblue-button" href="/account/authorize">Login with LinkedIn</a>
	</div>
	{% if msg %}
	<p class="message_error">{{ msg }}</p>
	{% endif %}
	<!-- <p>Enter the information below to log in.</p> -->
	<form id="login-form" action="" method="post" name="login">
		{% csrf_token %}
		{{ form.non_field_errors }}
			<p><label for="id_username">Username or Email:</label> {{form.username.errors}}<input class="flat-input" type="text" name="username" id="id_username" /></p>
			<p><label for="id_password">Password:</label> {{form.password.errors}} <input class="flat-input" type="password" name="password" id="id_password" /></p>
			<input type="submit" class="flat-button green-button" />
	</form>
</div>

{% endblock %}

{% block rightSidebar %}


{% endblock %}