{% extends "base_full.html" %}

{% block content %}
<div id="content-container" class="main-container">
	<p class="feature-page-header">Sorry</p>
	<p class="feature-page-subheader">Right now, we're only using LinkedIn to register new users. This makes it easy to verify each user's professional profile and provide the best experience for them. In the future we'll open up other ways of registering to use ProsperMe. If you'd like to stay up-to-date with the latest developments, drop us a line at <a href="mailto:updates@prospr.me">updates@prospr.me</a>.</p>
</div>
{% endblock %}