{% extends "base_full.html" %}

{% block head %}

	
{% endblock %}

{% block content %}
<div class="main-container" id="content-container">
<p class="feature-page-header">Connect with LinkedIn</p>
<div class="register-form-nav">
	<p>Sync with LinkedIn -- it's quick and easy and connects you immediately to your alumni networks.</p>
	<a id="linkedin_authenticate" class="flat-button lightblue-button wide-button pull-left" href="/account/authorize/" title="Quick and easy registration with LinkedIn">Connect with LinkedIn</a> 
	<!-- <a id="email-authenticate" class="flat-button blue-button wide-button pull-left left-spacer">Register with email</a> -->
	<div class="clear"></div>
</div>

</div>
{% endblock %}

{% block rightSidebar %}


{% endblock %}