<strong>Welcome to ProsperMe!</strong>

<p>We at ProsperMe are on a mission to help people make better-informed career decisions. </p>
<p>What should I major in? What jobs and careers do other people like me pursue? How do I land my dream job?</p>
<p>These questions represent major life decisions, ones that should be made with as much information as possible. Through our proprietary data crunching of your peer, industry, and alumni networks, we hope to give you relevant insights that allow you to make the best decisions for you.</p>

<p>Sincerely,<br />
The ProsperMe Team</p>
<a href="http://www.prospr.me">http://www.prospr.me</a>