{% extends "base.html" %}

{% block sidebar %}

<p class="form-header">Location</p>
	{% for l in locations %}
		<label class="checkbox">
			<input type="checkbox" value="{{l}}"> {{l}}</option>
		</label>
	{% endfor %}
<p class="form-header">Sector</p>
	{% for s in sectors %}
		<label class="checkbox">
			<input type="checkbox" value="{{s}}"> {{s}}</option>
		</label>
	{% endfor %}

<p class="form-header">Size</p>
	{% for k,v in sizes.items %}
		<label class="checkbox">
			<input type="checkbox" value="{{k}}"> {{v}}</option>
		</label>
	{% endfor %}
	<ul class="formParams">

	</ul> 
<p class="form-header">Stage</p>
	{% for s in stages %}
		<label class="checkbox">
			<input type="checkbox" value="{{s}}"> {{s}}</option>
		</label>
	{% endfor %}
	<ul class="formParams">

	</ul> 


{% endblock %}

{% block content %}

{% if entities %}

		{% for e in entities|slice:":20" %}
			<div class="list-preview">
				{% if e.logo %}
					<img class="logo-preview" src="{{e.logo.url}}" />
				{% endif %}
				<span class="company-header">{{e.name}}</span>
				<div class="clear"></div>
				{{e.domain}}<br/>
				{{e.summary}}
			</div>
		{% endfor %}
{% else %}
I'm sorry, the Internets ate our database.
{% endif %}


{% endblock %}
