<div class="path-viz-timeline-left pull-left">

{% for k, v in path.items %}
		{% if forloop.counter0 in odd %}
		<div class="path-viz-pos viz-row">
			<span class="path-viz-pos-co">{{k}}</span>
			<ul>
				{% for pos in v %}
					{% if pos.title %}
					<li> {{pos.title}} {% if pos.start_date %}, {{pos.start_date}} {% if pos.end_date %} - {{pos.end_date}} {% endif %} {% endif %}</li>
					{% endif %}
				{% endfor %}
			</ul>
			<b class="notch-right"></b>
		</div>
		{% endif %}
{% endfor %}
</div>
<div class="path-viz-timeline-center pull-left viz-line-height{{path.items|length}}"></div>
<div class="path-viz-timeline-right pull-left">
{% for k, v in path.items %}
		{% if forloop.counter0 in even %}
		<div class="path-viz-pos viz-row{{forloop.counter0}}">
			<span class="path-viz-pos-co">{{k}}</span>
			<ul>
				{% for pos in v %}
					<li> {{pos.title}} {% if pos.start_date %} {{pos.start_date}} {% if pos.end_date %} - {{pos.end_date}} {% endif %} {% endif %}</li>
				{% endfor %}	
			</ul>
			<b class="notch-left"></b>
		</div>
		{% endif %}
{% endfor %}
</div>