{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block message %}

<!-- <div class="message">
	<p class="message">Use the search filters below to refine your search results. You can save any search for easy reference later. You can also review any saved searches in <a href="/account">your profile</a>.</p>
</div> -->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block sidebar %}

<div id="search-filters-container" class="">
	<!-- dynamically populated search filters -->
</div>
{% endblock %}

{% block content %}
<div id="search-results-list">
	<!-- <p class="main-header">Search Results</p> -->
</div>

{% endblock %}

{% block rightSidebar %}

<div class="rounded">
	{% if user %}
		<p class="sidebar-header">Want to see improvements?</p>
		<p>We'd love to hear from you -- <a href="mailto:feedback@prosperime.com">please drop us a line</a></p>
	{% else %}
		<p class="sidebar-header">Want to see full career paths?</p>
		<p>Drag and drop any company you'd like to keep track of here.</p>
	{% endif %}
</div>

<div class="rounded">
	<p class="sidebar-header">Save Search</p>
	{% if user %}
		<p><a href="#">Save this search</a> to come back and review search results any time.</p>
	{% else %}
		<p><a href="/login">Login</a> or <a href="/register">register</a> to save searches.</p>
	{% endif %}

</div>

{% if not user.profile.li_linked %}
{{ user.li_linked }}
<div class="rounded">
<a class="btn btn-primary left-spacer" href="/account/authorize">Authorize</a>
	</div>
{% endif %}

{% endblock %}

{% block templates %}
<script type="text/template" id="path-single-template">
	<li class="list-preview">
		<div class="left-list-preview">
			<% if (profile_pic != null) { %>
			<!--
			<div class="img-holder">
				<img class="logo-preview" src="/media/<%= profile_pic %>" />&nbsp;
			</div>
			-->
			<% } %>
		</div>
		<div class="right-list-preview">
			<p class="path-name"><a class="path-name-link"><%= full_name %></a></p>
			<p class="path-current-position"><%= current_position %></p>
			<div class="path-viz">
				<div class="path-viz-short">
					<% if (positions != null) {  
					var i = 0;
					_.each(positions,function(pos) { 
						if (i <= 4) { %>
						<span class="path-viz-pos"><a href="#"><%= pos.co_name %></a></span>
					<% } else { %>
						<span class="path-viz-pos" style="display:none;"><a href="#"><%= pos.co_name %></a></span>
					<% }
					if (pos.last_position == false && i < 4) { %>
						<span class="path-viz-sep"> &gt; </span>
					<% } else if (pos.last_position == false && i >= 4) {%>
						<span class="path-viz-sep" style="display:none;"> &gt; </span>
					<%
					}

					i++;
						
					}); 
					} %>
				</div>
				<div class="path-viz-long" style="display:none;">
				</div>

			</div>
		</div>
	</li>
</script>

<script type="text/template" id="path-single-viz-template">
	<div class="path-viz-timeline">
		<div class="path-viz-timeline-left"></div>
		<div class="path-viz-timeline-center"></div>
		<div class="path-viz-timeline-right"></div>
		<% if (positions != null) {
			var $pathLeft = $("div.path-viz-timeline-left");
			var $pathCenter = $("div.path-viz-timeline-center");
			var $pathRigth = $("div.path-viz-timeline-right");
			var length = _.size(positions);
			var i = 0;
			_.each(positions,function(pos) { %>
				// render position
				var renderedPos = 0;

				// test if even
				if (i % 2 == 0) {
					$pathRight.append()
				} else {

				}
				<div class="path-viz-row">
					<div class="path-viz-sep-circle pull-left"></div>
					<div class="path-viz-pos pull-left"><%= pos.co_name %></div>
					<div class="clearfix"></div>
				</div>
				<% if (i <= length) { %>
				<div class="path-viz-row">
					<div class="path-viz-sep-line pull-left"></div>
					<div class="clearfix"></div>
				</div>
				<% }
				i++; 
			});
		} %>
	</div>
</script>

<script type="text/template" id="path-list-template">
	<!--<div class="main-header pull-left">Career Paths</div><div class="pull-right btn-group disabled"><button class="btn-small">Paths</button><button class="btn-small">Companies</button></div>-->
	<p class="main-header pull-left">Career Paths</p><p class="search-view pull-right"><a class="search-view-link">Search companies</a></p>
	<div class="clearfix"></div>
	<ul class="path-list"></ul>
</script>

<script type="text/template" id="org-single-template">
	<li class="list-preview">			
		<div class="left-list-preview">
			<% if (image__logo != null) { %>
			<div class="img-holder">
				<img class="logo-preview" src="/media/<%= image__logo %>" />&nbsp;
			</div>
			<% } %>
		</div>
		
		<div class="right-list-preview"
			<span class="company-header"><%= name %></span><br/>
			<p><%= summary %></p>
		</div>
		<div class="clear"></div>
	</li>
</script>

<script type="text/template" id="org-list-template">
	<p class="main-header">Companies</p>
	<ul class="org-list"></ul>
</script>

<script type="text/template" id="search-header-template">
	<!--<div class="search-form-header sidebar-header">
		 Refine Your Search
	</div>--> 
	<div class="search-control pull-right">
		<a title="minimize filters" class="search-control-close"><i class="icon-chevron-left"></i></a>
		<a style="display:none;" title="show filters" class="search-control-open"><i class="icon-chevron-right"></i></a>
	</div>
</script>

<script type="text/template" id="search-module-template">
	<div class="search-form-module">
		<p class="form-header"><%= category %></p>
		<ul class="filters-list"></ul>
	</div>
</script>

<script type="text/template" id="search-filters-template">
	<label class="checkbox">
		<input <% if (selected == true) { %> checked=checked <% } %> name="<%= category %>-filters" class="input-search-filter" type="checkbox" value="<%= value %>"><%= name %> <% if (count != null) {%> (<%= count %>) <% }%></option>
	</label>
</script>
{% endblock %}

