{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block message %}

<!-- <div class="message">
	<p class="message">Use the search filters below to refine your search results. You can save any search for easy reference later. You can also review any saved searches in <a href="/account">your profile</a>.</p>
</div> -->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block sidebar %}

<div id="search-container" class="rounded">
	<!-- dynamically populated search filters -->
</div>
{% endblock %}

{% block content %}
<div id="search-results-list">
	<!-- <p class="main-header">Search Results</p> -->
</div>



{% endblock %}

{% block rightSidebar %}

<div class="rounded">
	{% if user %}
		<p class="sidebar-header">Want to see improvements?</p>
		<p>We'd love to hear from you -- <a href="mailto:feedback@prosperime.com">please drop us a line</a></p>
	{% else %}
		<p class="sidebar-header">Want to see full career paths?</p>
		<p>Drag and drop any company you'd like to keep track of here.</p>
	{% endif %}
</div>

<div class="rounded">
	<p class="sidebar-header">Save Search</p>
	{% if user %}
		<p><a href="#">Save this search</a> to come back and review search results any time.</p>
	{% else %}
		<p><a href="/login">Login</a> or <a href="/register">register</a> to save searches.</p>
	{% endif %}

</div>

{% if not user.profile.li_linked %}
{{ user.li_linked }}
<div class="rounded">
<a class="btn btn-primary left-spacer" href="/account/authorize">Authorize</a>
	</div>
{% endif %}

{% endblock %}

{% block templates %}
<script type="text/template" id="path-single-template">
	<li class="list-preview">
		<div class="left-list-preview">
			<% if (profile_pic != null) { %>
			<div class="img-holder">
				<img class="logo-preview" src="/media/<%= profile_pic %>" />&nbsp;
			</div>
			<% } %>
		</div>
		<div class="right-list-preview">
			<span class="path-name"><%= full_name %></span><span class="path-current-position"><%= current_position %></span>
			<div class="path-viz">
				<% if (positions != null) {  
				_.each(positions,function(pos) { %>
					<span class="path-viz-pos"><%= pos.co_name %></span>
				<% })
				} %>


			</div>
		</div>
	</li>
</script>

<script type="text/template" id="path-list-template">
	<p class="main-header">Search Results</p>
	<ul class="path-list"></ul>
</script>

<script type="text/template" id="org-single-template">
	<li class="list-preview">			
		<div class="left-list-preview">
			<% if (image__logo != null) { %>
			<div class="img-holder">
				<img class="logo-preview" src="/media/<%= image__logo %>" />&nbsp;
			</div>
			<% } %>
		</div>
		
		<div class="right-list-preview"
			<span class="company-header"><%= name %></span><br/>
			<p><%= summary %></p>
		</div>
		<div class="clear"></div>
	</li>
</script>

<script type="text/template" id="org-list-template">
	<p class="main-header">Search Results</p>
	<ul class="org-list"></ul>
</script>

<script type="text/template" id="search-header-template">
	<div class="search-form-header sidebar-header">
		Refine Your Search
	</div>
</script>

<script type="text/template" id="search-module-template">
	<div class="search-form-module">
		<p class="form-header"><%= category %></p>
		<ul class="filters-list"></ul>
	</div>
</script>

<script type="text/template" id="search-filters-template">
	<label class="checkbox">
		<input <% if (selected == true) { %> checked=checked <% } %> name="<%= category %>-filters" class="input-search-filter" type="checkbox" value="<%= value %>"><%= name %> <% if (count != null) {%> (<%= count %>) <% }%></option>
	</label>
</script>
{% endblock %}

