{% extends "base_full.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contact.css" />


{% endblock %}

{% block content %}

<div id="content-container" class="main-container">
		
	<div class="module span8 offset2 dummy"></div>

	<!-- About -->
	<div class="module span8 offset2">
		<div class="header">About</div>
		<div class="content">
			<div>
				We founded Prosperime with the goal of helping people live happier, more prosperous lives. As we each found ourselves at a crossroads in our own careers, we realized that there was no tool for people like us to find quantitative, relevant, and personalized information about jobs that we might be interested in. It is our hope that Prosperime helps you on your way to forging a meaningful career of your own. 
			</div>
			<br/>
			<div>
				Has Prosperime helped you think about your career? Just want to tell us something is broken? We welcome any and all feedback <a href="/contact/">here</a>.
			</div>
		</div>
	</div>


</div>
{% endblock %}