<!DOCTYPE html>
<html lang="en">
<!-- open graph tags -->
<meta property="og:title" content="ProsperMe: Get trusted advice from classmates and alumni">
<meta property="og:description" content="A trusted platform for sharing career advice among alumni">
<!-- Favicon -->
<link href="{{ STATIC_URL }}img/favicon.ico" rel="icon" />

<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css" type="text/css" media="all" /> 
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	
<!-- Fonts -->

	
<!-- JS -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>

	<!-- Should add JQuery if Google CDN Fails --> 
	<script type="text/javascript">
		if (typeof jQuery == 'undefined') {
			document.write(unescape("%3Cscript src='{{ STATIC_URL }}js/jquery.js' type='text/javascript'%3E%3C/script%3E"));
		}
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>



{% block head %} {% endblock %}
<head> 
	<title>
		{% block title %}ProsperMe: Find the Right Path for You {% endblock %}
	</title>
</head>

<body>

		<div id="topbar">

			<div id="topbar-inner">

					<div id="logo-container" class="pull-left">

						<a href="/"><img id="main-logo" src="{{STATIC_URL}}img/default_logo.png" /></a>	
					</div>

					<div class="pull-right">
						<ul id="topbar-nav" class="pull-right">
							
                			{% if user.is_authenticated %}
		             	
		             			<li>
		                			<a href="/">Home</a>
		                		</li>
		                		<li>
		                			<a href="/account/logout/">Logout</a>
		                		</li>
	                		{% else %}
								<li>
									<a href="/account/login">Login</a>
								</li>
								<li>
									<a href="/partners/">Schools &amp; Companies</a>
								</li>
	                		{% endif %}
						</ul>
						<div class="clear"></div>
					</div>
					
					<div class="clear"></div>
			
			</div>
		</div>
        
     <div id="background-container">
		 <div id="messages-container">
			{% block message %} 
				{% if messages %}
					<div id="messages">
						<ul class="messages">
						    {% for message in messages %}
						    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						    {% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endblock %}


			{% block extramessage %}  {% endblock %}

		</div>

	   
	    <div class="splash-container">
	   
	      	{% block content %} {% endblock %}

	      	<div>
		        	{% block promo %} {% endblock %}		        
		    </div>
	    </div>
	</div>
    
{% block templates %}
{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37510588-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>