<!DOCTYPE html>
<html lang="en">
	
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
	<!--
	<style>
		body {
			padding-top: 60px;
		}
	</style>
	-->
	<link href="{{ STATIC_URL }}img/favicon.jpg" rel="icon"  />
	<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/uri.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	{% block head %} {% endblock %}
<head> <title>{% block title %}Prosperime: Don't work, prosper {% endblock %}</title> </head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				
					<div class="span2 offset1">
						<a class="brand" href="/">Prosperime</a>
					</div>
					<div class="span4 offset4 nav-collapse">
						<ul class="nav">
							<li>
								<a href="/">Home</a>
							</li>
	                		{% if user.is_authenticated %}
	                		<li>
	                			<a href="/settings/">Account</a>
	                		</li>
	                		
	                		<li>
	                			<a href="/account/logout/">Logout</a>
	                		</li>
	                		{% endif %}
							<li>
								<a href="/about">About</a>
							</li>
							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</div>
				
			</div>
		</div>
        
	</div>
   
    <div class="container-fluid splash-container">
        
        <div class="row-fluid">
      		<span class="span12">
      			{% block content %} {% endblock %}
      		</span>
      	</div>
      	<div class="row-fluid">
	        <span class="span12">
	        	{% block promo %} {% endblock %}
	        </span>
	        
	    </div>
    </div>
    
{% block templates %}
{% endblock %}
</body>
</html>