{% extends "base_full.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contact.css" />


{% endblock %}

{% block content %}

<div id="content-container" class="main-container">
		



	<!-- Contact -->
	<div>
		<p class="feature-page-header">Contact</div>

		<div class="content">
			<div>
				Hold the phones, because we haven't got any yet. We're a young, hard-working team, and we place tremendous value on the feedback of our users. If you have feedback, suggestions, or just want to say hello, don't hesitate to contact us. Hit us up at <a href="mailto:contact@prospr.me">contact@prospr.me</a> and we'll get back to you as soon as we can.
			</div>
		</div>
	</div>

</div>
{% endblock %}