{% extends "base_full.html" %}

{% block head %}
<!-- CSS -->
<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/discover.css" /> -->
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
<link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/font-awesome.min.css' />

<style>
{% if user.profile.default_profile_pic %}
	#profile-pic {
		background-image:url({{user.profile.default_profile_pic|safe}});
		background-size: 115%;
	}
	#profile-pic:hover {
		background-image:url({{user.profile.default_profile_pic|safe}});
		background-size: 115%;
	}
{% endif %}
</style>

<!-- Lato, Source Sans, Varela -->
<!-- Javascript -->

{% endblock %}


{% block content %}
<div id="home-splash-container">
	<div class="inner-container">
		<div id="profile-pic-container" class="pull-left">
			<div class="center profile-subheader-white" >{{user.profile.full_name}}</div>
			<div id="profile-pic" class="circle"></div>
		</div>
		<div id="schools-container" class="pull-left center icons-module">
			<p class="i-header">Education</p>
			<a href="#schools/">
				<div id="icon-schools" class="circle-small" data-cat="schools" ><span class="icons-text">{{latest_ed}}</span></div>
			</a>
			<ul id="home-schools-list" class="secret-list noshow" data-cat="schools">
				{% for e in educations|slice:"3" %}
					<li><a href="#schools/{{e.entity.id}}">{{e.degree}} at {{e.entity.name}}</a></li>
				{% endfor %}
				<b class="border-notch notch"></b>
				<b class="notch"></b>
			</ul>
		</div>
		<div id="experience-container" class="pull-left center icons-module">
			<p class="i-header">Experience</p>
			<a href="#experience/">
				<div id="icon-experience" class="circle-small" data-cat="positions"><span class="icons-text">{{duration}}</span></div>
			</a>
			<ul id="home-positions-list" class="secret-list noshow" data-cat="positions">
				{% for p in positions|slice:"3" %}
					<li><a href="#positions/{{p.ideal_position.id}}">{{p.title}} at {{p.entity.name}}</a></li>
				{% endfor %}
				<b class="border-notch notch"></b>
				<b class="notch"></b>
			</ul>
		</div>
		
		<div id="locations-container" class="pull-left center icons-module">
			<p class="i-header">Locations</p>
			<a href="#locations/">
				<div id="icon-locations" class="circle-small" data-cat="locations"><span class="icons-text"></span></div>
			</a>
			{% if locations %}
				<ul id="home-locations-list" class="secret-list noshow" data-cat="locations">
					{% for l in locations|slice:"3" %}
						<li><a href="#locations/{{l.id}}">{{l.name}}</a></li>
					{% endfor %}
					<b class="border-notch notch"></b>
					<b class="notch"></b>
				</ul>
			{% endif %}
		</div>
		<div id="goals-container" class="pull-left center icons-module">
			<p class="i-header">Goals</p>
			<a href="#goals/">
				<div id="icon-goals" class="circle-small" data-cat="goals"><span class="icons-text"></span></div>
			</a>
			{% if goals %}
				<ul id="home-goals-list" class="secret-list noshow" data-cat="goals">
					{% for g in goals|slice:"3" %}
						<li><a href="#goals/{{g.position.id}}">{{g.position.title}}</a></li>
					{% endfor %}
					<b class="border-notch notch"></b>
					<b class="notch"></b>
				</ul>
			{% endif %}
		</div>
		<div class="clear"></div>
	</div>
</div>
<div id="content-container" class="main-container">
	<div id="home-left-sidebar" class="pull-left">
		<div>
			<ul id="home-left-nav">
				<li><a class="home-item home-menu-item selected" href="#feed/">Feed</a></li>
				<li><a class="home-item home-menu-item" href="#schools/">Schools</a></li>
				<li><a class="home-item home-menu-item" href="#experience/">Experience</a></li>
				<!-- <li><a class="home-item home-menu-item" href="#build">Build</a></li>
				<li><a class="home-item home-menu-item" href="#compare">Compare</a></li>
				<li><a class="home-item home-menu-item" href="#plan">Plan</a></li> -->
			</ul>
		</div>
	</div>
	<div id="home-main-column" class="pull-left">
		<!-- container for AJAX content -->
	</div>
	<div class="clear"></div>
	<!-- Header Links -->

	<!-- <div id="v5-container"> -->

		

	<!-- </div> -->
</div>

{% endblock %}

{% block templates %}
<script type="text/javascript">

$(function() {

	if ("onhashchange" in window) {
	    console.log("browser supports hashchange");
	}
	 
	function renderRoute() {
	    console.log(location.hash);
	    if (location.hash === "#schools/") {
	        var cat = "schools";
	        console.log("showing schools fragment");
	        // switch out left sidebar
	        $("a.home-menu-item").removeClass("selected");
	        $("a.home-menu-item[href='#schools/']").addClass("selected");
	        // var nav = "<li><a class='home-item home-menu-item selected' href='overview'>Overview</a></li>";
	        // $("ul#home-left-nav").append(nav)
	        // fetch data
	        $.ajax({
	        	url:"/careers/getSchoolFragment",
	        	success:function(data){
		        	$("div#home-main-column").html(data);
		        },
		        dataType:'html'
		    });
	    } else if (location.hash == "#feed/") {
	    	console.log("showing feed");
	    	// switch out left sidebar
	    	$("a.home-menu-item").removeClass("selected");
	    	$("a.home-menu-item[href='#feed/']").addClass("selected");
	    	 // fetch data
	        $.ajax({
	        	url:"/careers/getFeedFragment",
	        	success:function(data){
		        	$("div#home-main-column").html(data);
		        },
		        dataType:'html'
		    });
	    }
	}
	 
	window.onhashchange = renderRoute;
	renderRoute();
	$("div.icons-module").find("div.circle-small").hover(
		function(ev) {
			var target = $(ev.target)
			var cat = target.data("cat");
			// $("ul[data-cat='"+cat+"']").show();
			$("ul[data-cat='"+cat+"']").removeClass("noshow");
		}
	);
	$("div.icons-module").mouseout(function(ev) {
		var target = $(ev.target).find("div.circle-small");
		var cat = target.data("cat");
		// $("ul[data-cat='"+cat+"']").hide();
		$("ul[data-cat='"+cat+"']").addClass("noshow");
	});

	$("ul.secret-list").mouseleave(function(ev) {
		// var target = $(ev.target).find("div.circle-small");
		// var cat = target.data("cat");
		// // $("ul[data-cat='"+cat+"']").hide();
		$(this).addClass("noshow");
	});

	var profile_task_id,
		connections_task_id;

	var update_task_status = function(id,status) {
		// determine what class to add
		if (status == "success") {
			var msg_class = "success";
			var msg_text = "We have completed syncing with your LinkedIn account. Please refresh the page to see what we were able to fill in automatically.";
		} else if (status == "failure") {
			var msg_class = "info";
			var msg_text = "We have encountered an error processing your LinkedIn account.";
		} else {
			var msg_class = "info";
			var msg_text = "We are still syncing your LinkedIn profile...";
		}
		// check if messages are present
		var msg_container = $("div#messages");
		if (!$.contains(document.documentElement,msg_container)) {
			// messages div is not present, update
			block = "<div id='messages'>\n<ul class='messages'>\n<li class="+msg_class+" data-task-id="+id+">"+msg_text+"</li>\n</ul>\n</div>";
			$("div.messages-container").append(block);
		} else {
			// messages div is present, check to see if this particular message is present
			var msg = $("li#[data-task-id='"+id+"']");
			if(!$.contains(document.documentElement,msg)) {
				// element does not exist, create
				var message = "<li class='info' data-task-id="+id+">"+msg_text+"</li>";
				$("ul.messages").append(message);
			} else {
				// message is already present
				msg.removeClass();
				msg.addClass(msg_class);
			}
		}
	};
	
	var check_task = function(id) {
		setTimeout(function() {
			var url = "tasks/" + id + "/status"
			$.ajax({
					url:url,
					success: function(data) {
						if (data.task.status == "SUCCESS") {
							// task already completed, updated with success message
							update_task_status(id,'success');
						} else if (data.task.status == "FAILURE") {
							// task failed
							update_task_status(id,'failure');
						} else {
							// task still pending
							check_task();
						}
					},
					dataType:"json"})
		});

	};
	
	var tasks ={% if tasks %} true {% else %} false {% endif %};
	if (tasks == true) {
		var profile_task_id = {{profile_task_id|safe}}
		var connections_task_id = {{connections_task_id|safe}}
	};	
	if (profile_task_id != null) {
		check_task(profile_task_id);
	};
	if (connections_task_id != null) {
		check_task(connections_task_id);
	};

	$("a.fragment-list-link").on('hover',function() {
		console.log('hover');
	});

	$("a.fragment-list-link").on('hover',function() {
		console.log('hover');
		var ideal_id = $(this).data('ideal-id');
		$("span.fragment-info[data-ideal-id="+ideal_id+"]").show();
	},function() {
		var ideal_id = $(this).data('ideal-id');
		$("span.fragment-info[data-ideal-id="+ideal_id+"]").hide();
	});

});



</script>

{% endblock %}
