{% extends "base_full.html" %}

{% block head %}
<!-- CSS -->
<!-- <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/discover.css" /> -->
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
<link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/font-awesome.min.css' />

<!-- Javascript -->
<script type="text/javascript" src="{{ STATIC_URL }}js/discover.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
{% endblock %}


{% block content %}

<div id="content-container" class="main-container">

	<!-- Header Links -->
	<div class="welcome-container svg-container">
		<!-- <div class="main-header">
			Welcome!
		</div>
		<div class="sub-header">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Really? No indentation codes?
			Get the most out of Prosperime from the following resources:
		</div> -->
		<div id="welcome-header" class="main-text">
			Welcome!
		</div>

		<div id="welcome-text" class="secondary-text">
			Get the most out of Prosperime from the following resources:
		</div>

		<div id="feedback-text" class="secondary-text">
			Feedback? We'd love to hear from you <a href="/contact/">here</a>.
		</div>
	</div>


	<div id="link-container">



		<div id="top-container" class="svg-container">
			<div id="top-icon">
				<i class="icon-search icon-5x"></i>
				<div id="top-text-left" class="main-text">
					Explore Careers
				</div>
				<div id="top-right-text" class="secondary-text">
					Need help figuring out what might be best for you? Head here to get more information about career paths that other people like you have followed.
				</div>
			</div>
		</div>

		<div id="middle-container" class="svg-container">
			<div id="middle-icon">
				<i class="icon-road icon-5x"></i>
				<div id="middle-text-left" class="main-text">
					What Next
				</div>
				<div id="middle-right-text" class="secondary-text">
					Have an idea of where you want to go? Head here to learn more about that industry, and what the people in it are doing.
				</div>
			</div>
		</div>

		<div id="bottom-container" class="svg-container">
			<div id="bottom-icon">
				<i class="icon-trophy icon-5x"></i>
				<div id="bottom-text-left" class="main-text">
					Goal Map
				</div>
				<div id="bottom-right-text" class="secondary-text">
					Want to be a Product Manager? Director of Sales? <br/> Go here for hard statistics on how others have reached these goals so that you can do the same.
				</div>
			</div>
		</div>

	</div>

	<!-- <div id="link-container">	
		<div class="span12 inline">

			<div class="span4 inline">
				<div id="left-description" class="topic-description">
					Tell us what you're interested in so that we can give you better recommendations
				</div>
			</div>

			<div class="span4 inline">
				<div id="middle-container">
					<!-- SVG here -->
					<!-- <div id="middle-text">
						What Next?
						<i class="icon-road icon-4x"></i>
					</div>
				</div>
			</div>

			<div class="span4 inline">
				<div id="right-description" class="topic-description">
					Construct your ideal career path from real positions and paths held by real people
				</div>
			</div>
		</div>

		<div class="span4 inline">
			<div id="left-container"> -->
				<!-- SVG here -->
				<!-- <div id="left-text">
					Explore
					<i class="icon-search icon-4x"></i>
				</div>
			</div>
		</div>

		<div class="span4 inline">
			<div id="middle-description" class="topic-description">
				See relevant, quantitive insight on where to take your next career steps
			</div>
		</div>

		<div class="span4 inline">
			<div id="right-container"> -->
				<!-- Right here -->
				<!-- <div id="right-text">
					Goal
					<i class="icon-trophy icon-4x"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="clear"></div> -->
</div>


<script type="text/javascript">

	// /* On ready, add SVG elements to DOM */
	$(function() {

		/* Constants */
		var paper_w = 1000
		var paper_h = 525
		var box_l = 125

		var bottom_box_start_x = 325
		var middle_box_start_x = bottom_box_start_x + box_l - 62.5
		var top_box_start_x = middle_box_start_x + box_l - 62.5
		var gutter = 0
		var box_r = 0

		var bottom_y = 375
		var middle_y = bottom_y - box_l
		var top_y = middle_y - box_l
		
		var rect_attr = {
			'fill':'#408DD2',
			'stroke-width':1,
			'stroke':'#fffffe',
		}

		var top_extra_rect_attr = {
			'fill':'#679fd2',
			'stroke-width':1,
			'stroke':'#679fd2',
		}

		var bottom_extra_rect_attr = {
			'fill':'#161665',
			'stroke':'#161665',
			'stroke-width':1,
		}


		var paper = new Raphael('link-container', paper_w, paper_h)
		var bottom_box = paper.rect(bottom_box_start_x, bottom_y, box_l, box_l, box_r).attr({
			'stroke':'#fffffe',
			'stroke-width':2,
		})
		var middle_box = paper.rect(middle_box_start_x, middle_y, box_l, box_l, box_r).attr({
			// 'fill':'#0C5DA5',
			'stroke-width':2,
			'stroke':'#fffffe',
		})
		var top_box = paper.rect(top_box_start_x, top_y, box_l, box_l, box_r).attr({
			// 'fill':'#408DD2',
			'stroke-width':2,
			'stroke':'#fffffe',
		})





		/* Right Rects */
		// var bottom_extra_rect_right = paper.rect(bottom_box_start_x + 62.5, bottom_y + box_l, paper_w - bottom_box_start_x - 62.5, box_l, box_r).attr(bottom_extra_rect_attr)

		var bottom_rect_right = paper.rect(bottom_box_start_x + box_l, bottom_y, paper_w - box_l - bottom_box_start_x - gutter, box_l, box_r).attr({
			'fill':'#043A6B',
			'stroke-width':1,
			'stroke':'#043A6B',//'#fffffe',
		})
		var middle_rect_right = paper.rect(middle_box_start_x + box_l, middle_y, paper_w - box_l - middle_box_start_x - gutter, box_l, box_r).attr({
			'fill':'#0C5DA5',
			'stroke-width':1,
			'stroke':'#0C5DA5',//'#fffffe',
		})
		var top_rect_right = paper.rect(top_box_start_x + box_l, top_y, paper_w - box_l - top_box_start_x - gutter, box_l, box_r).attr({
			'fill':'#408DD2',
			'stroke-width':1,
			'stroke':'#408DD2',//'#fffffe',
		})

		var top_extra_rect_right = paper.rect(top_box_start_x + box_l + 62.5, top_y - box_l, paper_w - top_box_start_x - 62.5, box_l, box_r).attr(top_extra_rect_attr)

		// var top_extra_rect_right = paper.rect(0, top_y - box_l, paper_w, box_l, box_r).attr(top_extra_rect_attr)


		/* Left Rects */
		// var bottom_extra_rect_left = paper.rect(0, bottom_y + box_l, bottom_box_start_x - 62.5, box_l, box_r).attr(bottom_extra_rect_attr)

		var bottom_rect_left = paper.rect(0, bottom_y, bottom_box_start_x, box_l, box_r).attr({
			'fill':'#043A6B',
			'stroke-width':1,
			'stroke':'#043A6B',//'#fffffe',
		})
		var middle_rect_left = paper.rect(0, middle_y, middle_box_start_x, box_l, box_r).attr({
			'fill':'#0C5DA5',
			'stroke-width':1,
			'stroke':'#0C5DA5',//'#fffffe',
		})
		var top_rect_left = paper.rect(0, top_y, top_box_start_x, box_l, box_r).attr({
			'fill':'#408DD2',
			'stroke-width':1,
			'stroke':'#408DD2',//'#fffffe',
		})

		var top_extra_rect_left = paper.rect(0, top_y - box_l, top_box_start_x + 62.5, box_l, box_r).attr(top_extra_rect_attr)

		


		/* Define Click Handlers */
		var bottom_click = function(ev) {
			window.location = "/position/"
		};

		var middle_click = function(ev) {
			var i_id = {{industry}}
			window.location="/next/#?i1=" + i_id
		};

		var top_click = function(ev) { 
			var user_id = {{user.id}}
			window.location="/profile/" + user_id
		};

		/* Assign Handlers */
		$('#top-icon i').click(top_click);
		$('#middle-icon i').click(middle_click);
		$('#bottom-icon i').click(bottom_click);

		var top_set = paper.set()
		top_set.push(top_rect_left)
		top_set.push(top_rect_right)
		top_set.push(top_box)
		$(top_set).addClass('pointer')
		console.log($(top_set.id))
		top_set.click(top_click)

		var middle_set = paper.set()
		middle_set.push(middle_rect_left)
		middle_set.push(middle_rect_right)
		middle_set.push(middle_box)
		middle_set.click(middle_click)

		var bottom_set = paper.set()
		bottom_set.push(bottom_rect_left)
		bottom_set.push(bottom_rect_right)
		bottom_set.push(bottom_box)
		bottom_set.click(bottom_click)


	// 	/* Constants */
	// 	var paper_w = 150
	// 	var paper_h = 325
	// 	var r = 75
	// 	var x = 75
	// 	var y = 75
	// 	var triangle_specs = "M1,90 L75,240 L149,90"
	// 	var shadow_x = 75
	// 	var shadow_y = 270
	// 	var shadow_w = 60
	// 	var shadow_h = 10

	// 	/* Left Container */
	// 	var left_paper = new Raphael('left-container', paper_w, paper_h);
	// 	var left_triangle = left_paper.path(triangle_specs).attr({
	// 		'fill':'#0C5AA6',
	// 		'stroke-width':0,
	// 	})
	// 	var left_circle = left_paper.circle(x,y,r).attr({
	// 		'fill':'#0C5AA6',
	// 		'stroke-width':0,
	// 	})
	// 	var left_shadow = left_paper.ellipse(shadow_x,shadow_y,shadow_w,shadow_h).attr({
	// 		'fill':'#111',
	// 		'fill-opacity':'.8',
	// 		'stroke-width':0,
	// 	})



	// 	/* Middle Container */
	// 	var middle_paper = new Raphael('middle-container', paper_w, paper_h);
	// 	var middle_triangle = middle_paper.path(triangle_specs).attr({
	// 		'fill':'#408AD2',
	// 		'stroke-width':0,
	// 	})
	// 	var middle_circle = middle_paper.circle(x,y,r).attr({
	// 		'fill':'#408AD2',
	// 		'stroke-width':0,
	// 	})
	// 	var middle_shadow = middle_paper.ellipse(shadow_x,shadow_y,shadow_w,shadow_h).attr({
	// 		'fill':'#111',
	// 		'fill-opacity':'.8',
	// 		'stroke-width':0,
	// 	})

	// 	/* Right Container */
	// 	var right_paper = new Raphael('right-container', paper_w, paper_h);
	// 	var right_triangle = right_paper.path(triangle_specs).attr({
	// 		'fill':'#679AD2',
	// 		'stroke-width':0,
	// 	})
	// 	var right_circle = right_paper.circle(x,y,r).attr({
	// 		'fill':'#679AD2',
	// 		'stroke-width':0,
	// 	})
	// 	var right_shadow = right_paper.ellipse(shadow_x,shadow_y,shadow_w,shadow_h).attr({
	// 		'fill':'#111',
	// 		'fill-opacity':'.8',
	// 		'stroke-width':0,
	// 	})

	// 	/* Define Click Handlers */
	// 	var left_click = function(ev) {
	// 		console.log('left')
	// 		window.location="personalize/careers/"
	// 	};

	// 	var middle_click = function(ev) {
	// 		var i_id = {{industry}}
	// 		window.location="/next/#?i1=" + i_id
	// 	};

	// 	var right_click = function(ev) {
	// 		console.log('right')
	// 		// where does this go?
	// 		var user_id = {{user.id}}
	// 		window.location="/profile/" + user_id
	// 	};	

	// 	/* Define Hover Handlers */
	// 	var left_hover_on = function(ev) {
	// 		$('#left-shadow').show()
	// 		$('#left-description').toggleClass("embolden")
	// 	};

	// 	var left_hover_off = function(ev) {
	// 		$('#left-shadow').hide()
	// 		$('#left-description').toggleClass("embolden")
	// 	};

	// 	var middle_hover_on = function(ev) {
	// 		$('#middle-shadow').show()
	// 		$('#middle-description').toggleClass("embolden")
	// 	};

	// 	var middle_hover_off = function(ev) {
	// 		$('#middle-shadow').hide()
	// 		$('#middle-description').toggleClass("embolden")
	// 	};

	// 	var right_hover_on = function(ev) {
	// 		$('#right-shadow').show()
	// 		$('#right-description').toggleClass("embolden")
	// 	};

	// 	var right_hover_off = function(ev) {
	// 		$('#right-shadow').hide()
	// 		$('#right-description').toggleClass("embolden")
	// 	};

	// 	/* Create Element Sets -- needed? */
	// 	var left_set = left_paper.set()
	// 	left_set.push(left_triangle)
	// 	left_set.push(left_circle)
	// 	left_set.click(left_click)

	// 	var middle_set = middle_paper.set()
	// 	middle_set.push(middle_triangle)
	// 	middle_set.push(middle_circle)
	// 	middle_set.click(middle_click)

	// 	var right_set = right_paper.set()
	// 	right_set.push(right_triangle)
	// 	right_set.push(right_circle)
	// 	right_set.click(right_click)


	// 	/* Add Id's and Classes */
	// 	left_triangle.node.setAttribute("class", "left-btn")
	// 	left_circle.node.setAttribute("class", "left-btn")
	// 	left_shadow.node.id = "left-shadow"
	// 	left_shadow.node.setAttribute("class", "hidden")

	// 	middle_triangle.node.setAttribute("class", "middle-btn")
	// 	middle_circle.node.setAttribute("class", "middle-btn")
	// 	middle_shadow.node.id = "middle-shadow"
	// 	middle_shadow.node.setAttribute("class", "hidden")

	// 	right_triangle.node.setAttribute("class", "right-btn")
	// 	right_circle.node.setAttribute("class", "right-btn")
	// 	right_shadow.node.id = "right-shadow"
	// 	right_shadow.node.setAttribute("class", "hidden")

	// 	/* Add Hovers to each */
	// 	$('.left-btn').hover(left_hover_on, left_hover_off);
	// 	$('#left-text').hover(left_hover_on, left_hover_off)
	// 	$('.middle-btn').hover(middle_hover_on, middle_hover_off);
	// 	$('#middle-text').hover(middle_hover_on, middle_hover_off)
	// 	$('.right-btn').hover(right_hover_on, right_hover_off);
	// 	$('#right-text').hover(right_hover_on, right_hover_off);

	// 	/* Add Click Handlers to text/icon */
	// 	$('#middle-text').click(middle_click)
	// 	$('#left-text').click(left_click)
	// 	$('#right-text').click(right_click)





	});
	

</script>

{% endblock %}
