{% extends "base_full.html" %}

{% block head %}

{% endblock %}



{% block content %}

<div id="splash-home">
	<div class="span4 offset1">
		<p class="splash-message-header">Don't just work, prosper!</p>
		<p class="splash-message-subheader">Prosperime helps you build the perfect career and make the right education and job choices.</p>
		
	</div>
	<div class="span4 offset1">
		<p class="splash-message top-spacer">Connect with your colleagues, friends and associates</p>
		<p class="splash-message">Learn from actual career paths</p>
		<p class="splash-message">Start building the perfect career</p>
		<p class="splash-message">Sign up now with LinkedIn.</p>
		
		<a class="btn btn-success" href="/account/authorize">Get started</a><a class="splash-message left-spacer" href="account/login">Already registered?</a>
		
	</div>
	<div class="clear"></div>

</div>
{% endblock %}

{% block promo %}
<div id="promo-message-container">
	<div class="span3 offset1">
		<p class="promo-message-header">Search career paths</p>
		<p class="promo-message">Go beyond anecdotes and conjecture -- build off your own career based on what others have actually done before.</p>
	</div>
	<div class="span3">
		<p class="promo-message-header">Evaluate yourself</p>
		<p class="promo-message">Research, plan and compare multiple compare paths and see how your current education and jobs prepare you.</p>
	</div>
	<div class="span3">
		<p class="promo-message-header">Connect with mentors</p>
		<p class="promo-message">Find people who have already faced the same challenges as you and connect with them to do better.</p>
	</div>
	<div class="clear"></div>
</div>
{% endblock %}

{% block templates %}
<script type="text/template" id="path-single-template">
	<li class="list-preview">
		<div class="left-list-preview">

		</div>
		<div class="right-list-preview">
			<span class="path-header"><%= full_name %></span>
		</div>
	</li>
</script>

<script type="text/template" id="org-single-template">
	<li class="list-preview">			
		<div class="left-list-preview">
			<% if (image__logo != null) { %>
			<div class="img-holder">
				<img class="logo-preview" src="/media/<%= image__logo %>" />&nbsp;
			</div>
			<% } %>
		</div>
		
		<div class="right-list-preview"
			<span class="company-header"><%= name %></span><br/>
			<p><%= summary %></p>
		</div>
		<div class="clear"></div>
	</li>
</script>

<script type="text/template" id="org-list-template">
	<p class="main-header">Search Results</p>
	<ul class="org-list"></ul>
</script>

<script type="text/template" id="search-header-template">
	// <div class="search-form-header sidebar-header">
	// 	Refine Your Search
	// </div>
</script>

<script type="text/template" id="search-module-template">
	<div class="search-form-module">
		<p class="form-header"><%= category %></p>
		<ul class="filters-list"></ul>
	</div>
</script>

<script type="text/template" id="search-filters-template">
	<label class="checkbox">
		<input <% if (selected == true) { %> checked=checked <% } %> name="<%= category %>-filters" class="input-search-filter" type="checkbox" value="<%= value %>"><%= name %> <% if (count != null) {%> (<%= count %>) <% }%></option>
	</label>
</script>
{% endblock %}

