{% extends "base_full.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/discover.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/discover.js"></script>
{% endblock %}

{% block content %}

<div id="content-container" class="main-container">
	<!-- <div class="pull-left">
		<img src="/media/{{user.profile.default_profile_pic}}">
	</div> -->
	<div class="pull-left dashboard-header">
		<p class="splash-header">Dashboard</p>
		<ul class="module-list main-sub-header">
			<li><a href="/profile/{{user.id}}">View profile</a></li>
			<li><a href="/discover">Discover careers</a></li>
			{% if not user.profile.li_linked %}
				<li><a href="/account/authorize">Authorize</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="clear"></div>
	<div class="dashboard-module pull-left" data-name="dashboard-careers">
		<p class="module-header">My Careers</p>
			{% if user_careers %}
				<ul>
				{% for c in user_careers %}
					<li><a href="/discover/career/{{c.id}}">{{c.name}}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
		<p class="sub-header"><a href="/discover">Discover more careers</a></p>
	</div>
	<div class="dashboard-module pull-left" data-name="dashboard-saved-paths">
		<p class="module-header">Saved Paths</p>
		{% if saved_paths %} 
			<ul data-name="saved-paths-list">
			{% for s in saved_paths %}
				<li><a href="#">{{s.title}}</a> <span class="badge">{{s.positions|length}}</span></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>You don't have any saved paths. <a href="#">Add one now</a>.</p>
		{% endif %}
	</div>
	<div class="dashboard-module pull-left" data-name="dashboard-top-careers">
		<p class="module-header">Top Careers in Network</p>
		{% if top_careers %} 
			<ul data-name="top-careers-list">
			{% for c in top_careers %}
				<li><a href="/discover/career/{{c.id}}">{{c.name}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>Coming soon</p>
		{% endif %}
	</div>
	<div class="clear"></div>
</div>
{% endblock %}