{% extends "base_full.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contact.css" />


{% endblock %}

{% block content %}

<div id="content-container" class="main-container">

	<!-- Team -->

	<p class="feature-page-header">Team</p>
	<div class="content">
		<div class="pull-left"></div>
		<div class="pull-left">
			<p>Thomas Haymore</p>
		
			<p>
				Barely escaping a career as a lawyer, Thomas now tries to build products that will change the way people live, or at least help them make better decisions.
			</p>
			<p>
				<a href="https://twitter.com/tchaymore">@tchaymore</a>
			</p>
		</div>
		<div class="clear"></div>
		

		<div class="pull-left"></div>
		<div class="pull-left">
			<p>Clayton Holz</p>
		
			<p>
				Caught between the two poles of body building and professional soccer, Clayton finally decided to use his brain to build great products that help people.
			</p>
			<p>
				<a href="https://twitter.com/holz">@holz</a>
			</p>
		</div>
		<div class="clear"></div>

	</div>



</div>
{% endblock %}