{% extends "base_full.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contact.css" />


{% endblock %}

{% block content %}

<div id="content-container" class="main-container">
		
	<div class="module span8 offset2 dummy"></div>

	

	<!-- Team -->
	<div class="module span8 offset2">
		<div class="header">Team</div>
		<div class="content">
			<div class="name">Thomas Haymore</div>
			<div class="description">
				<div>
					Likes: Russian Youth, gluten-filled foodstuffs, sleep.
				</div>

				<div>
					Dislikes: gluten, the concept "slow", and sleep.
				</div>
			</div>

			<br/><br/><br/>

			<div class="name">Clayton Holz</div>
			<div class="description">
				<div>
					Likes: coffee, Arnold, tip-toeing the line of being a hipster and hating himself for it.
				</div>

				<div>
					Dislikes: zombies.
				</div>
			</div>

		</div>
	</div>


</div>
{% endblock %}