{% extends "base_full.html" %}

{% block sidebar %}

{% endblock %}

{% block content %}
<div id="content-container">
	<p class="feature-page-subheader">Partnering with ProsperMe</p>
	<p class="partner-info">ProsperMe brings universities, employers and students together to share career information. Representatives of schools and employers can participate in discussions on ProsperMe free of charge. The goal is to help people make better career decisions.</p>
	<!-- <p class="feature-page-subheader">Looking for more?</p>
	<p class="partner-info">ProsperMe offers additional tools for both universities and employers. These include the ability to find candidates, enhanced data reporting, bustom branding, and more. Please choose from the options below to learn more.</p> -->
	<div class="half">
		<p>Schools</p>
		<p class="partner-info">Learn how to stay connected to your alumni, easily guide and track your students, and more</p>
		<a class="blue-button" href="/schools">Learn More</a>
	</div>
	<div class="half">
		<p>Employers</p>
		<p class="partner-info">Learn how to find better candidates, shape opinion about your company and more</p>
		<a class="blue-button" href="/employers">Learn More</a>
	</div>
	<div class="clear"></div>
</div>

{% endblock %}

{% block rightSidebar %}


{% endblock %}