{% extends "base_full.html" %}

{% block head %}

	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/welcome.css" />

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro|Signika+Negative|Bitter|Volkhov">

{% endblock %}

<!-- Messages -->
{% block message %}
{% endblock %}

{% block content %}

<div id="content-container" class="promo-container">

	<div class="splash-module-left pull-left" style="margin-top:75px;margin-bottom:75px;">
		<div class="pull-left">
			<p class="splash-message-header">Find the best candidates</p>
			<p class="splash-message-header">Who are already looking for you</p>
			<p class="splash-submessage no-hover">
				<form method="POST">
					{% csrf_token %}
					<input type="text" class="flat-input" name="email" id="email-input" style="width:275px;" placeholder="Enter your email address" />
					<input type="submit" style="vertical-align:top;" value="Get More Info" id="get-more-info-button" class="flat-button green-button">
					{{form.email.errors}}
				</form>
		</div>
		<div class="pull-left">
			<img src="/static/img/recruiters_splash_head.png" id="promo-splash-img"/>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>

	<div class="promo-module">
		<div class="promo-left pull-left">
			<img src="/static/img/recruiters_splash_1.png" id="promo-splash-img"/>
		</div>
		<div class="promo-right pull-left">
			<p class="promo-header">
				Find the <span class="promo-emph">best</span> candidates
			</p>
			<p class="promo-text">
				ProsperMe partners with the top universities in the world to provide you access to the best and brightest students and experience alumni.
			</p>
		</div>
		<div class="clear"></div>
	</div>

	<div class="promo-module">
		<div class="promo-left pull-left">
			<p class="promo-header">
				Who are already loooking for you
			</p>
			<p class="promo-text">
				With ProsperMe's unique platform, you can engage with potential candidates right twhen they're already discussing your company. Be on the front lines of shaping attitudes and opinions about your company.
			</p>
		</div>
		<div class="promo-right pull-left">
			<img src="/static/img/recruiters_splash_2.png" id="promo-splash-img"/>
		</div>
		<div class="clear"></div>
	</div>

	<div class="promo-module">
		<div class="promo-left pull-left">
			<img src="/static/img/recruiters_splash_3.png" id="promo-splash-img"/>
		</div>
		<div class="promo-right pull-left">
			<p class="promo-header">
				With the <span class="promo-emph">right</span> data
			</p>
			<p class="promo-text">
				Don't start cultivating a candidate without the data to make it stick. ProsperMe provides active intelligence on why candidates are selecting their jobs and how your company stacks up agains the competition.
			</p>
		</div>
		<div class="clear"></div>
	</div>

{% endblock %}

{% block promo %}


{% endblock %}

{% block templates %}

{% endblock %}



