{% extends "base_full.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/contact.css" />


{% endblock %}

{% block content %}

<div id="content-container" class="main-container">
		



	<!-- Contact -->
	<div>
		<p class="feature-page-header">Partner with ProsprMe</div>

		<div class="content">
			<div>
				<p>Interested in partnering with ProsprMe? Our career exploration tools are free for students and we offer a free portal to career services offices at colleges and universities. With this portal, you can keep track of your alumni, guide and advise your students, and give potential employers more information about what kinds of jobs your student body is interested in.
			</div>
			<div>
				<p>If you interested, please contact as at <a href="mailto:partners@prospr.me">partners@prospr.me</a>. We'll get back to you within 24 hours.
			</div>
		</div>
	</div>

</div>
{% endblock %}