<!-- ************************ -->
<!-- All Underscore Templates -->
<!-- ************************ -->
<script type="text/javascript">

	// Convenience to keep track of what's in this file... 
	var router = {
		"home":["question-list-template", "question-template"],
		"profile":["add-position-first-template", "timeline-edit-org-template", "timeline-edit-education-template", "timeline-position-template", "timeline-position-fragment-template", "upload-profile-pic-template", "errors-template"],
		"question":["follower-photo-template", "single-comment-template", "advisor-modal-template", "advisor-message-template", "advisor-success-template"],
		"search":["no-results-template", "question-list-template", "question-template"]
	}

</script>



<!-- Home -->
<script type="text/template" id="question-list-template">

	<div id="questions-list"></div>

</script>


<script type="text/template" id="question-template">

	<div class="single-question-module">
		<div class="question-column-left">
			<div class="profile-pic-container">
				<div class="circle" style="background-image:url(<%=owner_pic%>)"></div>
			</div>
		</div>

		<div class="question-column-right">
			<div class="question-title"><a href="/question/<%=id%>"><%=name%></a></div>
			<div class="question-body"><%=summary%></div>

			<% for (t in tags) { %>
				<a class="tag-inline" href="/tags/<%=tags[t].url_name%>"><%=tags[t].name%></a>
			<% } %>


			<% if (comments.length > 0) { %>
				<div class="comment-column-left">
					<div class="profile-pic-container-small"><img src="<%=comments[0].owner_pic%>" /></div>
				</div>
				<div class="comment-column-right">
					<div class="comment-body"><%=comments[0].body%></div>
				</div>
			<% } %>
			
			<div class="question-subtext">
				<% if (comments.length == 0) { %>
					<a href="/question/<%=id%>">Be the first to answer</a>
				<% } else if (comments.length == 1) { %>
					<a href="/question/<%=id%>">Add your own answer</a>
				<% } else { %>
					<a href="/question/<%=id%>">See all <%=comments.length%> answers </a>
				<% } %> 
			</div>
		</div>
		<br/>			
	</div>

</script>



<!--*********-->
<!-- Profile -->
<!--*********-->

<script type="text/template" id="add-position-first-template">
	
	<div class="add-position-prompt">
		<div>Select what best describes this position: </div>
		<div class="flat-button tag" onclick="renderAddForm2('education')">Education</div>
		<div class="flat-button tag" onclick="renderAddForm2('org')">Job</div>
		<div class="flat-button tag" onclick="renderAddForm2('internship')">Internship</div>
	</div>

</script>

<script type="text/template" id="timeline-edit-org-template">
	
	<div class="input-container" data-type="<%=type%>">
		<input type="text" placeholder="Title" name="title" value="<%=title%>" data-original="<%=title%>" class="input-medium-large" maxlength="150" />
		 at <input type="text" placeholder="Company" name="co_name" value="<%=co_name%>" data-original="<%=co_name%>" class="input-medium-large" maxlength="450" />
		 From: <input type="text" placeholder="mm/yy" name="start_date" value="<%=start_date%>" data-original="<%=start_date%>" class="input-extra-small" maxlength="5" />
		 To: <input type="text" placeholder="mm/yy" name="end_date" value="<%=end_date%>" data-original="<%=end_date%>" class="input-extra-small" maxlength="5" />
		 <input type="hidden" name="id" value="<%=id%>" data-original="<%=id%>" /> 
		<div class="submit-button flat-button green-button" onclick="editPosition()" style="vertical-align:top;"> Done </div>
		<div class="cancel-button flat-button red-button" onclick="cancelPosition()" style="vertical-align:top;padding-top:7px;"> Cancel </div>
	</div>


</script>

<script type="text/template" id="timeline-edit-education-template">

	<div class="input-container" data-type="<%=type%>">
		<input type='text' placeholder='B.A.' name="degree" value="<%=degree%>" data-original="<%=degree%>" class='input-small input-extra-small' maxlength="450" />
		 in <input type='text' placeholder='Major' name="field" value="<%=field%>" data-original="<%=field%>" class='input-medium' maxlength="450" />
		 at <input type='text' placeholder='University' name="school" value="<%=school%>" data-original="<%=school%>" class='input-medium' maxlength="450" />
		Start: <input type="text" placeholder="mm/yy" name="start_date" value="<%=start_date%>" data-original="<%=start_date%>" class="input-extra-small" maxlength="5" />
		End: <input type="text" placeholder="mm/yy" name="end_date" value="<%=end_date%>" data-original="<%=end_date%>" class="input-extra-small" maxlength="5" />
		<input type="hidden" name="id" value="<%=id%>" data-original="<%=id%>" /> 
		<div class="submit-button flat-button green-button" onclick="editPosition()" style="vertical-align:top;"> Done </div>
		<div class="cancel-button flat-button red-button" onclick="cancelPosition()" style="vertical-align:top;padding-top:7px;"> Cancel </div>
	</div>

</script>

<script type="text/template" id="timeline-position-template">

	<div class="timeline-position">

		<div class="timeline-position-position"><%=title%></div>
		<div class="timeline-position-entity"><%=co_name%></div>
		<div class="timeline-position-dates"><%=start_date%> - <%=end_date%></div>

	</div>

</script>

<script type="text/template" id="timeline-position-fragment-template">

	<div class="timeline-position-position"><%=title%></div>
	<div class="timeline-position-entity"><%=co_name%></div>
	<div class="timeline-position-dates"><%=start_date%> - <%=end_date%></div>

</script>

<script type="text/template" id="upload-profile-pic-template">

	<form id="upload-profile-pic-form" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="pic" id="pic" />
		<div class="form-submit flat-button submit-button">Upload</div>
	</form>

</script>

<script type="text/template" id="errors-template">

	<% for (index in errors) { %>
		<p class="error-text"><%=errors[index].join(", ")%></p>
	<% } %>

</script>



<!-- ******** -->
<!-- Question -->
<!-- ******** -->
<script type="text/template" id="follower-photo-template">


	<div class="followers-profile-pic">
		<a href="/profile/<%=id%>/"><img src="<%=pic%>" title="<%=user_name%>" /></a>
	</div>
				
</script>

<script type="text/template" id="single-comment-template">
	<div class="comment-module">
		<div class="comment-column-left">
			<div class="profile-pic-container-small">
				<a href="/profile/<%=user_id%>"><img src="<%=user_pic%>"/></a>
			</div>			


				<!-- // <div data-comment_id="<%=id%>" class="vote-container">
				// 	<div data-type="down" class="vote-button vote"><i class="icon-chevron-left"></i></div>
				// 	<div class="comment-vote vote"><%=votes%></div>
				// 	<div data-type="up" class="vote-button vote"><i class="icon-chevron-right"></i></div>

				// </div>	-->				

		</div>
		<div class="comment-column-right">
			<div class="body-text">
				<%=body%>
			</div>
			</div>
			<div class="comment-subtext">
				Posted ago by <a href="/profile/<%=user_id%>"><%=user_name%></a>
			</div>


		</div>
	</div>
</script>

<script type="text/template" id="advisor-modal-template">
	<% 

	%>
	<div id="advisor-modal-inner">
		<p class="module-header">Ask an advisor</p>
		<div class="advisor-pic-container">
			<img src="<%= pic %>" />
		</div>
		<div class="advisor-info-container">
			<p><%= name %></p>
			<p><%= position %></p>
		</div>
		<div class="clear"></div>
		<div class="advisor-message-container">
			<div id="advisor-modal-errors"></div>
			<label for="id_advisor-message-subject">Subject:</label>
			<input class="flat-input" id="id_advisor-message-subject" name="advisor-message-subject" value="Please share your advice on Emplore" />
			<label for="id_advisor-message-body">Body:</label>
			<textarea class="flat-textarea" id="id_advisor-message-body" name="advisor-message-body"><%= message_body %>
			</textarea>
			<p class="note">A link to the question and a short note about ProsperMe will be added to your message.</p>
			
		</div>
		<div class="advisor-options">
			<ul class="advisor-options-list pull-right">
			<% if (methods == "all") { %>
				<li><a class="blue-button" id="ask-advisor-button" data-a-id="<%= id %>" data-method="li">Send</a> or <a id="modal-close-button">cancel</a></li>
			<% } else if (methods.indexOf("em") > -1) { %>
				<li><a class="blue-button" id="ask-advisor-button" data-a-id="<%= id %>" data-method="li">Send</a> or <a id="modal-close-button">cancel</a></li>
			<% } else if (methods.indexOf("li") > -1) { %> 
				<li><a id="ask-advisor-button" class="li-button" data-a-id="<%= id %>" data-method="li">Ask through LinkedIn</a> or <a id="modal-close-button">cancel</a></li>
			<% } else if (methods.indexOf("fb") > -1) { %>
				<li><a id="ask-advisor-button" class="fb-button" data-a-id="<%= id %>" data-method="fb">Ask through Facebook</a> or <a id="modal-close-button">cancel</a></li>
			<% } else { %>

			<% } %>
			</ul>
			<div class="clear"></div>
		</div>
					
	</div>
</script>

<script type="text/template" id="advisor-message-template">
	
</script>

<script type="text/template" id="advisor-success-template">
	<div id="advisor-modal-inner">
		<div>
			Your request has been sent successfully. We will let you know as soon as they answer.
		</div>
	</div>
</script>

<!-- ****** -->
<!-- Search -->
<!-- ****** -->
<script type="text/template" id="no-results-template">
	<div class="no-results-container">
		<p>No conversations for <span class="query"><%= query %></span>. You can <a href="/ask">start one</a> right now.</p>
	</div>
</script>