{% extends "base_full.html" %}

{% block content %}

<div id="content-container" class="main-container">

	<p class="feature-page-header">Acceptable Use Policy</p>

	<p>Emplore's goal is to help its users develop their careers, and this involves sharing information. The more users share, the better Emplore becomes, but certain types of information are not appropriate for Emplore. The rules below outline what is and is not acceptable.</p>

	<p>You agree not to post User Content that:</p>

		<ol class="terms-list">
			<li>is sexually explicit or contains nudity, partial nudity or pornography</li>
			<li>creates a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to yourself, to any other person, or to any animal</li>
			<li>may create a risk of any other loss or damage to any person or property</li>
			<li>seeks to harm or exploit children by exposing them to inappropriate content, asking for personally identifiable details or otherwise</li>
			<li>violates, or encourages any conduct that violates laws or regulations</li>
			<li>contains any information or content we deem to be hateful, violent, harmful, abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or otherwise objectionable</li>
			<li>contains any information or content that is illegal (including, without limitation, the disclosure of insider information under securities law or of another party's trade secrets)</li>
			<li>infringes any third party's Intellectual Property Rights, privacy rights, publicity rights, or other personal or proprietary rights;
contains any information or content that you do not have a right to make available under any law or under contractual or fiduciary relationships; or
is fraudulent, false, misleading, or deceptive.</li>
		</ol>

	<p>The following rules make sure no one uses Emplore for malicious purposes or tries to exploit its name, reputation or good will.</p>
	
	<p>You agree not to engage in any of the following prohibited activities:</p>

		<ol class="terms-list">
			<li>Use, display, mirror or frame the Service, any individual element within the Service, the Emplore name, trademark, logo or other proprietary information, or the layout and design of any page, without our express written consent</li>
			<li>Access, tamper with, or use non-public areas of the Service, our computer systems, or the technical delivery systems of our providers</li>
			<li>Attempt to probe, scan, or test the vulnerability of any Emplore system or network or breach any security or authentication measures</li>
			<li>Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Emplore or any of our providers or any other third party (including another user) to protect the Services or Emplore Content</li>
			<li>Attempt to access or search the Services, User Content or Emplore Content or scrape or download User Content or Emplore Content from the Services, or otherwise use, upload content to, or create new links, reposts, or referrals in the Service through the use of any engine, software, tool, agent, device or mechanism (including automated scripts, spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Emplore or other generally available third party web browsers</li>
			<li>Send any unsolicited or unauthorized spam and spam comments on posts, advertising messages, promotional materials, email, junk mail, chain letters or other form of solicitation</li>
			<li>Use any meta tags or other hidden text or metadata utilizing a Emplore or Emplore trademark, logo, URL, or product name without Emplore's express written consent</li>
			<li>Use the Service for any commercial purpose or the benefit of any third party, except as otherwise explicitly permitted for you by Emplore or in any manner not permitted by the Terms</li>
			<li>Use Emplore user information to forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Services to send altered, deceptive or false source-identifying information</li>
			<li>Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services</li>
			<li>Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services</li>
			<li>Collect or store any personally identifiable information from the Services from other users of the Services without their express permission</li>
			<li>Impersonate or misrepresent your affiliation with any person or entity</li>
			<li>Violate any applicable law or regulation or </li>
			<li>Encourage or enable any other individual to do any of the activities prohibited in this Acceptable Use Policy</li>
		</ol>

	<p>Emplore reserves the right, but is not obligated, to remove any User Content for any reason or for no reason, including User Content that Emplore believes violates this Acceptable Use Policy or its Terms of Service. Emplore may also permanently or temporarily terminate or suspend a User account without notice and liability for any reason, including if, in Emplore's sole determination, a User violates any provision of this Acceptable Use Policy, our Terms of Service, or for no reason.</p>

</div>

{% endblock %}