
{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/typeahead.min.css" />


<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.min.js"></script>

{% endblock %}

{% block extramessage %} {% endblock %}

{% block content %}
	
<!-- Main -->
<div id="content-container">
	<p class="feature-page-header">Not quite ready</p>
	<p>Unfortunately, your school doesn't partner with ProsperMe right now. We're working every day to increase the number of schools who partner with ProsperMe and help their alumni connect and share advice.</p>
	<p class="feature-page-subheader">Tell your friends</p>
	<p>The best way to speed things up is to get your fellow students and alums signed up. That way we can contact your school for you and let them know how much you want to use ProsperMe.</p>
	<p class="feature-page-subheader">Prefer the direct approach?</p>
	<p>Reach out to your school officials below:</p>
</div>

	
{% endblock %}







