{% extends "base_full.html" %}

{% block head %}

	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/welcome.css" />
{% endblock %}

<!-- Messages -->
{% block message %}
{% endblock %}

{% block content %}

<div id="splash-home">

	<div class="splash-inner-container">
		<div class="splash-module pull-left">
			<p class="splash-message-header">Find the right path for you</p>
			<p class="splash-message-subheader">Connect with fellow alumns</p>
			<p class="splash-message-subheader">Explore possible career paths</p>
			<p class="splash-message-subheader">Seek and share career advice</p>
			<p class="splash-submessage no-hover">
				<a id="get-started-button" class="flat-button green-button" href="/account/register">Get started</a>
			</p>
			<div class="clear"></div>
		</div>

		<div class="splash-module pull-left">
			<img src="/static/img/splash_1.png" id="splash-img-1"/>
		</div>

	<div class="clear"></div>
	</div>

</div>

<div class="promo-container">
<div class="promo-module">
	<div class="promo-left pull-left">

	</div>
	<div class="promo-right pull-left">
		<p class="promo-header">Connect with alumni and find mentors</p>
		<p class="promo-body">Your alumni network is probably your most valuable asset during your career. Whether you're looking for a new job or just advice on your next carer move, fellow alums have been down the same road before and can offer useful advice. Before you know it, you'll be offering advice to other alums too.</p>
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="promo-container-grey">
<div class="promo-module">
	<div class="promo-left pull-left">
		<p class="promo-header">Explore possible career paths</p>
		<p class="promo-body">When you're just starting out, you have lots of options and sometimes that can feel overwhelming. But you shouldn't try to figure it out all on your onw. Hundreds, probably thousands, have traveled down the same path and you can browse, search and explore what they've done to help you with your own decisions.</p>
	</div>
	<div class="promo-right pull-left">
		
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="promo-container">
<div class="promo-module">
	<div class="promo-left pull-left">
		
	</div>
	<div class="promo-right pull-left">
		<p class="promo-header">Ask for and share advice</p>
		<p class="promo-body">Whether you realize it a lot, you've got a lot of career-related information stored inside your head. And your fellow alums are the same. Together, you can swap and share advice on what jobs, careers and companies you should be taking a look at. Bottom line: there's no reason to make these choices alone.</p>
	</div>
	<div class="clear"></div>
</div>

</div>
{% endblock %}

{% block promo %}


{% endblock %}

{% block templates %}

{% endblock %}



