{% extends "base_full.html" %}

{% block head %}

	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/welcome.css" />

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro|Signika+Negative|Bitter|Volkhov">

{% endblock %}

<!-- Messages -->
{% block message %}
{% endblock %}

{% block content %}

<div id="v2-splash-home">

	<div class="v2-splash-inner-container">


		<div class="splash-module pull-left" style="margin-top:125px;margin-bottom:75px;">
			<p class="v2-splash-message-header">Learn where you're going</p>
			<p class="v2-splash-message-header">And how you're going to get there</p>
			<!-- <p class="v2-splash-message-header">Find the right path for you</p>
			<p class="splash-message-subheader">Connect with fellow alumns</p>
			<p class="splash-message-subheader">Explore possible career paths</p>
			<p class="splash-message-subheader">Seek and share career advice</p> -->
			<p class="splash-submessage no-hover">
				<a id="get-started-button" class="flat-button green-button" href="/account/authorize">Get started</a>
			</p>
			<!-- <p class="splash-submessage"><a href="/account/register">With email only</a></> -->
			<div class="clear"></div>
		</div>

		<div class="splash-module pull-left">
			<img src="/static/img/welcome_splash_1.png" id="splash-img-1"/>
		</div>

	<div class="clear"></div>
	</div>

</div>

<!-- <div class="pad-top pad-bottom promo-container">
<div class="promo-module">
	<div class="promo-left pull-left">
		<img src="/static/img/splash_alumni_1.png" id="splash-img-alumni" />
	</div>

	<div class="promo-right pull-left pad-left pad-top">
		<p class="v2-promo-header">Connect with alumni. Find mentors.</p>
		<p class="v2-promo-body">Your alumni network is one of your most valuable assets -- don't let it go to waste. Whether you're searching for a new job or just looking for advice on your next career move, fellow alums have been down the same road before and can help.<br/><br/> Before you know it, you will be in their shoes, and younger alums will be asking for your advice, too.</p>
	</div>
	<div class="clear"></div>
</div>
</div>

<div class="v2-promo-container-grey pad-top pad-bottom">
<div class="promo-module">
	<div class="promo-left pull-left pad-top">
		<p class="v2-promo-header">Ask for and share advice.</p>
		<p class="v2-promo-body">Whether you realize or not, you've
		 got a lot of career-related information stored, on internships, college majors, and jobs inside your head. And your fellow alums are the same way. Together, you can swap and share advice on what jobs, careers and companies you should be taking a look at. <br/><br/> Career decisions have a huge impact on your life: there's no reason to make them alone.</p>

	</div>
	<div class="promo-right pull-left">
		<img src="/static/img/splash_advice_1.png" id="splash-img-advice" />
	</div>
	<div class="clear"></div>
</div>

</div>
<div class="promo-container pad-top pad-bottom">
<div class="promo-module">
	<!-- <div class="promo-full"> -->
<!-- 	<div class="row-fluid">
		<div class="offset2 span8 center">
			<div class="v2-promo-header">
				Interested? Signing up takes only a second.
			</div>

			<br/>

			<div>
				<a class="flat-button call-to-action" href="/account/register">Get started</a>
			</div>
		</div>
	</div> -->
	<!-- <div class="promo-left pull-left">
		<img src="/static/img/splash_plan_1.png" id="splash-img-plan" />
	</div>
	<div class="promo-right pull-left">
		
		<p class="promo-header">Explore possible career paths</p>
		<p class="promo-body">When you're just graduating, and even for a few years affter, you can feel confused by the bewildering array of seeming opportunities. You shouldn't try to sort through it all on your own. Hundreds, if not thousands, of other people have traveled down the same road and can share their experiences.</p>
	</div>
	<div class="clear"></div> 
</div> -->
<!-- </div> -->
{% endblock %}

{% block promo %}


{% endblock %}

{% block templates %}

{% endblock %}



