{% extends "base_full.html" %}

{% block head %}

	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/welcome.css" />
{% endblock %}

<!-- Messages -->
{% block message %}
{% endblock %}

{% block content %}

<div id="splash-home">

	<div class="span10 offset1">
		<p class="splash-message-header">Don't just work, prosper!</p>
		<p class="splash-message-subheader">ProsperMe helps you discover actual career paths from real people in your network.</p>
		<p class="text-center splash-submessage no-hover">
			<a id="get-started-button" class="flat-button green-button center" href="/account/register">Get started</a>
		</p>
	</div>

	<div class="clear"></div>

</div>
{% endblock %}

{% block promo %}
<div id="promo-message-container">
	<div id="promo-message-inner">

		<!-- Explore Career Paths -->
		<div class="row">
			<div class="span6 promo-header-container column-left">
				<div class="promo-header">
					Explore Career Paths
				</div>
				<div class="promo-text">
					See the career paths of industry leaders, celebrities, and others. Learn from ther decisions, step-by-step, and build your own plans using their foundation.
				</div>
				<div class="flat-button blue-button button-large promo-button" onclick="register()">Start Exploring</div>

			</div>

			<div class="span6 promo-image-containe column-right">
				IMAGE
			</div>

		</div>

		<!-- Build Career Paths -->
		<div class="row">

			<div class="span6 promo-image-container column-left">

				IMAGE
			</div>

			<div class="span6 promo-header-container column-right">
				<div class="promo-header">
					Build Your Own Career
				</div>
				<div class="promo-text">
					Build your future career path one position at a time. With each new position, ProsperMe will show you what opportunitites come next until you reach your dream job.
				</div>
				<div class="flat-button blue-button button-large promo-button" onclick="register()">Start Building</div>
			</div>
		</div>

		<!-- Plan Next Steps -->
		<div class="row">

			<div class="span6 promo-header-container column-left">
				<div class="promo-header">
					Plan Your Next Steps
				</div>
				<div class="promo-text">
					Planning a career change to something new? See the options for switching to a new industry.
				</div>
				<div class="flat-button blue-button button-large  promo-button" onclick="register()">See What's Next</div>
			</div>
			<div class="span6 promo-image-container column-right">
				IMAGE
			</div>

			
		</div>	
	</div>


</div>
<script type="text/javascript">
	var register=function() {
		window.location="/account/register"
	};
</script>

{% endblock %}

{% block templates %}

{% endblock %}

{% block footer %}

{% endblock %}

