{% extends "base_full.html" %}

{% block head %}

{% endblock %}

<!-- Messages -->
{% block message %}
{% endblock %}

{% block content %}

<div id="splash-home">
	<div class="span10 offset1">
		<p class="splash-message-header">Don't just work, prosper!</p>
		<p class="splash-message-subheader">Prosperime helps you discover actual career paths from real people in your network.</p>
		<p class="text-center splash-submessage"><a class="flat-button green-button center" href="/account/authorize">Get started</a></p>
		<p class="text-center splash-submessage"><a class="left-spacer center" href="/account/login">Already registered?</a></p>
		
	</div>
	<div class="clear"></div>

</div>
{% endblock %}

{% block promo %}
<div id="promo-message-container">
	<div class="row-fluid">
		<div class="span5">
			<p class="promo-message-header">Discover career paths</p>
			<p class="promo-message">Go beyond anecdotes and conjecture -- build off your own career based on what others have actually done before.</p>
		</div>
		<div class="span5 offset1">
			<p class="promo-message-header">Evaluate yourself</p>
			<p class="promo-message">Research, plan and compare multiple compare paths and see how your current education and jobs prepare you.</p>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span5">
			<p class="promo-message-header">Connect with mentors</p>
			<p class="promo-message">Find people who have already faced the same challenges as you and connect with them to do better.</p>
		</div>
		<div class="span5 offset1">
			<p class="promo-message-header">Pivot between industries and locations</p>
			<p class="promo-message">Don't limit yourself to one industry or region, see how career paths cross thse boundaries</p>
		</div>
	</div>
</div>
{% endblock %}

{% block templates %}

{% endblock %}

{% block footer %}

{% endblock %}

