a.career-profile-nav, a.career-profile-nav.unselected:hover {
	display: inline-block;
	background-color: rgb(41,98,152);
	color: #fff;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	text-decoration: none;
}

a.career-profile-nav.unselected {
	color: rgb(41,98,152);
	background-color: #fff;
}

div.career-profile-nav-container {
	border-bottom: solid 1px rgb(41,98,152);
	margin-bottom: 15px;
}

.career-profile-stats-holder {
	padding-left:10px;
}


.career-profile-stats-block {
	display: inline-block;
	text-align: center;
	padding: 5px 5px 5px 5px;
	width: 50px;
	font-size: 18px;
	cursor: pointer;
	border: 1px solid rgb(41,98,152);
	margin: 0px;

}

.stats-highlighted {
	color: #fff;
	background-color: rgb(51,98,152);
}

.stats-holder {
	text-align: center;
	width: 150px;
	display: inline-block;
	color: rgb(41,98,152);
	font-size:18px;
}

.career-profile-stats-container {
	margin-left:20px;
}

.career-profile-stats {
	margin-right:15px;
	margin-top:15px;
	width:150px;
}

img.career-profile-preview {
	width:75px;
}

li.career-profile-paths-item p {
	/*display:inline-block;*/
	width:75px;
	overflow:auto;
	font-size:0.9em;
	text-align: center;
}

p.stats-header {
	text-align: center;
	margin-top:5px;
}

#career-profile-graph-label {
	overflow: auto;
	width: 225px;
	height:40px;
	text-align: center;
}

.career-module {
	margin-bottom:15px;
}

#career-left-pane {
	width:500px;
}

#career-right-pane {
	width:450px;
}

.career-list li {
	line-height:24px;
}

.info-badge {
	display:inline-block;
	/*height:16px;*/
	color:#fffffe;
	background-color:rgb(48,91,152);
	/*min-width:15px;*/
	padding: 1px 10px 1px 10px;
	font-size: 12px;
	border-radius: 1px;
}

.user-info-stub {
	max-width:350px;
}

.user-info-stub p {
	margin-bottom:5px;
}


/* Individual Major Pages (Clay) */
.v2-feature-page-header {
	font-size:2.5em;
	margin-top:15px;
	color:rgba(41,98,152,0.9);
	/*margin-top:25px;*/
	/*margin-bottom:25px;*/
	font-family:"Helvetica Neue",Helvetica, "Lato";
}

.black {
	color:rgba(51,51,51,0.8);
}

div.placeholder {
	height:30px;
	width:100%;
}


div.section-header {
	font-size:1.4em;
	line-height:30px;

}

div.path-row {
	padding:10px 5px 10px 5px;
	border-top:1px solid rgba(51,51,51,0.1);
	color: rgba(51,51,51,0.9);
	font-size:1.1em;
}

img.major-profile-pic {
	border-radius:80px;
	width:80px;
	height:80px;
	border:2px solid rgba(51,51,51,0.7);
}

div.path-position {
	text-align:center;
	padding-top:30px;
}

.pad-down {
	padding-top:15px !important;
}

div.spacer {
	position:relative;
	width:100%;
	border-top:1px solid rgba(51,51,51,0.7);
	top:48px;
}

.path-row-hover {
	background-color: rgba(41,128,185,0.8);
	border-radius:2px;
}

.center { text-align:center; }



