.module {
	text-align:center;
	margin-top:25px;
}

.header {
	font-size:1.8em;
	line-height:28px;
	border-bottom:1px solid midnightblue;
	padding:15px;
	max-width:100px;
	margin: 0 auto;
}



.content {
	margin-top:28px;
	line-height:28px;
	font-size:1.2em;
}

.main-container {
	height:600px;
}

.name {
	font-weight:700;
	margin-bottom:15px;
}

.description {
	display:inline-block;
	font-weight:200;
}

.dummy {
	margin:0px;
}