/* Discover */

p.splash-header {
	font-size: 1.5em;
	color: rgb(41,98,152);
	font-weight: 500;
}

div .blue-box-container a {
	color:whitesmoke;
	text-decoration:none;
}

div.discover-nav-container {
	border-bottom: solid 1px rgb(41,98,152);
	padding-bottom: 0px;
}

div.discover-nav-container div {
	
}	

.discover-nav-selected {
	padding: 5px 10px 5px 10px;
	background-color: rgb(41,98,152);
	/*margin-right: 15px;*/
	width: 50px
	transition: background 0.5s;
	-moz-transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
}

.discover-nav-selected a {
	text-decoration: none;
	color: #fff;

}

.discover-nav-unselected {
	background-color: #fff;
	padding: 5px 10px 5px 10px;
	/*margin-right: 15px;*/
	width: 50px
	transition: background 0.5s;
	-moz-transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;

}

.discover-nav-unselected a {
	text-decoration: none;
	color: rgb(41,98,152);
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.discover-nav-unselected:hover {
	background-color: rgb(41,98,152);
	color: #fff;
}

.discover-nav-unselected:hover a {
	color: #fff;
}


div.discover-careers-container, div.discover-paths-network, div.discover-paths-all {
	padding-left: 5px;
	padding-top: 10px;
}

div.careers-name-container {
	padding-top:5px;
	width:425px;
	height:45px;
}

div.careers-name-container a.careers-name {
	font-size:1.1em;
}
ul.careers-stats li {
	display:inline-block;
	text-align: center;
	padding:0px;
	margin-right: 10px;
	width:50px;
}

ul.careers-stats-vertical li {
	text-align: center;
	padding:0px;
	margin-right: 10px;
}

ul.careers-stats li div.stats {
	width:40px;
	height:25px;
	padding-top:2px;
	/*padding: 2px 5px 2px 5px;*/
	display:inline-block;
}

span.stats {
	width:40px;
	height:25px;
	padding-top:2px;
	display:inline-block;
	text-align: center;
	color: #fff;
}

div.discover-path {
	margin-left: 15px;
	margin-bottom:15px;
}

div.discover-path-name {
	margin-left: 15px;
}

div.path-position {
	font-size: 0.9em;
}

ul.career-overview-stats li {
	margin-bottom: 10px;
}

.career-overview-stats-people span.stats {
	background-color: rgb(41,98,162);
	text-align: center;
	color: #fff;
}

.career-overview-stats-positions span.stats {
	background-color: rgb(50,121,202);
	text-align: center;
	color: #fff;
}

.career-overview-stats-orgs span.stats {
	background-color: rgb(59,142,236);
	text-align: center;
	color: #fff;
}

div.discover-paths-network-list {
	width:70%;
}

div.careers-header-row {
	height:20px;
	width:425px;
	padding-top:5px;
}