/* Imports */
/* Pure colors */
/* General Colors */
/* Element specific */
/* Button colors */
/* General Styles */
/* Left Column */
/* Main Content Styles */
#left-question-column {
  margin-left: 0px;
  width: 0; }

#center-question-column {
  margin-left: 0px;
  width: 165px; }

#right-question-column {
  margin-left: 0px;
  width: 175px; }

#question-page-container {
  padding-top: 24px; }

/* Left Column */
.stat-container {
  margin-bottom: 12px;
  text-align: left; }

.stat {
  text-align: center;
  color: #fffffe;
  background-color: rgba(51, 51, 51, 0.8);
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  line-height: 20px; }

/* Main Content Styles */
.body-text {
  margin-bottom: 6px;
  line-height: 26px; }

.single-question-module {
  margin-top: 24px;
  margin-bottom: 24px; }

.question-column-left, .comment-column-left {
  display: inline-block;
  width: 110px;
  margin-right: 10px;
  vertical-align: top; }

.question-column-right, .comment-column-right {
  width: 645px;
  display: inline-block;
  vertical-align: top; }

.question-questionPage-column-left {
  text-align: center;
  width: 15%;
  display: inline-block;
  vertical-align: top; }

.question-questionPage-column-right {
  width: 80%;
  display: inline-block;
  vertical-align: top; }

.question-title {
  font-size: 1.6em;
  margin-bottom: 12px;
  line-height: 32px; }

.question-body {
  margin-top: 12px;
  margin-bottom: 12px; }

.question-user-name {
  font-weight: normal;
  margin-top: 6px; }

.question-user-name {
  font-weight: bold;
  margin-top: 6px; }

.question-subtext {
  margin-top: 5px; }

.question-tags-container {
  margin-left: 90px; }

.comment-column-left {
  width: 35px; }

.comment-column-right {
  width: 590px; }

.comment-body {
  font-size: 0.9em;
  line-height: 1.1em; }

.comment-subtext {
  font-size: 0.8em;
  line-height: 1em;
  text-align: right; }

.comment-vote {
  width: 30px;
  height: 20px;
  line-height: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #fffffe;
  border-radius: 2px; }

.comment-module {
  /* margin-left: 85px */
  width: 645px;
  margin-top: 32px; }
  .comment-module .comment-button {
    text-align: center;
    float: right;
    margin-right: 16px;
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-color: #2ecc71;
    border-radius: 2px;
    display: inline-block;
    margin-right: 16px;
    padding: 2px 2px;
    cursor: pointer; }

.comment-textarea {
  width: 580px;
  height: 20px;
  resize: none; }

.comment-user {
  text-align: right; }

.follow-button {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background-color: #2ecc71;
  border-radius: 2px;
  display: inline-block;
  margin-right: 16px;
  padding: 2px 2px;
  cursor: pointer;
  text-align: center; }

.following {
  background-color: silver;
  cursor: default; }

.vote-container {
  border-radius: 2px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  margin-top: 12px; }

.vote {
  display: inline-block;
  margin: 0 auto; }
  .vote i {
    cursor: pointer;
    transition: color; }

.vote-button .icon-chevron-left:hover {
  color: #e74c3c; }

.vote-button .icon-chevron-right:hover {
  color: #339933; }

.no-comments-module {
  text-align: center;
  margin-top: 18px; }

.call-out-text {
  background-color: #6fb6d4;
  border-radius: 1px;
  color: #fffffe; }

.center-question-column-module {
  border-bottom: 1px solid #e0e0e0;
  padding-left: 36px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px; }

/* Right Column Styles */
.right-question-column-module {
  padding: 8px 10px;
  padding-top: 24px;
  padding-bottom: 12px; }

.related-question {
  margin-top: 6px; }
  .related-question a {
    text-decoration: none; }

.followers-module p {
  margin-top: 6px; }
.followers-module .followers-profile-pic {
  display: inline-block;
  margin: 0;
  width: 48px;
  height: 48px;
  margin-top: 6px; }
  .followers-module .followers-profile-pic img {
    border-radius: 48px; }
.followers-module .followers-more-followers {
  text-align: right;
  margin-top: 6px; }

/* Ask Question Page Extra Styles */
.ask-header {
  font-size: 2em;
  margin-bottom: 16px; }

.form-module {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 24px; }

#ask-question-form #ask-form-title {
  width: 650px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2em; }
#ask-question-form .control-group {
  margin-top: 12px;
  margin-bottom: 36px; }
#ask-question-form textarea {
  resize: none; }

/* Search Styles */
#search-conversations-input {
  width: 425px; }

.tt-hint {
  width: 425px; }

.tt-dropdown-menu {
  background-color: #fffffe; }
  .tt-dropdown-menu li {
    padding-left: 5px;
    padding-right: 5px; }
  .tt-dropdown-menu li:hover {
    background-color: #6fb6d4;
    color: #fffffe;
    cursor: pointer; }

.no-results-container {
  font-size: 18px; }

.query {
  font-style: italic; }
