
/* Dashboard Module */

.dashboard-module {
	/*width:300px;*/
	margin-right:20px;
	min-height:200px;
}

.two-thirds {
	width:550px;
}

.one-third {
	width:400px;
}

.module-header {
	font-weight: 500;
	font-size:1.1em;
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.module-list li {
	display: inline;
	margin-right: 10px;
}

.dashboard-header {
	margin-bottom: 10px;
}

p.splash-header {
	font-size: 1.5em;
	color: rgb(41,98,152);
	font-weight: 500;
}

.bolder {
	font-weight:bold;
}

.link-to-all-paths {
	font-weight:bold;
}

.saved-paths-nav-container {
	border-bottom: solid 1px rgb(41,98,152);
	padding-bottom: 0px;
}

.saved-paths-container {
	margin-top:10px;
}

.saved-paths-right-sidebar {
	width: 240px;
}

.module-whats-this {
	text-align:right;
	font-size:0.8em;
	position:relative;
	left:100px;
}

#module-info-careers {
	font-size:.9em;
	padding:4px;
}

/***********/
/* Home V2 */
/***********/
div.main-container {
	padding:0px;
}

div#link-container {
/*	margin-bottom:200px;
	padding-bottom:250px;*/
	height:500px;
	max-height:500px;
}

div#left-container {
	/*border:1px solid midnightblue;*/
/*
	max-width:150px;
	width:150px;
	margin:0 auto;
	height:150px;*/
}


div#middle-container {
	/*border:1px solid midnightblue;*/

	/*max-width:150px;
	width:150px;
	margin:0 auto;
	height:150px;
	text-align:center;*/
}


div#right-container {
	/*border:1px solid midnightblue;*/

	/*max-width:150px;
	width:150px;
	margin:0 auto;
	height:150px;*/
}

div.svg-container {
	height:1px;
}

div#middle-text {
	position:relative;
	bottom:290px;
	font-size:1.4em;
	color:#fffffe;
	text-align:center;
	cursor:pointer;
}

div#left-text {
	position:relative;
	bottom:290px;
	font-size:1.4em;
	color:#fffffe;
	text-align:center;
	cursor:pointer;
}

div#right-text {
	position:relative;
	bottom:300px;
	font-size:1.4em;
	color:#fffffe;
	text-align:center;
	text-rendering: optimizelegibility;
	cursor:pointer;
}

div.header-container { 
/*	margin-bottom:25px;
*/}


div.inline {
	display:inline;
	margin-left:6px !important;
}

div.main-header {
	font-size:1.6em;
	line-height:40px;
}

div.sub-header {
	font-size:1.4em;
	line-height:35px;
}


div#left-description {
	margin-top:90px;
}

div#middle-description {
	margin-top:135px;
}

div#right-description {
	margin-top:90px;
}

div.topic-description {
	text-align:center;
	font-size:1.2em;
	line-height:24px;
}

.hidden {
	display:none;
	visibility: visible;
}

.embolden {

}

/*div.icon-text {
	cursor:pointer;
}
*/


div#top-icon {
	position:relative;
	bottom:380px;
	left:480px;
	/*color:#fffffe;*/
}

div#middle-icon {
	position:relative;
	bottom:255px;
	left:415px;
	/*color:#fffffe;*/
}

div#bottom-icon {
	position:relative;
	bottom:130px;
	left:355px;
	/*color:#fffffe;*/
}

i.icon-5x {
	font-size:5em;
	cursor:pointer;
}


/* Text Positioning */
div#top-text-left {

	right:385px;
	bottom:40px;
}

div#middle-text-left {
	right:325px;
	bottom:40px;
}

div#bottom-text-left {
	right:265px;
	bottom:50px;
}

div.main-text {
	font-size:2.5em;
	color:#fffffe;
	position:relative;
}

div.secondary-text {
	font-size:1em;
	color:#fffffe;
	position:relative;
	line-height:27px;
	text-align:center;
}

div#bottom-right-text {
	bottom:100px;
	max-width:500px;
	left:125px;
}

div#middle-right-text {
	max-width:400px;
	bottom:80px;
	left:150px;
}

div#top-right-text {
	max-width:350px;
	bottom:100px;
	left:130px;
}

div#welcome-header {
	top:25px;
	left:25px;
	z-index:10;
}

div#welcome-text {
	top:50px;
	right:250px;
	z-index:10;
}

div#feedback-text {
	top:10px;
	z-index:10;
	left:325px;
}

.pointer {
	cursor:pointer;
}




/***********/
/* Home V3 */
/***********/
div#v3-container {
	height:450px;
	max-height:450px;
}

table#homepage-main-table {
	padding:25px;
	text-align:center;
	height:450px;
}

table#homepage-main-table td {
	margin:25px;
}

table#homepage-main-table .icon {
	width:15%;
	text-align:center;
}

table#homepage-main-table .header {
	width:20%;
	text-align:center;
	font-size:2.8em;
	font-weight:600;
}

table#homepage-main-table .description {
	padding:25px;
	font-size:1.2em;
	line-height:26px;
	color:#333;
}

div.header-wrapper {
	/*background-color:#408dd2;*/
	height:75px;
	border-radius:1px;
	vertical-align:middle;
	line-height:75px;
	font-family:Helvetica;
	cursor:pointer;
}

div.header-wrapper a {
	text-decoration:none;
}

tr.top-row {
/*	color:#679FD2; */
	border-bottom:1px dashed rgba(51,51,51,.4);
	color:rgb(41,98,152);
}

tr.middle-row {
/*	color:#408DD2; */
	border-bottom:1px dashed rgba(51,51,51,.4);
	color:rgb(41,98,152);

}

tr.bottom-row {
	color:rgb(41,98,152);
/*	color:#0C5DA5;
*/}

div.v3-header-container {

	padding:10px 25px 10px 25px;
}

.v3-main-header {
	font-size:2.5em;
	font-family:Helvetica;
	color:rgb(41,98,152);
	border-bottom:2px dashed rgba(41,98,152,0.4);
	padding:4px 10px;
}

.v4-welcome-header {
	font-size:2.8em;
	font-family:Helvetica;
	color:rgb(51,98,152);
}

div.v3-sub-header {
	padding-left:25px;
	padding-right:25px;
	padding-top:35px;
	font-size:1.2em;
/*	font-family:"Varela", "Helvetica";
*/}

table#homepage-main-table td i {
	color:#333;
}



/*************/
/*   Home V4 */
/*************/

.main-container {

}

div.third-container {
	display:inline-block;
	text-align:center;
}

div.v4-header {
	font-size:2.5em;
	margin-top:25px;
	margin-bottom:50px;
	cursor:pointer;
/*	font-family:"Varela", "Helvetica";
*/}

div.v4-sub-header {
/*	font-family:"Varela", "Helvetica";
*/	cursor:pointer;
	font-size:1.2em;
	margin-top:25px;
	margin-bottom:25px;
	color:#333;
}

div.third-container a {
	text-decoration:none;
	color:rgb(41,98,152);
}

div.third-container a i {
	color:#333;
}

div.description {
	margin:0px !important;
	padding:10px;
/*	border:2px dashed rgba(41,98,152, 0.4);
*/	height:125px;
	line-height:22px;
}

div.v4-text-container {
	margin-left:20px;
}

div.sub-description {
	margin-top:15px;
	font-size:1.1em;
	margin-bottom:15px;
/*	font-family:"Varela", "Helvetica";
*/}

ul.sub-sub-description li {
	list-style:circle;
	font-size:.9em;

}

div#h-bottom-row {
	background-color:rgb(41,98,152);
	color:#fffffe;
	margin-left:0px;
	position:relative;
	top:100px;
	font-size:1.2em;
	padding-left:20px;
	padding-top:20px;
	padding:0px 0px 0px 20px;
}

div.bottom-row-middle-box {
/*	border-left:1px dashed rgba(41,98,152, .4);
	border-right:1px dashed rgba(41,98,152, .4);;*/
	border-left:2px dashed #94B0CB;
	border-right:2px dashed #94B0CB;
}


/************/
/***  V5  ***/
/************/
div#v5-header-container {
	/*padding-left:25px;*/
}

div.v5-header {
	font-size:2.5em;
	color:rgb(41,98,152);
	padding-bottom:25px;
	text-align:left;
	padding-top:50px;
}

div.v5-text {
	font-size:1.3em;
	line-height:25px;
	text-align:left;
}

div#v5-container {
	height:475px;
	max-height:475px;
	margin-left:25px;
}

div.v5-button {
	margin-bottom:50px;
	margin-top:25px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: rgb(41,98,152);
	color:#fffffe;
	max-width:200px;
	font-size:1.4em;
	line-height:24px;
}

div.v5-button a {
	text-decoration: none;
	color:#fffffe;
}












