.form-header {
	font-weight: bold;
	font-size: 1.3em;
	border-bottom: 1px solid black;
	margin-top:10px;
}

label.checkbox {
	font-size:0.9em;
}

img.logo-preview {
	width:100px;
	float: left;
}

.company-header {
	float:left;
	font-weight: bold;
	font-size: 1.2em;
}

.clear {
	clear:both;
}

.list-preview {
	border-top: 1px solid #ccc;
	padding: 5px;
}