/* Components */

body {
	/*padding-top:40px;*/
	background-color:whitesmoke;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

div.main-container {
	/*margin-left:auto;
	margin-right:auto;
	width:1100px;*/
	background-color: #fff;
	padding:5px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

div.navbar-inner {
	background-color: #fff;
	background-image: none;
}

div.nav-container {
	padding-left: 0px;
	padding-right: 0px;
}

ul.nav-list {
	font-size: 1.1em;
}

img.main-logo {
	margin-top: 5px;
}

/* Footer */

div.footer {
	font-size: 0.9em;
	border-top: 1px solid #ccc;
	padding-top:10px;
}

/* Home page */

div#splash-home {
	background-image: url('/static/img/bg-gradient-1.png');
	margin:0;
	padding: 35px 0 30px 0; 
	height:200px;
}

div.splash-container {
	margin:0;
	padding:0;
}

p.splash-message-header {
	color:#000;
	font-size: 1.8em;
	line-height: 1.8em;
	margin-top:15px;
	font-weight: 500;
	text-align: center;
}

p.splash-message-subheader {
	font-size: 1.4em;
	line-height: 1.6em;
	text-align: center;
	color:#363a3d;
}

a.splash-message, p.splash-message {
	/*color:#ddd;*/
	color:#363a3d;
	font-size: 1.2em;
	line-height: 1.4em;
	vertical-align: middle;
}

p.splash-submessage a {
	color:#363a3d;
	font-size: 1.0em;
	line-height: 1.2em;
	vertical-align: middle;
}

p.splash-submessage a:hover {
	color:#fff;
} 

a.splash-message:hover {
	color:#fff;
}

p.promo-message-header {
	font-weight: bold;
	font-size: 1.3em;
	margin-top:15px;
}

p.promo-message {

}

div#promo-message-container {
	padding-top:10px;
	background-color: whitesmoke;
	height:225px;
}

ul {
	margin:0px;
	padding:0;

}

li {
	list-style: none;
	margin-left: 0;
}

.form-header {
	font-weight: bold;
	font-size: 1.1em;
	border-bottom: 1px solid #ccc;
	/*margin-top:10px;*/
}

.search-form-module {
	margin-bottom: 10px;
}

label.checkbox {
	font-size:0.95em;
}

img.logo-preview {
	width:100px;
}

.company-header {

	font-weight: bold;
	font-size: 1.2em;
}

.clear {
	clear:both;
}

.list-preview {
	border-top: 1px solid #ccc;
	/*border: 1px solid #ccc;
	/*border-radius: 2px;*/
	padding: 5px;
	min-height: 85px;
	margin: 5px 0 10px 0;
	overflow: auto;
}

/*.left-list-preview {
	float:left;
	width:150px;
}*/

.right-list-preview {
	float:left;
}

.rounded {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	font-size:0.9em;
	margin-bottom: 15px;
}

.sidebar-header {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom:5px;
}

.main-header {
	font-weight: bold;
	font-size:1.2em;
}

#search-container {
	/*border: 1px solid #ccc;*/
	/*padding: 5px;*/
	border-right: 1px solid #ccc;
	padding:0px;
	border-radius: 2px;
	font-size:0.9em;
	/*margin-bottom: 15px;*/
}

.search-form-header {
	background-color: #6B8FD4;
	padding: 5px;
}

.search-form-module {
	padding: 5px;
}

div.message {
	border: 1px solid rgb(58,139,233);
	/*opacity: 0.7;*/
	border-radius: 2px;
	padding: 5px;
	margin: 0 0 10px 0;
	
}

div.message p {
	font-size:1.1em;
	/*color:#fff;*/
	opacity:1.0;
}
.message a {

}

/* Path */

p.path-name {
	color: rgb(41,98,152);
	margin-bottom:2px;
}

p.path-current-position {
	margin-top:2px;
	font-size: 0.9em;
	margin-bottom:0px;
}

span.path-viz-pos {
	font-size:0.9em;
	margin-right:5px;
}

div.path-viz {
	margin-top: 5px;
	font-size: 0.9em;
}

a.path-name-link:hover {
	cursor: pointer;
}

div.path-viz-sep-circle {
	position: relative;
    margin: 1em 1em;
    width: 1.2em; 
    height: 1.2em;
    border-radius: 50%;
    background: midnightblue;
    /*background: rgb(41,98,162);*/
    /*border: 20px solid white;*/
    /*border-top-color: darkblue;*/
}

div.path-viz-sep-line {
	position:relative;
	margin: 1em 1em;
	width: 2px;
	height: 1.5em;
	border:2px solid midnightblue;
}

div.path-viz-pos {
	margin-top:1em;
}

ul.search-view-links {
	display: inline;
}

.viz-row {
	top:10px;
}

.viz-row0 {
	top:10px;
}

.viz-row1 {
	top:20px;
}

.viz-row2 {
	top:30px;
}

.viz-row3 {
	top:40px;
}

div.path-viz-pos {
	position:relative;
	border: 1px solid rgb(41,98,162);
	border-radius: 2px;
	padding:2px;
	padding-left:5px;
	padding-right:5px;
  	/*box-shadow:         2px 2px 2px 2px #ccc;*/
}

div.path-viz-pos .notch-right {
    position: absolute;
    top: 10px;
    right: -8px;
    margin: 0;
    border-right: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid rgb(41,98,162);
    border-bottom: 8px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

div.path-viz-pos .notch-left {
    position: absolute;
    top: 10px;
    left: -8px;
    margin: 0;
    border-left: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid rgb(41,98,162);
    border-bottom: 8px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

span.path-viz-pos-co {
	font-size: 0.9em;
}

div.path-viz-pos ul {
	list-style: none;
	margin-left: 10px;
	margin-top: 5px;
	font-size:0.8em;
	line-height:1em;
	width:200px;
}

div.path-viz-timeline-left {
	margin-left:20px;
}
div.path-viz-timeline-center {
	/*height: 250px;*/
	background-image: url('/static/img/path-viz-line.png');
	background-repeat: repeat-y;
	background-position:center;
	width:25px;
}

.viz-line-height0 {
	height:100px;
}

.viz-line-height1 {
	height:125;
}

.viz-line-height2 {
	height:150px;
}

.viz-line-height3 {
	height:175px;
}

.viz-line-height4 {
	height:200px;
}

.viz-line-height5 {
	height:225px;
}

.viz-line-height6 {
	height:250px;
}

.viz-line-height7 {
	height:275px;
}

.viz-line-height8 {
	height:300px;
}

.viz-line-height9 {
	height:325px;
}

.viz-line-height10 {
	height:350px;
}

.viz-line-height11 {
	height:375px;
}

.viz-line-height12 {
	height:400px;
}

/* Search filters */


div.max-filters{
	width:25%;
	overflow: hidden;
	margin-right:5px;
}

div.min-filters{
	width:2%;
	/*overflow: hidden;*/
	margin-right:5px;
}

div.min-results {
	width:73%;
}

div.max-results {
	width:95%;
}

input.input-search-filter {
	font-size: 0.8em;
}

a.search-control-close:hover, a.search-control-open:hover {
	cursor: pointer;
}

div.profile-img-holder img {
	width:45px;
}

/* Careers API */

.careers-single{
	min-height: 50px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background-position: center bottom;
	background-repeat: no-repeat;
	transition: background 0.5s;
	-moz-transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
}

.careers-single:hover {
	background-image: url('/static/img/chevron.png');
	
}

.careers-name {
	font-size:1em;
	color:rgb(41,98,162);
	cursor:pointer;
}
.careers-user-thumbnails-list span {
	display:inline-block;
	background-color: #ccc;
	width: 35px;
}

.careers-user-thumbnail {
	width:35px;
	-moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s;  
    -ms-transition: all 0.5s;  
    -o-transition: all 0.5s;  
    transition: all 0.5s; 
    opacity:0.4;
    filter:alpha(opacity=40);
    margin-right: 5px;
}

.careers-user-thumbnail-expose, .careers-user-thumbnail:hover {
	opacity:1;
    filter:alpha(opacity=100);
}

.careers-org-thumbnail img {
	width:55px;
	-moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s;  
    -ms-transition: all 0.5s;  
    -o-transition: all 0.5s;  
    transition: all 0.5s; 
    opacity:0.4;
    filter:alpha(opacity=40);
    maring-right: 5px;
}


.career-description {
	margin-top:10px;
	font-size:1.2em;
	font-style:italic;
}

.careers-stats {
	font-size:0.9em;
	color:#999;
	text-align: center;
	margin-left:15px;
}

.careers-stats div {
	cursor: pointer;
	-moz-transition: all 0.2s; 
    -webkit-transition: all 0.2s;  
    -ms-transition: all 0.2s;  
    -o-transition: all 0.2s;  
    transition: all 0.2s; 
}

.careers-stats-count {
	font-size:1.1em;
	font-weight: bold;
	cursor: pointer;
	
}

.careers-stats-expose, .careers-stats div:hover {
	color:rgb(41,98,162);
}

a.careers-expand {
	font-size:0.8;
	display:none;
}

a.careers-expand:hover {
	cursor: pointer;
}

.careers-info-list {
	max-width: 275px;
}

.careers-info-orgs {
	padding-top: 10px;
	font-size:0.9em;
	color:#8c8c8c;
}

.careers-info-positions {
	display:none;
}

.chevron {
	background-image: url('/static/img/chevron.png');
	background-position: center bottom;
	background-repeat: no-repeat;
}

span.careers-stats-people {
	width: 35px;
	background-color: rgb(41,98,162);
	color: #fff;
	display:inline-block;
	border-radius:1px;
	text-align: center;
	margin-bottom: 5px;
	padding:2px;
}

span.careers-stats-positions {
	width: 35px;
	background-color: rgb(50,121,202);
	color: #fff;
	display:inline-block;
	border-radius:1px;
	text-align: center;
	margin-bottom: 5px;
	padding:2px;
}

span.careers-stats-orgs {
	width: 35px;
	background-color: rgb(59,142,236);
	color: #fff;
	display:inline-block;
	border-radius:1px;
	text-align: center;
	margin-bottom: 5px;
	padding:2px;
}

.careers-preview-list {
	margin-left: 15px;
	font-size: 0.9em;
	margin-top:15px;
	margin-right: 15px;
}

#network-container {
	position:fixed;
}

/* Modifiers */
.overlap-left {
	margin-left: -50px;
}

.left-spacer {
	margin-left:15px;
}

.right-spacer {
	margin-right: 15px;
}

.top-spacer {
	margin-top: 15px;
}

.text-center {
	text-align: center
}

ul.flat {
	display: inline;
}

ul.flat li {
	display:list-item;
	float:left;
	margin-left:15px;
}
