/* Components */

body {
	padding-top:40px;
}

/* Home page */

div#splash-home {
	background-color: rgb(41,98,162);
	margin:0;
	padding: 10px 0 10px 0; 
}

div.splash-container {
	margin:0;
	padding:0;
}

p.splash-message-header {
	color:white;
	font-size: 1.6em;
	line-height: 1.8em;
}

p.splash-message {
	color:#ddd;
	font-size: 1.1em;
	line-height: 1.4em;
}

p.promo-message-header {
	font-weight: bold;
	font-size: 1.1em;
}

p.promo-message {
	
}

div#promo-message-container {
	margin-top:10px;
}

ul {
	margin:0px;
	padding:0;

}

li {
	list-style: none;
	margin-left: 0;
}

.form-header {
	font-weight: bold;
	font-size: 1.1em;
	border-bottom: 1px solid black;
	/*margin-top:10px;*/
}

.search-form-module {
	margin-bottom: 10px;
}

label.checkbox {
	font-size:1em;
}

img.logo-preview {
	width:100px;
}

.company-header {

	font-weight: bold;
	font-size: 1.2em;
}

.clear {
	clear:both;
}

.list-preview {
	border-top: 1px solid #ccc;
	/*border: 1px solid #ccc;
	/*border-radius: 2px;*/
	padding: 5px;
	min-height: 85px;
	margin: 5px 0 10px 0;
}

.left-list-preview {
	float:left;
	width:150px;
}

.right-list-preview {
	float:left;
}

.rounded {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;
	font-size:0.9em;
	margin-bottom: 15px;
}

.sidebar-header {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom:5px;
}

.main-header {
	font-weight: bold;
	font-size:1.2em;
}

.search-container {
	border: 1px solid #ccc;
	/*padding: 5px;*/
	padding:0px;
	border-radius: 2px;
	font-size:0.9em;
	/*margin-bottom: 15px;*/
}

.search-form-header {
	background-color: #6B8FD4;
	padding: 5px;
}

.search-form-module {
	padding: 5px;
}

div.message {
	border: 1px solid rgb(58,139,233);
	/*opacity: 0.7;*/
	border-radius: 2px;
	padding: 5px;
	margin: 0 0 10px 0;
	
}

div.message p {
	font-size:1.1em;
	/*color:#fff;*/
	opacity:1.0;
}
.message a {

}