
div.profile-careers-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.profile-careers-list {
	margin-left: 0;
	font-size:9pt;
}

ul.profile-careers-list li {
	margin-left: 0;
	margin-right:10px;
}

a.profile-button {
	display:inline-block;
	padding: 2px 4px 2px 4px;
	background-color: rgb(41,98,152);
	color:#fff;
	cursor:pointer;
}

a.profile-button:hover {
	text-decoration: none;
}

div.profile-nav-container {
	border-bottom: solid 1px rgb(41,98,152);
	padding-bottom: 0px;
}


div.profile-info-top {
	margin-top:10px;
}

div.profile-img-holder {
	margin-left:15px;
}

div.profile-brief-info {
	margin-left: 15px
}

div#middle-float-screen {
	width:350px;
}