/* Main Content Container Styles */
#welcome-splash-container {
  color: #333333;
  margin: 0;
  padding: 25px 0px 40px 0px;
  height: 100%;
  min-height: 400px;

  padding-top: 5px;
  background-image:url(/static/img/snow.png);
  background-repeat:repeat;

}

#welcome-splash-inner-container {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1000px; }

.splash-module, .splash-module-left {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  text-align: center; 
  margin-top: 20px; }

.splash-module-left {
  text-align: left; }

.splash-submodule {
  width: 475px;
  margin-right: 15px;
  margin-left: 10px; }

.splash-message-header {
  color: #181818;
  line-height: 1.2em;
  margin-bottom: 15px;
  font-size: 2.6em;
  font-weight: 500;
  font-family: "Lato", Helvetica; }

.splash-message-subheader {
  font-size: 1.4em;
  line-height: 2em;
  text-indent: 10px;
  color: #eeeeee;
  font-family: "Arimo", Helvetica;
  color: #e9e9e9; }

.splash-submessage a {
  color: #fffffe;
  font-size: 0.9em;
  line-height: 1.2em;
  display: block;
  width: 42%;
  text-align: center;
  font-weight: normal; }
.splash-submessage a:hover {
  color: #fffffe;
  text-deocration: underline; }

#get-started-button {
  font-size: 20px;
  font-family: Helvetica, Arial;
  font-weight: 200;
  line-height: 32px;
  height: 32px;
  border-radius: 4px;
  padding: 10px 10px 12px 10px;
  text-decoration: none;
  margin-top: 15px;
  width: 175px; }

.splash-poitrait {
  width: 75px;
  height: 75px;
  border: none; }

.splash-quote-left {
  background-image: url("/static/img/quote_left.png");
  background-repeat: no-repeat;
  height: 75px;
  width: 20px;
  display: block; }

.splash-quote-right {
  background-image: url("/static/img/quote_right.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  height: 75px;
  width: 20px;
  display: block; }

.splash-poitrait-quote {
  margin-left: 10px;
  text-align: left;
  width: 335px;
  padding-top: 12px;
  line-height: 24px;
  font-size: 18px;
  font-family: Helvetica, Arial;
  font-weight: 300; }

/*******************************/
/* Guru V1 Welcome Page Styles */
/*******************************/

/* Main Form */
.welcome-input-container {
  margin-top: 36px;
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding-top:24px;
  border-radius: 6px;
}
/* Prepend: "I want to be a..." */
#welcome-add-on-prepend {
  border-width: 3px;
  width: 125px;
  /*background-color: #eef2ea;*/
  min-width: 24px;
  background-color: #fff;
  padding-right: 8px;
  border-right:none;
}

/* Center input[type="text"] */
#welcome-aspiration-input {
  width: 650px;
  padding-left: 8px;
  border: 3px solid #d0d5cb;
  border-right: none;
  border-left: none;
}

/* Append: submit button */
#welcome-add-on-append {
  background-color: rgb(44,93,130);
  width: 100px;
  color: #f0f0f0;
  border:none;
  height: 50px !important;
  line-height: 50px !important;
  cursor: pointer;
}
/* Half modules for signup form */
.secondary-form-half {
  min-height: 200px;
  display: inline-block;
}
/* Full-width button for secondary form */
.full-button {
  display: inline-block;
  line-height: 32px;
  width: 75%;
  font-size: 1.2em;
}
/* Guide number for secondary form */
.form-number {
  position:relative;
  color: #3B67B2;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border: 2px solid #3B67B2;
  border-radius: 36px;
  font-size: 1.8em;
  font-weight: bold;
  left: 36px;
}
/* Aspiration Autocomplete Styles */
.autocomplete-suggestion {
  padding: 6px 8px;
  border-bottom: 1px dashed #d0d5cb;
}

.autocomplete-suggestions {
  font-size: 1.2em;
  line-height: 32px;
  background-color: #fff;
  border-bottom: 3px solid #d0d5cb;
  border-left: 3px solid #d0d5cb;
  border-right: 3px solid #d0d5cb;
}

.autocomplete-selected {
  background-color: rgba(41,98,152,0.1);
}




