
{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/chosen.css"/>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>

<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>



{% endblock %}

{% block extramessage %} {% endblock %}

{% block content %}

	
<!-- Main -->
<div id="content-container">
	
	<div class="feature-page-header">Start a Conversation</div>

	<!-- Center -->
	<div id="ask-form-container" class="form-left-column">


<!-- 		<div class="form-module" style="text-align:center;"> -->

			

			<!-- <div class="question-column-left">
				<div class="profile-pic-container">
					<img src="{{user.profile.default_profile_pic}}" title="{{user.profile.full_name}}" />
				</div>
			</div> -->
<!-- 			<div class="question-column-right"> -->
				<form id="ask-question-form">
					<div class="errors">

					</div>
					<p class="form-input-container"> <!-- TODO: add maxlength attributes to these -->
						<label for="id_name">Title</label>
						<input class="flat-input-wide" id="id_name" type="text" name="name" placeholder="What's your question?" maxlength="200" autofocus />
						
					</p>

					<p class="form-input-container">
						<label for="id_body">Summary</label>
						<textarea class="flat-textarea-wide" id="id_body" title="body" placeholder="Give some background"></textarea>
					</p>

					<p class="form-input-container">
						<label for="id_tags">Tags</label>
						<select class="chzn-select flat-input-wide" id="id_tags" multiple data-placeholder="Tags">
							{% for t in tags %}
								<option value="{{t.id}}">{{t.name}}</option>
							{% endfor %}
						</select>	
					</p>	

					<a class="submit-button disabled">Post</a>
				</form>
			<!-- </div> -->
		<!-- </div> -->
	</div>

	<!-- Right --> 
	<div class="form-right-column" style="margin-top:20px;">
		<div class="form-instructions">
			<div class="module-header">Quick Tips</div>
				<ul>
					<li>Keep your title  short and to the point.</li>
					<li>In the summary include relevant specifics.</li>
					<li>Describe your background, skills, interests when relevant.</li>
					<li>Detail your goals and preferences.</li>
					<li>Tags help other users find (and answer) your qeustions.</li>
					<li>Include easy-to-remember categories like majors, schools, careers.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

	
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">
	
	$(function() {
		// Activate Chosen for tags
		$(".chzn-select").chosen();

		// Listen for valid form
		$("input,textarea").on("keyup",checkForm);

		// Click on form
		$(".submit-button").on("click", submitForm);
	});


	function checkForm(ev) {
		// See if form is valid
		// Currently, no minimum # of tags requirement
		// TODO: any sort of validation`
		if($("#id_name").val().length != 0 && $("#id_body").val().length != 0) {
			// form is valid
			if ($(".disabled").length > 0) 
				$(".submit-button").removeClass("disabled")
		} else {
			// form is not valid
			if ($(".disabled").length == 0)
				$(".submit-button").addClass("disabled")
		}
	};


	function submitForm(ev) {
		// Don't allow if disabled
		if ($(ev.currentTarget).hasClass("disabled")) return false;

		var name = $("#id_name").val(),
			summary = $("#id_body").val(),
			tag_ids = $("#id_tags").val(),
			conversation_id;

		console.log(tag_ids);
		
		// TODO: AJAX to DB
		$.ajax({
			type: "POST",
			url: "/api/startConversation/",
			data: {"name":name, "summary":summary, "tags":tag_ids, "csrfmiddlewaretoken":"{{csrf_token}}"},
			dataType:"json",
			beforeSend: function() {

			},
			success:function(response) {
				if (response["result"] == "success") {
					console.log("success");
					conversation_id = response["conversation_id"];
					formSuccess(conversation_id);

				} else {
					$(".errors").html(response['errors']);
				}
			},
			complete:function() {
			}
		});
	};

	function formSuccess(id) {
		$(".submit-button").fadeOut(150).fadeIn(150).fadeOut(150).fadeIn(150)
		window.location = "/question/" + id + "/"
	};



</script>



{% endblock %}