
{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/typeahead.min.css" />


<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.min.js"></script>

{% endblock %}

{% block extramessage %} {% endblock %}

{% block content %}
	
<!-- Main -->
<div id="content-container">

	<!-- Search -->
	<div id="search-container">
		<input type="text" id="search-conversations-input" class="flat-input" data-placeholder="Start typing" />
		<a class="flat-button search-button lightblue-button" id="search-conversations-button">Search</a>
	</div>

	<!-- Left -->
	<!-- <div id="left-column" class="pull-left">
		<span style="visibility:hidden;">&nbsp;</span>
	</div> -->
	
	<!-- Center -->
	<div id="center-column" class="pull-left">
		
		<div class="feature-page-header">Conversations: <span class="filter-tags">Most Recent</span></div>

		<div id="questions-list-container"></div>
	</div>

	<!-- Right --> 
	<div id="right-column" class="pull-left">

		<!-- Ask a Question -->
		<div class="right-question-column-module">
			<p>
				<a href="/ask/" class="flat-button green-button">Start</a> a conversation
			</p>
		</div>
	
		<!-- Popular Tags -->
		<div class="right-question-column-module">
			<p class="module-header">Popular Tags</p>
			{% for t in popular_tags %}
				<p><a href="/tags/{{t.url_name}}" class="tag">{{t.name}}</a></p>
			{% endfor %}
		</div>
		
	</div>
	<div class="clear"></div>
</div>

	
{% endblock %}

{% block templates %}

<script type="text/template" id="question-list-template">

	
	<div id="questions-list">

	</div>

</script>

<script type="text/template" id="question-template">

	<div class="single-question-module">
		<div class="question-column-left">
			<div class="profile-pic-container">
				<div class="circle" style="background-image:url(<%=owner_pic%>)"></div>
			</div>
		</div>

		<div class="question-column-right">
			<div class="question-title"><a href="/question/<%=id%>"><%=name%></a></div>
			<div class="question-body"><%=summary%></div>

			<% for (t in tags) { %>
				<div class="tags-container">
					<a class="tag-inline" href="/tags/<%=tags[t].url_name%>"><%=tags[t].name%></a>
				</div>
			<% } %>


			<% if (comments.length > 0) %>
				<div class="comment-column-left">
					<div class="profile-pic-container-small"><img src="<%=comments[0].owner_pic%>" /></div>
				</div>
				<div class="comment-column-right">
					<div class="comment-body"><%=comments[0].body%></div>
				</div>
			
			<div class="question-subtext">
				<% if (comments.length == 0) { %>
					<a href="/question/<%=id%>">Be the first to answer</a>
				<% } else if (comments.length == 1) { %>
					<a href="/question/<%=id%>">Add your own answer</a>
				<% } else { %>
					<a href="/question/<%=id%>">See all <%=comments.length%> answers </a>
				<% } %> 

			</div>


		</div>
		<br/>			
	</div>

</script>

{% endblock %}





