
{% extends "base_full.html" %}
{% load humanize %}
{% block head %}

<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/helpers.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/timeline-viz.js"></script>

	<style type="text/css">


	
	</style>

{% endblock %}

{% block extramessage %} {% endblock %}

{% block content %}

	
<!-- Main -->
<div id="content-container">

	<!-- Left (Nothing) -->
	<div id="left-column"></div>
	
	<!-- Center -->
	<div id="center-column">
		<div class="feature-page-header">{{user_name}}</div>
		
		<div class="row-fluid">
			<div id="Profile-profile-pic-container" class="profile-pic-container">
				<img src="{{profile_pic}}" />
			</div>

			<!-- SVG Timeline -->
			<div id="profile-timeline-container"></div>
		</div>


		<!-- Inline Edit Container -->
		<div class="row-fluid">
			<div id="timeline-edit-container"></div>
		</div>

		<!-- Settings -->
		{% if own_profile %}
		<div class="row-fluid settings-container slide-container">
			<div class="module-header">Settings &nbsp;&nbsp;&nbsp; <i class="icon-ok icon-large settings-complete" data-setting="return"></i></div>

			<div class="settings-list">
				<div><i class="icon-pencil icon-large" data-setting="addPosition"> </i>Add to your professional timeline</div>
				<div><i class="icon-pencil icon-large" data-setting="uploadPic"> </i>Upload a new profile picture</div>
			</div>
		</div>
		{% endif %}

		<!-- Conversations List(s) -->
		<div class="row-fluid tab-container slide-container">
			<ul class="nav nav-tabs" style="margin-bottom:0px;">
			  <li class="active">
			    <a href="#started-convos-tab" data-toggle="tab">Started Conversations</a>
			  </li>
			  <li><a href="#followed-convos-tab" data-toggle="tab">Followed Conversations</a></li>
			</ul>

			<div class="tab-content">

				<div class="tab-pane active" id="started-convos-tab">
					{% for s in started_conversations %}
						<div class="tab-conversation-container">
							<div class="tab-conversation-col-left">
								<div class="module-header"><a href="/question/{{s.id}}">{{s.name}}</a></div>
								<div class="inline-stat-container">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span class="stat">{{s.stats.num_followers}}</span> Followers &nbsp;&nbsp;&nbsp;<span class="stat">{{s.stats.num_answers}}</span> Answers
								</div>
							</div>
							<div class="tab-conversation-col-right">Ask friends to answer</div>
						</div>
					{% endfor %}
					{% if started_conversations|length == 0 %}
						<br/><br/><br/><p>&nbsp;&nbsp;&nbsp;{{user_name}} hasn't started any conversations yet</p>
					{% endif %}
				</div>
				
				<div class="tab-pane" id="followed-convos-tab">
					{% for f in followed_conversations %}
						<div class="tab-conversation-container">
							<div class="tab-conversation-col-left">
								<div class="module-header"><a href="/question/{{f.id}}">{{f.name}}</a></div>
								<div class="inline-stat-container">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span class="stat">{{f.stats.num_followers}}</span> Followers &nbsp;&nbsp;&nbsp;<span class="stat">{{f.stats.num_answers}}</span> Answers
								</div>
							</div>
							<div class="tab-conversation-col-right">Ask friends to answer</div>
						</div>
					{% endfor %}
					{% if followed_conversations|length == 0 %}
						<br/><br/><br/><p>&nbsp;&nbsp;&nbsp;{{user_name}} hasn't followed any conversations yet</p>
					{% endif %}
				</div>
			</div>
		</div>

	</div>

	<!-- Right --> 
	<div id="right-column">


		<!-- Followers -->
		<div class="right-column-module followers-module">


			<div class="right-question-column-module">
				<p>
					<a href="/ask/" class="flat-button green-button">Start</a> a conversation
				</p>
			</div>
				
			<div class="module-header">Connections: </div>
			<!-- Default to first 5 -->
			{% for c in connections %}
				<div class="followers-profile-pic">
					<a href="/profile/{{c.id}}"><img src="{{c.pic}}" title="{{c.name}}" /></a>
				</div>
			{% endfor %}

			{% if num_connections > 5 %}
				<div class="followers-more-followers">and {{num_connections|add:-5}} more... </div>
			{% endif %}

			{% if connections|length == 0 %} 

				<p>No connections yet</p>

			{% endif %}

			{% if own_profile %}
			<div class="right-question-column-module">
					<div class="settings-icon-container">Settings <i class="icon-cog icon-large" title="Settings"></i></div>
			</div>
			{% endif %}

		</div>

		<!-- Popular Tags -->

		<div class="right-column-module">

		</div>
		
	</div>
	<div class="clear"></div>
</div>

	
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">
	
	$(function() {

		// set data, defaults
		var timeline_data = {{positions|safe}},
			permissions = "r"

		// if own profile, set write permissions for timeline
		if ("{{own_profile}}" == "True") permissions += "w"

		// construct Timeline
		var w = parseInt($("#profile-timeline-container").css("width"))
		Timeline.init(timeline_data, "profile-timeline-container", w, 115, "timeline-edit-container", permissions.split(""))
		Timeline.construct()

		// handler on 'settings' button
		$(".settings-icon-container").on("click", renderSettings)
		// set handlers within 'settings container'
		$(".settings-container i").on("click", setSetting)
	});



	// essentially a router for setting click events
		// looks up in local dictionary, calls appopriate handler
	var setSetting = function(ev) {
		var settings_router = {
			"addPosition":renderAddForm1,
			"return":hideSettings,
			"uploadPic":renderUploadForm,
		}
		var setting = $(ev.currentTarget).data("setting")
		settings_router[setting](ev)
	};

	var renderEditForm = function(position) {
		// gray out tabs to focus on form
		$(".tab-container").animate({"opacity":0.5}, "200")

		if (position.type == "education") {
			// "Degree" in "Field" at "Entity" Grad Date: "mm/yyyy"
			var template = _.template($("#timeline-edit-education-template").html());

			$("#timeline-edit-container").empty().append(template({
				type: position.type,
				id: position.id,
				degree: ("degree" in position) ? position.degree : null,
				field: ("field" in position) ? position.field : null,
				school: ("school" in position) ? position.school : null,
				start_date: ("start_date" in position) ? position.start_date : null,
				end_date: ("end_date" in position) ? position.end_date : null // TODO: check this
			})).animate({"opacity":1}, "250")

		} else {
			// "title" at "entity" from "MM/YYYY" to "MM/YYYY"
			var template = _.template($("#timeline-edit-org-template").html());

			$("#timeline-edit-container").empty().append(template({
				type: position.type,
				id: position.id,
				title: ("title" in position) ? position.title : null,
				co_name: ("co_name" in position) ? position.co_name : null,
				start_date: ("start_date" in position) ? position.start_date: null,
				end_date: ("end_date" in position) ? position.end_date : null
			})).animate({"opacity":1}, "250")
		}
	};

	var editPosition = function() {
		console.log('h')
		// remove pre-existing errors
		scrubErrors()

		// check for changes
		var changes_made = false,
			new_position = ($(".input-container input :last").val() == -1) ? true : false;

		// only care about A) new positions or B) some data has been changed on existing pos
		if (!new_position) {
			$(".input-container input").each(function() {
				if (!changes_made && $(this).val() != $(this).data("original") && $(this).val != "")
					changes_made = true; 
			})
		};

		// submit to DB (AJAX)s if changes made or a new position (id == -1)
		if (changes_made || new_position) {
			// Create a dict of values from form
			var position = createPositionObject() 
			// Put through simple client-side validation
			var errors = simpleValidation(position)
			if(Object.keys(errors).length == 0) {
				// helper to rename form data for old On_Track API
				position = readyForDjangoForm(position)
				// Validation Position via API    [ ** AJAX ** ]
				$.ajax({
					type: "POST",
					url: "/accounts/validatePosition/",
					data: position,
					dataType:"json",
					beforeSend: function() {
						// return timeline to normal
						Timeline.normalize()

						// hide container
						$(".input-container").animate({"opacity":0}, 250)
						// normalize tabs
						$(".tab-container").animate({"opacity":1}, 200)
						console.log("Submit new or changed Position to DB for validation")
					},
					success:function(response) {
						if (response["result"] == "success") {
							var cleaned_position = response.data
							console.log("success: ", cleaned_position)
							savePosition(cleaned_position, position)
										
						} else console.log(response["errors"])
					},
				});
			} else
				// display validation errors
				renderErrors(errors)
		} 
	};

	var savePosition = function(cleaned_position, position) {
		// TODO: cleaning isn't really working
			// currently using the original position enterred rather than returned DATA
		$.ajax({
			type: "POST",
			url: "/accounts/savePosition/",
			data: position,
			dataType:"json",

			success:function(response) {
				if (response["result"] == "success") {
					console.log("Position successfully saved to DB")

					// delete CSRF token
					delete position["csrfmiddlewaretoken"]
					// update Timeline
					if (position.id == -1) Timeline.addPosition(position)
					else Timeline.editPosition(position)			
				} else console.log(response["errors"])
			},
		});		
	};

	// Creates a Position obj to send to DB from From
	var createPositionObject = function () {
		// check the form for applicable values, if not applicable, value=null
		var position = {
			"title":($(".input-container").find("input[name='title']").length == 0) ? null : $(".input-container").find("input[name='title']").val(),
			"id":($(".input-container").find("input[name='id']").length == 0) ? null : $(".input-container").find("input[name='id']").val(),
			"type":$(".input-container").data("type"),
			"co_name":($(".input-container").find("input[name='co_name']").length == 0) ? null : $(".input-container").find("input[name='co_name']").val(),
			"school":($(".input-container").find("input[name='school']").length == 0) ? null : $(".input-container").find("input[name='school']").val(),
			"degree":($(".input-container").find("input[name='degree']").length == 0) ? null : $(".input-container").find("input[name='degree']").val(),
			"field":($(".input-container").find("input[name='field']").length == 0) ? null : $(".input-container").find("input[name='field']").val(),
			"start_date":($(".input-container").find("input[name='start_date']").length == 0) ? null : $(".input-container").find("input[name='start_date']").val(),
			"end_date":($(".input-container").find("input[name='end_date']").length == 0) ? null : $(".input-container").find("input[name='end_date']").val(),
		}
		return position;
	};

	// Takes care of bookkeeping to mesh with old on_track form API
	var readyForDjangoForm = function(position) { 
		if (position.school != null) position.entity = position.school
		else position.entity = position.co_name 
		position["csrfmiddlewaretoken"] = "{{csrf_token}}"
		return position
	};

	var renderUploadForm = function(ev) {
		if ($("#upload-profile-pic-form").length > 0) {
			hideUploadForm()
			return false;
		}

		var template = _.template($("#upload-profile-pic-template").html())
		$(ev.currentTarget).parent().append(template())
		$("#upload-profile-pic-form").css("opacity", "0").animate({"opacity":1}, 250)

		// add handler to submit button
		$("#upload-profile-pic-form .form-submit").on("click", function(e) {
			e.preventDefault()

		    var formData = new FormData($("#upload-profile-pic-form")[0]);
		    console.log(formData)
		    $.ajax({
		        url: "/accounts/uploadProfilePic/",  
		        type: "POST",
		        // xhr: function() {  // custom xhr
		        //     var myXhr = $.ajaxSettings.xhr();
		        //     if(myXhr.upload){ // check if upload property exists
		        //         myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // for handling the progress of the upload
		        //     }
		        //     return myXhr;
		        // },
		        //Ajax events
		        // beforeSend: beforeSendHandler,
		        success: function(response) {
		        	console.log(response)
		       	},
		        // error: errorHandler,
		        // Form data
		        data: formData,
		        //Options to tell JQuery not to process data or worry about content-type
		        cache: false,
		        contentType: false,
		        processData: false
		    });
		})
	};

	var hideUploadForm = function() {
		$("#upload-profile-pic-form").animate({"opacity":0}, 250, function() { $(this).remove() })
	};

	var renderAddForm1 = function() {
		if ($(".add-position-prompt").length > 0) {
			$("#timeline-edit-container").animate({"opacity":0}, 250, function () {
				$(this).empty().css("opacity", 1)
			})
			return false;
		}

		var template = _.template($("#add-position-first-template").html())
		$("#timeline-edit-container").empty().append(template()).hide().fadeIn(200)
	};
	
	var renderAddForm2 = function(type) {
		position = {"type":type, "id":-1}
		renderEditForm(position)
	};

	var renderSettings = function(ev) {
		// if already displayed, hide setting
		if ($(".settings-container").css("display") != "none") return false;
		// hide 'settings' icon
		$(".settings-icon-container").animate({"opacity":0}, 250)
		// slide out tab container
		$(".tab-container").css("position","relative").animate({"left":"-5000px"}, 250, function() {
			// reset properties of tab container
			$(this).css("display","none").css("position", "static").css("left","")
			// fade in settings container
			$(".settings-container").css("opacity", "0").css("display","block").animate({"opacity":1}, 250, function() {
				// console.log(this)
			})
		});
	};

	var hideSettings = function(ev) {
		// if settings already hidden, do nothing
		if ($(".settings-container").css("display") == "none") return false;

		// show 'settings' icon
		$(".settings-icon-container").animate({"opacity":1}, 250)

		// slide out settings container
		$(".settings-container").css("position","relative").animate({"left":"-500px"}, 250, function () {
			// readjust settings container
			// console.log(this)
			$(this).css("display","none").css("position","static").css("left", "")
			// console.log(this)
			// fade in tabs container
			$(".tab-container").css("opacity", "0").css("display","block").animate({"opacity":1}, 250)
		});
	};

	// Simple client-side pre AJAX validation.
		// TODO: improve this
	var simpleValidation = function(position) {
		var errors = {};
		var exception_list = (position.type == "education") ? ["co_name", "title", "id", "end_date"] : ["school", "field", "degree", "id", "end_date"];
		for (key in position) {
			// end date is not required, other values are hidden
			if (exception_list.indexOf(key) == -1) {
				// check for blank values
				if (position[key] == "" || position[key] == null) errors[key] = ["Field cannot be blank"]
			}
		}

		// ensure date matches format MM/YY (or M/YY)
		var date_regex = /[0-1]*[0-9]\/[0-9][0-9]/
		if (date_regex.exec(position.start_date) == null)
			("start_date" in errors) ? errors["start_date"].push("Date does not fit format MM/YY") : errors["start_date"] = ["Date does not fit format MM/YY"]

		// if they entered an end_date, check it
		if (position["end_date"] != "" && position["end_date"] != null)
			if (date_regex.exec(position.end_date) == null && position.end_date != "Current")
				errors["end_date"] = ["Date does not fit format MM/YY"]

		// ensure dates have "MM" format
		if (position.start_date.split("/")[0].length == 1) position.start_date = "0" + position.start_date
		if (position.end_date.split("/")[0].length == 1) position.end_date = "0" + position.end_date

		// check that the start_date <= end_date
		if (date_to_int(position.end_date) < date_to_int(position.start_date)) 
			("end_date" in errors) ? errors["end_date"].push("End date is after the start date!") : errors["end_date"] = ["End date is after the start date!"]

		// ensure months are legit
		if (!is_a_month(position.start_date.substring(0,2)))
			("start_date" in errors) ? errors["start_date"].push("Start month isn't a month!") : errors["start_date"] = ["Start month isn't a month!"]
		if (!is_a_month(position.end_date.substring(0,2)) && position.end_date != "Current")
			("end_date" in errors) ? errors["end_date"].push("End month isn't a month!") : errors["end_date"] = ["End month isn't a month!"]

		console.log("Errors", errors)
		return errors
	};

	var renderErrors = function(errors) {
		var error_text = []
		for (e in errors) {
			$("#timeline-edit-container input[name='" + e +"']").addClass("input-error")
			console.log("Error: ", errors[e])
			error_text.push(errors[e])
		};
		var template = _.template($("#errors-template").html())
		$("#timeline-edit-container").append(template({"errors":error_text}))
	};

	// Cleans form of previous errors
	var scrubErrors = function() {
		$(".input-error").each(function() {
			// TODO: add animation
			$(this).removeClass("input-error")
		});

		$(".error-text").each(function() {
			// $(this).animate({"opacity":0}, 200, function() { $(this).remove() })
			$(this).remove()
		})

	};	


</script>

<script type="text/template" id="add-position-first-template">
	
	<div class="add-position-prompt">
		<div>Select what best describes this position: </div>
		<div class="flat-button tag" onclick="renderAddForm2('education')">Education</div>
		<div class="flat-button tag" onclick="renderAddForm2('org')">Job</div>
		<div class="flat-button tag" onclick="renderAddForm2('internship')">Internship</div>
	</div>

</script>

<script type="text/template" id="timeline-edit-org-template">
	
	<div class="input-container" data-type="<%=type%>">
		<input type="text" placeholder="Title" name="title" value="<%=title%>" data-original="<%=title%>" class="input-large" maxlength="150" />
		 at <input type="text" placeholder="Company" name="co_name" value="<%=co_name%>" data-original="<%=co_name%>" class="input-large" maxlength="450" />
		 From: <input type="text" placeholder="mm/yy" name="start_date" value="<%=start_date%>" data-original="<%=start_date%>" class="input-extra-small" maxlength="5" />
		 To: <input type="text" placeholder="mm/yy" name="end_date" value="<%=end_date%>" data-original="<%=end_date%>" class="input-extra-small" maxlength="5" />
		 <input type="hidden" name="id" value="<%=id%>" data-original="<%=id%>" /> 
		<div class="submit-button flat-button green-button" onclick="editPosition()" style="vertical-align:top;"> Done </div>
	</div>


</script>

<script type="text/template" id="timeline-edit-education-template">

	<div class="input-container" data-type="<%=type%>">
		<input type='text' placeholder='B.A.' name="degree" value="<%=degree%>" data-original="<%=degree%>" class='input-small input-extra-small' maxlength="450" />
		 in <input type='text' placeholder='Major' name="field" value="<%=field%>" data-original="<%=field%>" class='input-medium' maxlength="450" />
		 at <input type='text' placeholder='University' name="school" value="<%=school%>" data-original="<%=school%>" class='input-medium' maxlength="450" />
		Start: <input type="text" placeholder="mm/yy" name="start_date" value="<%=start_date%>" data-original="<%=start_date%>" class="input-extra-small" maxlength="5" />
		End: <input type="text" placeholder="mm/yy" name="end_date" value="<%=end_date%>" data-original="<%=end_date%>" class="input-extra-small" maxlength="5" />
		<input type="hidden" name="id" value="<%=id%>" data-original="<%=id%>" /> 
		<div class="submit-button flat-button green-button" onclick="editPosition()" style="vertical-align:top;"> Done </div>

	</div>

</script>

<script type="text/template" id="timeline-position-template">

	<div class="timeline-position">

		<div class="timeline-position-position"><%=title%></div>
		<div class="timeline-position-entity"><%=co_name%></div>
		<div class="timeline-position-dates"><%=start_date%> - <%=end_date%></div>

	</div>

</script>

<script type="text/template" id="timeline-position-fragment-template">

	<div class="timeline-position-position"><%=title%></div>
	<div class="timeline-position-entity"><%=co_name%></div>
	<div class="timeline-position-dates"><%=start_date%> - <%=end_date%></div>

</script>

<script type="text/template" id="upload-profile-pic-template">

	<form id="upload-profile-pic-form" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="pic" id="pic" />
		<div class="form-submit flat-button submit-button">Upload</div>
	</form>

</script>

<script type="text/template" id="errors-template">

	<% for (index in errors) { %>
		<p class="error-text"><%=errors[index].join(", ")%></p>
	<% } %>

</script>

{% endblock %}