
{% extends "base_full.html" %}
{% load humanize %}
{% block head %}

<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/basic/jquery.qtip.min.css"/>

<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.dialog.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/basic/jquery.qtip.min.js"></script>

{% endblock %}

{% block extramessage %} {% endblock %}

{% block content %}

	
<!-- Main -->
<div id="content-container">

	<!-- Search -->
	<div id="search-container">
		<input type="text" id="search-conversations-input" class="flat-input" data-placeholder="Start typing" />
		<a class="flat-button search-button lightblue-button" id="search-conversations-button">Search</a>
	</div>

	<!-- Left -->
	<div id="left-column">

	</div>
	
	<!-- Center -->
	<div id="center-column">

		
		
			<div class="question-column-left">
				<div class="profile-pic-container"><img src="{{question.user_pic}}" title="{{question.user_name}}" /></div>

				<div class="question-user-name">{{question.user_name}}</div>
			</div>

			<div class="question-column-right">
				<div class="question-title">{{question.title}}</div>
				<div class="question-body">{{question.body}}</div>

				{% for t in question.tags %}
					<a class="tag">{{t.name}}</a>
				{% endfor %}

			<!-- 	<div class="question-subtext">
					Question asked by <a href="/profile/{{question.user_id}}">{{question.user_name}}</a>
				</div> -->
			<!-- </div> -->

			{% if comments %}
				{% for c in comments %}
				<div class="comment-module comment-row">


					<div class="comment-column-left">
						<div class="profile-pic-container-small">
							<img src="{{c.user_pic}}"/>
						</div>
						


					<!-- 	<div data-comment_id="{{c.id}}" class="vote-container">
							<div data-type="down" class="vote-button vote"><i class="icon-chevron-left"></i></div>
							<div class="comment-vote vote">{{c.votes}}</div>
							<div data-type="up" class="vote-button vote"><i class="icon-chevron-right"></i></div>

						</div>	 -->				
					</div>

					<div class="comment-column-right">
						<div class="body-text">
							{{c.body}}
						</div>

						<div class="comment-subtext">
							Posted {{c.created|naturaltime}} by {{c.user_name}}
						</div>
					</div>

				</div>
				{% endfor %}
			{% else %}
				<div class="comment-module call-out-text">
				{% if is_active %}

						<!-- <p>Have a thought? Get this conversation started and help {{question.user_name}} out!</p> -->

				{% else %}

						<p>This conversation isn't active yet, but you can get it started by adding a comment and getting it on the home page.</p>

				{% endif %}

				</div>
			{% endif %}
		

		<div class="comment-module">
			<div class="comment-column-left">
				<div class="profile-pic-container-small">

					<img src="{{user_pic}}" />
				</div>
			</div>
			<div class="comment-column-right">
				<textarea class="comment-textarea" placeholder="Add a comment" ></textarea>
				<span class="pull-right">
					<a id="comment-button" class="green-button disabled">Post</a>
				</span>
				<span class="clear"></span>
			</div>

		</div>

		<!-- <div class="comment-module social-sharing">
			<p>Get additional insight. Share the link with your friends and get their views.</p>
		</div> -->

		<!-- Comments -->
		<!-- {% if is_active %} -->

			<!-- Edge Case: no comments && active -->
			<!-- {% if not comments or comments|length == 0 %}
				<div class="no-comments-module comment-row">
					<div class="call-out-text">
						Have a thought? Get this conversation started and help {{question.user_name}} out!
						<br/> Answer above, or ask one of your friends to answer. Drop them this link: <br/><br/>
						<a>{{url}}</a>
					</div>
				</div>	
			{% endif %} -->

		<!-- Edge Case: inactive -->
		<!-- {% else %}

				{% if user.id == question.user_id %}
				<div class="no-comments-module comment-row">
					<div class="call-out-text">
						This conversation isn't active yet, but you can be the catalyst, <br/>
						or ask one of your friends to answer. Drop them this link: <br/>
						<a>{{url}}</a>
					</div>
				</div>
				{% else %}
				<div class="no-comments-module comment-row">
					<div class="call-out-text">
						This conversation isn't active yet, but you can be the catalyst, <br/>
						or ask one of your friends to answer. Drop them this link: <br/>
						<a>{{url}}</a>
					</div>
				</div>
				{% endif %}

		{% endif %} -->
		{% if advisors %}
			<div class="comment-module">
				<p>Need more insight? Ask one of the experts below to share their advice.</p>
				{% for a in advisors %}
					<div class="advisor-container" data-methods="{{a.methods}}" data-id="{{a.id}}" data-name="{{a.name}}" data-position="{{a.position}}" data-pic="{{a.pic}}" data-alumni="{{a.alumni}}">
						<div class="advisor-pic-container">
							<img src="{{a.pic}}" />
						</div>
						<div class="advisor-info-container">
							<p>{{a.name}}</p>
							<p>{{a.position}}</p>
							{% if a.educations %}
							<ul class="advisor-educations">
								{% for e in a.educations %}
								<li>{{e.degree}}</li>
								{% endfor %}
							</ul>
							{% endif %}
						</div>
						<div class="clear"></div>
						
					</div>
					
				{% endfor %}
				<div class="clear"></div>
			</div>
		{% endif %}
		</div>
	</div>

	<!-- Right --> 
	<div id="right-column">
		{% if not is_active %}
			<div class="right-column-module">
				<span class="red-button nonclickable">Inactive</span>
				<p>This question is <strong>inactive</strong>. Help activate it by answering it or getting it more followers.</p>
				<p class="note">What does this mean?</p>
			</div>	
		{% endif %}
		<!-- Ask a Question -->
		<div class="right-column-module">
			{% if is_following %}
					<div id="follow-button" class="lightblue-button" disabled>Following</div>
				{% else %}
					<div id="follow-button" class="green-button">Follow</div>
				{% endif %}
		</div>
		<div class="right-column-module">
			<div class="module-header">Info </div>
			<div class="stat-container">
				
				<div class="stat-module">
					<span class="stat">{{stats.days_active}} </span>
					{% if stats.days_active == 1 %}
						Day Active
					{% else %}
						Days Active
					{% endif %}
				</div>
				<div class="stat-module">
					<span class="stat">{{stats.num_answers}}</span>
					{% if stats.num_answers == 1 %}
						Answer
					{% else %}
						Answers
					{% endif %}

				</div>
				<div class="stat-module">
					<span class="stat">{{stats.num_followers}}</span>
					{% if stats.num_followers == 1 %}
						Follower
					{% else %}
						Followers
					{% endif %}
				</div>
			</div>

		</div>

		<!-- Related Questions -->
		{% if related_questions|length > 0 %}

		<div class="right-column-module">

			<div class="module-header">Related Questions: </div>
			{% for q in related_questions %}
				<div class="related-question">
					<a href="/question/{{q.id}}/">{{q.name}}</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}

		<!-- Followers -->

		<div class="right-column-module followers-module">


			<div class="module-header">Following: </div>
			<!-- Default to first 5 -->
			{% for f in followers %}
				{% if forloop.counter0 < 5 %}
					<div class="followers-profile-pic">
						 <!-- TODO: Come back and fix this URL once profiles built -->
						<a href="/profile/{{f.id}}"><img src="{{f.pic}}" title="{{f.name}}"/></a>
					</div>
				{% endif %}
			{% endfor %}

			{% if followers|length > 5 %}
				<div class="followers-more-followers">and {{followers|length|add:-5}} more... </div>
			{% endif %}

			{% if followers|length == 0 %} 

				<p>No followers yet</p>

			{% endif %}
		</div>

		<!-- Popular Tags -->

		<div class="right-column-module">

			<div class="module-header">Popular Tags</div>
			{% for t in popular_tags %}
<!-- 			<div class="tag">{{t.name}}</div> -->
				<p><a href="/tags/{{t.url_name}}/" class="tag">{{t.name}}</a></p>
			{% endfor %}
		</div>
		
	</div>
	<div class="clear"></div>
</div>

<div id="advisor-modal" style="display:none;">

</div>	
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">

	$(function() {
		// close modal button
		$(document).on("click","#modal-close-button",function() {
			$("#advisor-modal").dialog("close");
		});

		// close modal when clicking outside it
		$(document).on("click",".ui-widget-overlay",function() {
			$("#advisor-modal").dialog("close");
		});

		// set variables
		var user_id = {{user.id|safe}}
		var question_id = {{question.id|safe}}
		var question_title = "{{question.title}}"
		// add qtip explanation for inactive questions
		$(".note").qtip({
			content: {
				text: "Inactive questions do not show up in search results or on the front page"
			},
			position: {
		        my: 'bottom center', 
		        at: 'top center'
		    },
		    style: {
		    	def: false	
		    }
			
		});
	
		// 

		$(".advisor-container").click(function() {
			console.log("advisor click");
			// get variables
			var name = $(this).data("name"),
				position = $(this).data("position"),
				pic = $(this).data("pic"),
				methods = $(this).data("methods"),
				id = $(this).data("id"),
				alumni = $(this).data("alumni"),
				school = $(this).data("school");
			if (alumni) {
				var message_body = "I'm a fellow alum of " + school + " and would love your help in sharing your career insight. Could you take a few minutes to answer this question on Emplore: "+question_title;
			} else {
				var message_body = "I'd love your help in sharing your career insight. Could you take a few minutes to answer this question on Emplore: "+question_title;
			}
			// render template
			var advisorTemplate = _.template($("#advisor-modal-template").html());
			var renderedContent = advisorTemplate({
				'name':name,
				'position':position,
				'pic':pic,
				'methods':methods,
				'id':id,
				'alumni':alumni,
				'school':school,
				'question_title':question_title,
				'message_body':message_body});
			// trigger modal
			$("#advisor-modal").dialog({
				height: 440,
				width: 500,
				resizable: false,
				draggable: false,
				modal: true
				// buttons: {
				// 	'Close': function() {
				// 		$("#advisor-modal").dialog('close');
				// 	}
				// }
				}).html(renderedContent);
		});

		// function for actually pinging the advisor

		$(document).on("click","#ask-advisor-button",function() {
			var data = {
				'advisor': $(this).data('a-id'),
				'user': user_id,
				'question': question_id,
				'method': $(this).data('method'),
				'subject': $("#id_advisor-message-subject").val(),
				'body': $("#id_advisor-message-body").val()
			};
			console.log(data);
			askAdvisor(data);
		});





		function askAdvisor(data) {
			$.ajax({
				type: "POST",
				url: "/api/askAdvisor/",
				data: {
					"advisor":data['advisor'], 
					"user":data['user'], 
					"question":data['question'], 
					"method":data['method'],
					"subject":data['subject'],
					"body":data['body'],
					"csrfmiddlewaretoken":"{{csrf_token}}"},
				dataType:"json",

				beforeSend: function() {
					
				},
				success: function(response) {
					console.log(response);
					if (response["result"] == "success") {
						// tell user ask was successful
						var successMsgTemplate = _.template($("#advisor-success-template").html());
						var renderedContent = successMsgTemplate()
						$("#advisor-modal").html(renderedContent)
						// remove modal after 2 seconds
						setTimeout(function() {
							$("#advisor-modal").dialog("close");
						},2000)
					} else {
						$("#advisor-modal-errors").html(response["errors"]);
						console.log(response["errors"]);
					}
				},
				complete: function() {
					
					
				},

			})
		};

		// Activate follow button
		if ("{{is_following}}" == "False")
			$("#follow-button").on("click", follow)

		// Active post comment button
		// TODO: provide safeguards against commenting tons of times
		$(".comment-module textarea").on("keypress", function(e) {
			var comment_button = $("#comment-button")
			// If now empty, disable
			if ($(this).val().length == 0 && !$(comment_button).hasClass("disabled")) $(comment_button).addClass("disabled")
			// If now valid, enable
			else if ($(this).val().length > 0 && $(comment_button).hasClass("disabled")) $(comment_button).removeClass("disabled")

			// If "enter" && active, submit
			// if (e.which == 13 && !$(comment_button).hasClass("disabled")) submitComment()
		})

		// Comment Submit button
		$("#comment-button").on("click", function(e) {
			if (!$(this).hasClass("disabled")) submitComment()
		});

		// Voting buttons
		$(".vote-button").on("click", function() { vote(this) })

		// Check if convo is active
		if ("{{is_active}}" == "False") {
			// make the question opaque
			$(".center-column-module").css("opacity", "0.5")
		}


				
	});

	function follow(ev) {

		var conversation_id = getConversationId();


		// Post to DB
		$.ajax({
			type: "POST",
			url: "/api/followConversation/",
			data: {"conversation_id":conversation_id, "csrfmiddlewaretoken":"{{csrf_token}}"},
			dataType:"json",

			beforeSend: function() {
				$(ev.currentTarget).text("Following").addClass("following").off("click")
			},

			success:function(response) {
				if (response["result"] == "success") {
					console.log("success")
					
				} else console.log(response["errors"])
			},

			complete:function() {
				var num_followers = parseInt($(".stat :last").text())
				// Update stats container
				var old_color = $(".stat :last").css("background-color")
				$(".stat :last").animate({"background-color":"#E74C3C"}, 330, function() {
					// Animate it red & change #
					$(this).text(num_followers + 1).animate({"background-color":old_color}, 330)
				})
				// Update followers container
				if ($(".followers-profile-pic").length == 5) {
					// already full queue, just increment number
					// TODO: test this code
					var current_num_followers = parseInt($(".followers-more-followers").text().match(/\d+/g)[0])
					$(".followers-more-followers").text("and " + (current_num_followers + 1) + " more...")
				} else {
					// add photo to followers bar
					var template = _.template($("#follower-photo-template").html())
					// if currently no followers
					if ($(".followers-profile-pic").length == 0) {
						$(".followers-module").find("p").hide(250, function() { $(this).remove() });
						$(".followers-module").append(template({
							"user_name":"{{user.profile.full_name}}",
							"pic":"{{user_pic}}"
						})).hide().fadeIn(250)
					}
					// already followers, simply append
					else {
						$(".followers-profile-pic :last").after(template({
							"user_name":"{{user.profile.full_name}}",
							"pic":"{{user_pic}}"
						})).hide().fadeIn(250)
					}
				}
			}
		});
	};

	function submitComment(ev) {

		var conversation_id = getConversationId();
		var body = $(".comment-module").find("textarea").val()

		// Post to DB
		$.ajax({
			type: "POST",
			url: "/api/addComment/",
			data: {"conversation_id":conversation_id, "body":body, "csrfmiddlewaretoken":"{{csrf_token}}"},
			dataType:"json",

			beforeSend: function() {

				// clear textarea & disable button
				$(".comment-module textarea").val("")
				$(".comment-module .comment-button").addClass("disabled")
				// flash button
			},

			success:function(response) {
				if (response["result"] == "success") {
					
					// append comment to DOM
					var template = _.template($("#single-comment-template").html())
					$(".comment-row :last").after(template({
						"user_name":response["user_name"],
						"user_pic":response["user_pic"],
						"id":response["id"],
						"user_id":response["user_id"],

						"timestamp":response["created"],

						"votes":0,
						"body":body
					})).hide().fadeIn(250)


				} else console.log(response["errors"])
			},

			complete:function() {
				// check if this was the first comment. if so, fix viz
				if ($(".no-comments-module").length > 0) $(".comment-row :first").remove()
				// animate stat container
				var num_answers = parseInt($(".stat :eq(1)").text())
				// Update stats container
				var old_color = $(".stat :eq(1)").css("background-color")
				$(".stat :eq(1)").animate({"background-color":"#E74C3C"}, 330, function() {
					// Animate it red & change #
					$(this).text(num_answers + 1).animate({"background-color":old_color}, 330)
				})
			}
		});
	};


	function vote(el) {

		var comment_id = $(el).parent().data("comment_id")
		var conversation_id = getConversationId();
		var value = ($(el).data("type") == "up") ? 1 : -1;

		// Post to DB
		$.ajax({
			type: "POST",
			url: "/api/voteComment/",
			data: {"conversation_id":conversation_id, "comment_id":comment_id, "value":value, "csrfmiddlewaretoken":"{{csrf_token}}"},
			dataType:"json",

			beforeSend: function() {


			},

			success:function(response) {
				if (response["result"] == "success") {
					console.log("success")

					// update DOM
					// TODO: animation here
					var vote = $(el).next()
					var previous = $(vote).text()
					$(vote).text(parseInt(previous) + 1)
					
				} else console.log(response["errors"])
			},

			complete:function() {

			}
		});

	};

	// Does some URL chopping to get conversation id
	function getConversationId() {
		var conversation_id = document.URL.substring(document.URL.indexOf("question/") + "question/".length)
		if (conversation_id[conversation_id.length - 1] == "/") return conversation_id.substring(0, conversation_id.length - 1)
		else return conversation_id
	};




</script>

<script type="text/template" id="follower-photo-template">


	<div class="followers-profile-pic">
		<img src="<%=pic%>" title="<%=user_name%>" />
	</div>
				
</script>

<script type="text/template" id="single-comment-template">
	<div class="comment-module">
		<div class="comment-column-left">
			<div class="profile-pic-container-small">
				<img src="<%=user_pic%>"/>
			</div>			


				<!-- // <div data-comment_id="<%=id%>" class="vote-container">
				// 	<div data-type="down" class="vote-button vote"><i class="icon-chevron-left"></i></div>
				// 	<div class="comment-vote vote"><%=votes%></div>
				// 	<div data-type="up" class="vote-button vote"><i class="icon-chevron-right"></i></div>

				// </div>	-->				

		</div>
		<div class="comment-column-right">
			<div class="body-text">
				<%=body%>
			</div>
			</div>
			<div class="comment-subtext">
				Posted ago by <a href="/profile/<%=user_id%>"><%=user_name%></a>
			</div>


		</div>
	</div>
</script>

<script type="text/template" id="advisor-modal-template">
	<% 

	%>
	<div id="advisor-modal-inner">
		<p class="module-header">Ask an advisor</p>
		<div class="advisor-pic-container">
			<img src="<%= pic %>" />
		</div>
		<div class="advisor-info-container">
			<p><%= name %></p>
			<p><%= position %></p>
		</div>
		<div class="clear"></div>
		<div class="advisor-message-container">
			<div id="advisor-modal-errors"></div>
			<label for="id_advisor-message-subject">Subject:</label>
			<input class="flat-input" id="id_advisor-message-subject" name="advisor-message-subject" value="Please share your advice on Emplore" />
			<label for="id_advisor-message-body">Body:</label>
			<textarea class="flat-textarea" id="id_advisor-message-body" name="advisor-message-body"><%= message_body %>
			</textarea>
			<p class="note">A link to the question and a short note about ProsperMe will be added to your message.</p>
			
		</div>
		<div class="advisor-options">
			<ul class="advisor-options-list pull-right">
			<% if (methods == "all") { %>
				<li><a class="blue-button" id="ask-advisor-button" data-a-id="<%= id %>" data-method="li">Send</a> or <a id="modal-close-button">cancel</a></li>
			<% } else if (methods.indexOf("em") > -1) { %>
				<li><a class="blue-button" id="ask-advisor-button" data-a-id="<%= id %>" data-method="li">Send</a> or <a id="modal-close-button">cancel</a></li>
			<% } else if (methods.indexOf("li") > -1) { %> 
				<li><a id="ask-advisor-button" class="li-button" data-a-id="<%= id %>" data-method="li">Ask through LinkedIn</a> or <a id="modal-close-button">cancel</a></li>
			<% } else if (methods.indexOf("fb") > -1) { %>
				<li><a id="ask-advisor-button" class="fb-button" data-a-id="<%= id %>" data-method="fb">Ask through Facebook</a> or <a id="modal-close-button">cancel</a></li>
			<% } else { %>

			<% } %>
			</ul>
			<div class="clear"></div>
		</div>
					
	</div>
</script>

<script type="text/template" id="advisor-message-tempalte">
	
</script>

<script type="text/template" id="advisor-success-template">
	<div id="advisor-modal-inner">
		<div>
			Your request has been sent successfully. We'll let you know as soon as they answer.
		</div>
	</div>
</script>
{% endblock %}