
{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>

<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>


    <style type="text/css">

	/* Main */
    body { color:#333; }
    #question-page-container { padding-top:36px; }


	.body-text { margin-bottom:6px; line-height:26px; }




	/* Right Column */
	.right-column-module {
		padding:8px 10px;
		padding-top:24px;
		padding-bottom:24px;
		border-bottom:1px solid #f0f0f0;
		border-left:1px solid #f0f0f0;
		min-height:50px;
	}

	.followers-profile-pic {
		display:inline-block;
		margin:0;
		width:48px;
		height:48px;
		margin-top:6px;
	}

	.followers-profile-pic img { border-radius:48px; }
	.followers-more-followers { text-align:right; margin-top:6px; }

	.related-question { margin-top:6px; }
	.related-question a { text-decoration: none; }


	/* Center Column */
	.center-column-module {
		border-bottom:1px solid #e0e0e0;
		border-right:1px solid #e0e0e0;
		padding-left:36px;
		padding-right:24px;
		padding-top:24px;
		padding-bottom:24px;
	}

	.question-column-left {
		text-align:center;
		width:15%;
		display:inline-block;
		vertical-align: top;
	}
	.question-column-right { width:80%; display:inline-block; vertical-align: top;}

	.question-tags-container { margin-left: 90px; /* = pic_width + margin */ }

	.follow-button {
		width:100px;
		height:25px;
		line-height:25px;
		background-color:#2ECC71;
		border-radius:2px;
		display:inline-block;
		margin-right:16px;
		padding:2px 2px;
		cursor:pointer;
	}

	.following {
		background-color:#C0C0C0; 
		cursor:default;
	}





	.disabled {
		background-color:#C0C0C0 !important; 
		cursor:default !important;
	}



	.add-button {
		width:20px;
		height:20px;
		line-height:18px;
		border-radius:2px;
		display:inline-block;
		text-align:center;
		margin-left:4px;
		margin-right:8px;
		cursor:pointer;
		color:#fffffe;
		background-color: rgba(51,51,51,0.2);
		transition: background-color 0.5s;
	}

	.add-button:hover {
		background-color:#2ECC71;
	}


	.v2-module-header {
		font-weight:600;
		font-size:1.1em;
	}


    </style>


{% endblock %}

{% block extramessage %} {% endblock %}

{% block content %}

	
<!-- Main -->
<div id="question-page-container" class="row-fluid">

	<!-- Left -->
	<div id="left-question-column" class="span2">
		<!-- <div class="left-column-module">
			<div class="stats-container">
				<div class="row-fluid">
					<div class="span6 stats-left">
						<div class="stat">Following</div>
						<div class="stat">Answers</div>
						<div class="stat">Days Active</div>
					</div>

					<div class="span5 stats-right">
						<div>{{stats.num_followers}}</div>
						<div>{{stats.num_answers}}</div>
						<div>{{stats.days_active}}</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	
	<!-- Center -->
	<div id="center-question-column" class="span7">
		<div class="center-column-module">
			<div class="row-fluid">

				<div class="question-column-left">
					<div class="profile-pic-container"><img src="{{question.user_pic}}" /></div>

					<div class="question-user-name">{{question.user_name}}</div>
				</div>

				<div class="question-column-right">
					<div class="question-title">{{question.title}}</div>
					<div class="stat-container">
					
						<div class="stat">{{stats.days_active}} </div>
							{% if stats.days_active == 1 %}
								Day Active
							{% else %}
								Days Active
							{% endif %}
							&nbsp;&nbsp;

						<div class="stat">{{stats.num_answers}}</div>
							{% if stats.num_answers == 1 %}
								Answer
							{% else %}
								Answers
							{% endif %}
							&nbsp;&nbsp;

						<div class="stat">{{stats.num_followers}}</div>
							{% if stats.num_followers == 1 %}
								Follower
							{% else %}
								Followers
							{% endif %}
							&nbsp;&nbsp;

						{% if is_following %}
							<div class="follow-button following" disabled>Following</div>
						{% else %}
							<div class="follow-button">Follow</div>
						{% endif %}
					</div>
					<div class="question-body">{{question.body}}</div>

					{% for t in question.tags %}
						<div class="tag">{{t.name}}</div>
					{% endfor %}

					<div class="question-subtext">
						Question asked by <a href="/profile/{{question.user_id}}">{{question.user_name}}</a>
					</div>
				</div>
			</div>

			{% if is_active or user.id != question.user_id %}
			<div class="row-fluid">
				<div class="comment-module">
					<img src="{{user_pic}}" />
					<textarea maxlength="1000" placeholder="Add your answer..." ></textarea>    <!-- TODO: update max length of comment -->
					<div class="comment-button disabled">Post Comment</div>
				</div>
			</div>
			{% endif %}
		</div>



		<!-- Answers -->
		{% if is_active %}

			<!-- Edge Case: no comments && active -->
			{% if not comments or comments|length == 0 %}
				<div class="no-comments-module comment-row">
					<div class="call-out-text">
						Have a thought? Get this conversation started and help {{question.user_name}} out,
						<br/> or ask one of your friends to answer. Drop them this link: <br/>
						<a>{{url}}</a>
					</div>
				</div>	
			{% endif %}

		<!-- Edge Case: inactive -->
		{% else %}
				{% if user.id == question.user_id %}
				<div class="no-comments-module comment-row">
					<div class="call-out-text">
						This conversation isn't active yet, but you can be the catalyst, <br/>
						or ask one of your friends to answer. Drop them this link: <br/>
						<a>{{url}}</a>
					</div>
				</div>
				{% else %}
				<div class="no-comments-module comment-row">
					<div class="call-out-text">
						This conversation isn't active yet, but you can be the catalyst, <br/>
						or ask one of your friends to answer. Drop them this link: <br/>
						<a>{{url}}</a>
					</div>
				</div>
				{% endif %}
		{% endif %}


		{% for c in comments %}
		<div class="center-column-module comment-row">
			
			<div class="row-fluid">
				<div class="span1">
					<!-- <div data-comment_id="{{c.id}}" class="vote-container">
						<div data-type="up" class="upvote vote-button">+ </div>
						<div class="comment-vote">{{c.votes}}</div>
						<div data-type="down" class="downvote vote-button">- </div>
					</div> -->
				</div>

				<div class="span2 question-column-left">
					<div class="profile-pic-container">
						<img src="{{c.user_pic}}"/>
					</div>

					<div data-comment_id="{{c.id}}" class="vote-container">
						<div data-type="down" class="vote-button vote"><i class="icon-chevron-left"></i></div>
						<div class="comment-vote vote">{{c.votes}}</div>
						<div data-type="up" class="vote-button vote"><i class="icon-chevron-right"></i></div>

					</div>					
				</div>

				<div class="span8">
					<div class="body-text">
						{{c.body}}
					</div>

					{% for t in c.tags %}
						<div class="tag">{{t.name}}</div>
					{% endfor %}
				</div>

				<div class="question-subtext">Comment by <a href="/profile/{{c.id}}">{{c.user_name}}</a></div>
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- Right --> 
	<div id="right-question-column" class="span3">

		<!-- Ask a Question -->
		<div class="right-column-module">
			<p>
				<a href="/ask/" class="flat-button green-button">Start</a> a conversation
			</p>
		</div>

		<!-- Related Questions -->
		{% if related_questions|length > 0 %}
		<div class="right-column-module">
			<div class="v2-module-header">Related Questions: </div>
			{% for q in related_questions %}
				<div class="related-question">
					<a href="/question/{{q.id}}/">{{q.name}}</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}

		<!-- Followers -->
		<div class="right-column-module">
			<div class="v2-module-header">Following: </div>
			<!-- Default to first 5 -->
			{% for f in followers %}
				{% if forloop.counter0 < 5 %}
					<div class="followers-profile-pic">
						<a href="profile/{{f.id}}"><img src="{{f.pic}}" title="{{f.name}}"/></a> <!-- TODO: Come back and fix this URL once profiles built -->
					</div>
				{% endif %}
			{% endfor %}

			{% if followers|length > 5 %}
				<div class="followers-more-followers">and {{followers|length|add:-5}} more... </div>
			{% endif %}

			{% if followers|length == 0 %} 
				<p>&nbsp;&nbsp;&nbsp;No followers yet</p>
			{% endif %}
		</div>

		<!-- Popular Tags -->
		<div class="right-column-module">
			<div class="v2-module-header">Popular Tags</div>
			{% for t in popular_tags %}
				<div class="tag">{{t.name}}</div>
			{% endfor %}
		</div>
		
	</div>
</div>

	
{% endblock %}

{% block templates %}

<!-- V3 Script -->
<script type="text/javascript">
	
	$(function() {

	
		// Activate follow button
		if ("{{is_following}}" == "False")
			$(".follow-button").on("click", follow)

		// Active post comment button
		// TODO: provide safeguards against commenting tons of times
		$(".comment-module textarea").on("keypress", function(e) {
			var comment_button = $(".comment-module .comment-button")
			// If now empty, disable
			if ($(this).val().length == 0 && !$(comment_button).hasClass("disabled")) $(comment_button).addClass("disabled")
			// If now valid, enable
			else if ($(this).val().length > 0 && $(comment_button).hasClass("disabled")) $(comment_button).removeClass("disabled")

			// If "enter" && active, submit
			// if (e.which == 13 && !$(comment_button).hasClass("disabled")) submitComment()
		})

		// Comment Submit button
		$(".comment-module .comment-button").on("click", function(e) {
			if (!$(this).hasClass("disabled")) submitComment()
		});

		// Voting buttons
		$(".vote-button").on("click", function() { vote(this) })

		// Check if convo is active
		if ("{{is_active}}" == "False") {
			// make the question opaque
			$(".center-column-module").css("opacity", "0.5")
		}


				
	});
	
</script>

<script type="text/javascript">

	function follow(ev) {

		var conversation_id = getConversationId();


		// Post to DB
		$.ajax({
			type: "POST",
			url: "/api/followConversation/",
			data: {"conversation_id":conversation_id, "csrfmiddlewaretoken":"{{csrf_token}}"},
			dataType:"json",

			beforeSend: function() {
				$(ev.currentTarget).text("Following").addClass("following").off("click")
			},

			success:function(response) {
				if (response["result"] == "success") {
					console.log("success")
					
				} else console.log(response["errors"])
			},

			complete:function() {
				var num_followers = parseInt($(".stat :last").text())
				// Update stats container
				var old_color = $(".stat :last").css("background-color")
				$(".stat :last").animate({"background-color":"#E74C3C"}, 330, function() {
					// Animate it red & change #
					$(this).text(num_followers + 1).animate({"background-color":old_color}, 330)
				})
			}
		});
	};

	function submitComment(ev) {

		var conversation_id = getConversationId();
		var body = $(".comment-module").find("textarea").val()

		// Post to DB
		$.ajax({
			type: "POST",
			url: "/api/addComment/",
			data: {"conversation_id":conversation_id, "body":body, "csrfmiddlewaretoken":"{{csrf_token}}"},
			dataType:"json",

			beforeSend: function() {

				// clear textarea & disable button
				$(".comment-module textarea").val("")
				$(".comment-module .comment-button").addClass("disabled")
				// flash button
			},

			success:function(response) {
				if (response["result"] == "success") {
					console.log("success")
					
					// append comment to DOM
					var template = _.template($("#single-comment-template").html())
					$(".comment-row :last").after(template({
						"user_name":response["user_name"],
						"user_pic":response["user_pic"],
						"id":response["user_id"],
						"votes":0,
						"body":body
					})).hide().fadeIn(250)


				} else console.log(response["errors"])
			},

			complete:function() {
				// check if this was the first comment. if so, fix viz
				if ($(".no-comments-module").length > 0) $(".comment-row :first").remove()
				// animate stat container
				var num_answers = parseInt($(".stat :eq(1)").text())
				// Update stats container
				var old_color = $(".stat :eq(1)").css("background-color")
				$(".stat :eq(1)").animate({"background-color":"#E74C3C"}, 330, function() {
					// Animate it red & change #
					$(this).text(num_answers + 1).animate({"background-color":old_color}, 330)
				})
			}
		});
	};


	function vote(el) {

		var comment_id = $(el).parent().data("comment_id")
		var conversation_id = getConversationId();
		var value = ($(el).data("type") == "up") ? 1 : -1;

		// Post to DB
		$.ajax({
			type: "POST",
			url: "/api/voteComment/",
			data: {"conversation_id":conversation_id, "comment_id":comment_id, "value":value, "csrfmiddlewaretoken":"{{csrf_token}}"},
			dataType:"json",

			beforeSend: function() {


			},

			success:function(response) {
				if (response["result"] == "success") {
					console.log("success")

					// update DOM
					// TODO: animation here
					var vote = $(el).next()
					var previous = $(vote).text()
					$(vote).text(parseInt(previous) + 1)
					
				} else console.log(response["errors"])
			},

			complete:function() {

			}
		});

	};

	// Does some URL chopping to get conversation id
	function getConversationId() {
		var conversation_id = document.URL.substring(document.URL.indexOf("question/") + "question/".length)
		if (conversation_id[conversation_id.length - 1] == "/") return conversation_id.substring(0, conversation_id.length - 1)
		else return conversation_id
	};




</script>

<script type="text/template" id="single-comment-template">
	<div class="center-column-module comment-row">
		<div class="row-fluid">
			<div class="span1">
			
			</div>

			<div class="span2 question-column-left">
				<div class="profile-pic-container">
					<img src="<%=user_pic%>"/>
				</div>

				<div data-comment_id="<%=id%>" class="vote-container">
					<div data-type="down" class="vote-button vote"><i class="icon-chevron-left"></i></div>
					<div class="comment-vote vote"><%=votes%></div>
					<div data-type="up" class="vote-button vote"><i class="icon-chevron-right"></i></div>

				</div>					
			</div>

			<div class="span8">
				<div class="body-text">
					<%=body%>
				</div>
			</div>

			<div class="question-subtext">Comment by <a href="/profile/<%=id%>"><%=user_name%></a></div>
		</div>
	</div>
</script>

{% endblock %}