
{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/typeahead.min.css" />


<!-- JS -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.min.js"></script>

{% endblock %}

{% block extramessage %} {% endblock %}

{% block content %}
	
<!-- Main -->
<div id="content-container">

	<!-- Search -->
	<div id="search-container">
		<input type="text" id="search-conversations-input" class="flat-input" data-placeholder="Start typing" />
		<a class="flat-button search-button lightblue-button" id="search-conversations-button">Search</a>
	</div>

	<!-- Left -->
	<!-- <div id="left-column" class="pull-left">
		<span style="visibility:hidden;">&nbsp;</span>
	</div> -->
	
	<!-- Center -->
	<div id="center-column" class="pull-left">
		
		<div class="feature-page-header">Conversations Tagged: <span class="filter-tags">{{tag.name}}</span></div>

		<div id="questions-list-container">
			{% for q in questions %}
				<div class="single-question-module">
					<div class="question-column-left">
						<div class="profile-pic-container"><img src="{{q.owner.profile.default_profile_pic}}" /></div>
					</div>

					<div class="question-column-right">
						<div class="question-title"><a href="/question/{{q.id}}">{{q.name}}</a></div>
						<div class="question-body">{{q.summary}}</div>
						
						{% for t in q.tags.all %}
							<div class="tags-container">
								<a class="tag-inline" href="/tags/{{t.url_name}}">{{t.name}}</a>
							</div>
						{% endfor %}

						{% for c in q.comments.all %}
						<div class="comment-column-left">
							<div class="profile-pic-container-small"><img src="{{c.owner.profile.default_profile_pic}}" /></div>
						</div>
						<div class="comment-column-right">
							<div class="comment-body">{{c.body}}</div>
						</div>
						{% endfor %}
						
						<div class="question-subtext">
							{% if not q.comments.all %}
								<a href="/question/{{q.id}}">Be the first to answer</a>
							{% elif q.comments|length == 1 %}
								<a href="/question/{{q.id}}">See {{q.comments|length}} answer</a> 
							{% else %}
								<a href="/question/{{q.id}}">See {{q.comments|length}} answers</a>
							{% endif %}
						</div>


					</div>

				</div>
				{% endfor %}
		</div>
	</div>

	<!-- Right --> 
	<div id="right-column" class="pull-left">

		<!-- Ask a Question -->
		<div class="right-question-column-module">
			<p>
				<a href="/ask/" class="flat-button green-button">Start</a> a conversation
			</p>
		</div>
	
		<!-- Popular Tags -->
		<div class="right-question-column-module">
			<p class="module-header">Popular Tags</p>
			{% for t in popular_tags %}
				<p><a href="/tags/{{t.url_name}}" class="tag">{{t.name}}</a></p>
			{% endfor %}
		</div>
		
	</div>
	<div class="clear"></div>
</div>

	
{% endblock %}

{% block templates %}


{% endblock %}





