{% extends "base_full.html" %}

{% block head %}

<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/thread.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<!-- JS -->

{% endblock %}



{% block content %}

<div id="content-container" class="main-container">

	<div class="thread-header row">
		<div class="span12">
			<div class="thread-main-header">Thread</div>
			<div class="question-header"><span class="quote">&#147;</span>{{comments.0.body}}<span class="quote">&#148;</span></div>
		</div>
	</div>

	<div class="row question-container">
		<div class="span2">
			<div class="question-controls">
				<div class="row total-following">
					<div class="right span9">Total Followers</div>
					<div class="left span3">{{total_followers}}</div>
				</div>
		
				<div class="row network-following">
					<div class="right span9">From Your Network</div>
					<div class="left span3">{{network_followers}}</div>
				</div>
				
				<div class="row follow">
					<div class="right span9">Follow</div>
					<div class="left span3"><i class="icon-star icon-large"></i></div>
				</div>
			</div>
		</div>

		<div class="span10">
			<div class="span2">
				<div class="owner-pic-container">
					<img src="{{comments.0.owner_pic}}"/>
				</div>
			</div>
			<!-- {% if owner_current_position %}
			<div class="block">
				<div class="owner-current-position">
					<!-- <img src="{{owner_current_position.entity_logo}}"/> -->
				<!-- 	<img class="logo" src="/media/logos/kaazing_corporation/Kaazing Corporation_1.png"/>
					<div class="owner-current-position-title">{{owner_current_position.title}}</div>

					<div class="owner-meta">Is.</div>
				</div>
			</div>

			<div class="ellipsis"></div>
			<div class="ellipsis"></div>
			<div class="ellipsis"></div>

			<div class="block">
				<div class="owner-goal">
					<div class="owner-goal-title">Design-Oriented Product Manager</div>
					<div class="owner-meta">Will Be.</div>
				</div>
			</div>	 --> 
			<div class="span10">
				<div class="owner-name">{{comments.0.owner_name}}</div>
				<div class="comment-comment">
					Specifically, I'm wondering -- how are humanities degrees viewed within Silicon Valley talent agencies and recruiting firms? Are we relegated to being community managers and recruiters like them? Or is there opportunity to do real business?
				</div>
			</div>

		</div>
	</div>


	{% for c in comments %}
		{% if not forloop.first %}
			<div class="row comment-row">
				<div id="{{c.id}}" class="comment-container offset1 span10">
					<!-- Controls -->
					<div class="span1">
						<div data-comment_id="{{c.id}}" class="comment-controls-container">
							<div class="control upvote">+</div>
							<div class="control votes">{{c.votes}}</div>
							<div class="control downvote">-</div>
						</div>
					</div>
					<!-- Pic -->
					<div class="span2">
						<div class="owner-pic-container">
							<img src="{{c.owner_pic}}"/>
						</div>
						<div class="date">{{c.created}}</div>
					</div>
					<!-- Body -->
					<div class="comment span9">
						<div class="block">
							<div class="owner-name">{{c.owner_name}}</div>
						</div>

						<div class="block">
							<div class="comment-comment">{{c.body}}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<div class="prompt-container">
		<div class="prompt-main block">
			<div class="question-header">Let your voice be heard</div>
			<textarea id="prompt-textarea" placeholder="Well {{comments.0.owner_name}}, it's actually quite simple..."></textarea>
			<div id="comment-button"> + </div>
		</div>

	
		</br></br>

		<div class="prompt-main">
			<div class="question-header">Know someone who would be perfect for this thread? </br> Invite them to join the conversation.</div>
			<div class="icons-container">
				<div class="row">
					<div class="span3"><div class="icon-wrapper"><i class="icon-facebook icon-3x"></i></div></div>

					<div class="span3"><div class="icon-wrapper"><i class="icon-twitter icon-3x"></i></div></div>

					<div class="span3"><div class="icon-wrapper"><i class="icon-linkedin icon-3x"></i></div></div>

					<div class="span3"><div class="icon-wrapper"><i class="icon-google-plus icon-3x"></i></div></div>
				</div>
			</div>
		</div>
	</div>

	{% endif %}
</div>
{% endblock %}

{% block templates %}

<script type="text/javascript">

	/*
	TODO
	: show followed if followed already
	: after vote, leave that box highlighted

	*/

	// Following hovers & clicks
	$(".total-following").hover(function(e) {
		$(".left",this).toggleClass("blue-hover")
	});

	$(".network-following").hover(function(e) {
		$(".left", this).toggleClass("orange-hover")
	});

	// If following, allow unfollow
	if ("{{is_following}}" == "True") {
		styleFollowing()
		$(".follow .left").click(function(e) { unfollowThread(e, this) })
	// Else activate follow option
	} else {
		$(".follow").hover(function(e) {
			$(".left", this).toggleClass("yellow-hover")
		});

		$(".follow .left").click(function(e) { followThread(e, this) })
	}
	


	// Voting hovers and clicks 
		// w/ Delayed binding for added elements
	$(document).on({
		mouseenter: function(e) { $(this).addClass("downvote-hover") },
		mouseleave: function(e) { $(this).removeClass("downvote-hover") },
		click: function(e) { downvote(this) }
	}, ".downvote").on({
		mouseenter: function(e) { $(this).addClass("upvote-hover") },
		mouseleave: function(e) { $(this).removeClass("upvote-hover") },
		click: function(e) { upvote(this) }
	}, ".upvote").on({
		mouseenter: function(e) {
			$(this).prev().addClass("upvote-hover")
			$(this).next().addClass("downvote-hover")
		},
		mouseleave: function(e) {
			$(this).prev().removeClass("upvote-hover")
			$(this).next().removeClass("downvote-hover")
		}
	}, ".votes")




	// Social icon hovers & clicks
	$(".icons-container .row i").each(function() {
		$(this).hover(function(e) {
			if ($(this).hasClass("icon-google-plus"))
				$(this).toggleClass("google-plus")
			else if ($(this).hasClass("icon-facebook"))
				$(this).toggleClass("facebook")
			else if ($(this).hasClass("icon-linkedin"))
				$(this).toggleClass("linkedin")
			else if ($(this).hasClass("icon-twitter"))
				$(this).toggleClass("twitter")


		})
	})

	// Textarea listeners
		// TODO: what if delete back to zero?
	$("#prompt-textarea").on("keypress", function(k) {
		$("#comment-button").animate({"opacity":1}, "250", function() {
			$("#prompt-textarea").off("keypress")
		});
	});

	$("#comment-button").click(function(e) {
		postComment()
	})





	var upvote = function(el) {
		// Don't let > 1 vote
		if ($(el).hasClass("disabled")) return false;

		// Animate button
		$(el).fadeOut(150).fadeIn(150).fadeOut(150).fadeIn(150)

		// Add vote
		var votes = parseInt($(el).next().html())
		$(el).next().html(votes + 1)

		// Disable button
		$(el).addClass("disabled")

		// Update DB
		AJAX_vote(votes + 1, $(el).parent().data("comment_id"))
	};

	var downvote = function(el) {
		// Don't let > 1 vote
		if ($(el).hasClass("disabled")) return false;
		// Don't let negative votes
		if (parseInt($(el).prev().html()) == 0) return false;

		// Animate button
		$(el).fadeOut(150).fadeIn(150).fadeOut(150).fadeIn(150)

		// Add vote
		var votes = parseInt($(el).prev().html())
		$(el).prev().html(votes - 1)

		// Disable button
		$(el).addClass("disabled")

		// Update DB
		AJAX_vote(votes - 1, $(el).parent().data("comment_id"))
	};

	var followThread = function(ev, el) {
		// Can't follow again
		if ($(this).hasClass("disabled")) return false;

		// Fade out
		$(el).fadeOut(400, function() {
			// Animate to colored star
			$(this).removeClass("yellow-hover")
			$("i", this).css("color", "rgba(241,196,15,1)")
			// Fade in, disable button
			$(this).fadeIn(400).addClass("disabled")
			// Change text
			$(".follow .right").html("Following")
			// Unbind hover
			$(".follow").unbind("mouseenter mouseleave")
			// Unbind click & bind follow event
			$(this).unbind("click").click(function(e) { unfollowThread(e, this) });
		});

		// Post to DB
		var thread_id = {{thread_id}}
		$.post("/social/followThread/", {"thread_id":thread_id, "csrfmiddlewaretoken":"{{csrf_token}}"}, function(response) {
			console.log(response)
			// TODO: if fails, try again?
		}, "json")

	};

	var unfollowThread = function(ev, el) {

		// Can't unfollow if not following
		if (!$(el).hasClass("disabled")) return false;

		// Fade out
		$(el).fadeOut(400, function() {
			// Animate to colored star
			$("i", this).css("color", "#ECF0F1")
			// Fade in, remove handlers, add click
			$(this).fadeIn(400).unbind("click").click(function(e) {
				followThread(e, this)
			});
			// Change text
			$(".follow .right").html("Follow")
			// Add hover
			$(".follow").hover(function(e) {
				$(".left", this).addClass("yellow-hover")
			}, function (e) {
				$(".left", this).removeClass("yellow-hover")
			});

		});

		// Post to DB
		var thread_id = {{thread_id}}
		$.post("/social/unfollowThread/", {"thread_id":thread_id, "csrfmiddlewaretoken":"{{csrf_token}}"}, function(response) {
			console.log(response)
			// TODO: if fails, try again?
		}, "json")

	};

	// Styles the '.following' div if user is following thread
	function styleFollowing() {
		var container = $(".follow .left")
		// Change star color
		$("i", container).css("color", "rgba(241,196,15,1)")
		// Change display text
		$(".follow .right").html("Following")
		// Add disabled class
		$(container).addClass("disabled")
	};

	var postComment = function(ev) {

		// Animate Button
		$("#comment-button").html("<i class='icon-ok icon-large'></i>")

		// Post to DB
		var body = $("#prompt-textarea").val()
		var thread_id = {{thread_id}}
		$.post("/social/postComment/", {"body":body, "thread_id": thread_id, "csrfmiddlewaretoken":"{{csrf_token}}"}, function(response) {
			console.log(response)

			// Create comment via template
			var template = _.template($("#comment-template").html())
			$(".prompt-container").before(template({
				"id":response["data"]["id"],
				"votes":0,
				"owner_pic":response["data"]["owner_pic"],
				"owner_name":response["data"]["owner_name"],
				"created":response["data"]["created"],
				"body":body,
			}));
			// Animate comment in
			$(".comment-row :last").css("opacity", 0).animate({"opacity":1}, "400")

			// Clear textarea
			$("#prompt-textarea").val("")
		}, "json");
	};



	// Move decrement/increment logic to server? Probably not best
	//	to let this happen in client
	//		<-- then again, doing it this way would allow batching
	function AJAX_vote(num_votes, comment_id) {
		
		$.post("/social/updateVotes/", {"num_votes":num_votes, "comment_id": comment_id, "csrfmiddlewaretoken":"{{csrf_token}}"}, function(response) {
			console.log(response)
			// TODO: if fails, try again?
		}, "json")
	};

</script>

<script type="text/template" id="comment-template">

		<div class="row comment-row">
		<div id="<%=id%>" class="comment-container offset1 span10">

			<div class="span1">
				<div data-comment_id="<%=id%>" class="comment-controls-container">
					<div class="control upvote">+</div>
					<div class="control votes"><%=votes%></div>
					<div class="control downvote">-</div>
				</div>
			</div>
			<div class="span2">
				<div class="owner-pic-container">
					<img src="<%=owner_pic%>"/>
				</div>
				<div class="date"><%=created%></div>
			</div>

			<div class="comment span9">
				<div class="block">
					<div class="owner-name"><%=owner_name%></div>
				</div>

				<div class="block">
					<div class="comment-comment"><%=body%></div>
				</div>
			</div>
		</div>
	</div>


</script>

{% endblock %}






