/* General styles */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear {
  clear: both; }

/* Header Styles */
#topbar {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-width: 0 0 1px;
  background-color: #253139;
  background-image: none; }

#topbar-inner {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  padding-top: 15px;
  padding-bottom: 10px;
  min-height: 40px; }

img#main-logo {
  margin-top: 5px; }

ul#topbar-nav {
  margin: 10px 0 0 0;
  padding: 0px;
  font-size: 1.2em; }
  ul#topbar-nav li {
    display: inline;
    margin-left: 10px; }
    ul#topbar-nav li a {
      text-decoration: none;
      color: #fffffe; }

/* Main Container Styles */
div#background-container {
  background-color: white;
  min-height: 100%; }

div.splash-container {
  margin: 0;
  padding: 0;
  height: 100%; }

/* Messages Container Styles */
div#messages-container {
  background-color: rgba(61, 124, 204, 0.71); }

div#messages {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #fffffe;
  padding: 5px; }

div.message {
  border: 1px solid #3a8be9;
  border-radius: 2px;
  padding: 5px;
  margin: 0 0 10px 0; }
  div.message p {
    font-size: 1.1em;
    opacity: 1; }

/* Button Styles */
.flat-button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  line-height: 24px;
  min-width: 16px;
  padding: 5px 10px 7px 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: #fffffe;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s; }

a.flat-button:hover {
  text-decoration: none;
  color: white; }

.flat-button a:hover {
  text-decoration: none;
  color: #fffffe; }

.green-button {
  background-color: #339933;
  color: #fffffe; }

.inline-button {
  display: inline-block; }

.button-small {
  height: 12px;
  line-height: 12px;
  font-size: 12px; }

.blue-button {
  background-color: #296298;
  color: #fffffe; }

.lightblue-button {
  background-color: #6fb6d4;
  color: #fffffe; }

.wide-button {
  width: 150px; }

.button-large {
  height: auto;
  width: auto;
  font-size: 1.6em;
  padding: 6px 8px; }
