@import "colors"
@import "layout"

/* Element styles */

a
	color: $link
	cursor: pointer

ul
	list-style: none
	margin-left: 0px

li
	line-height: 1.4em
	margin:
		top: 5px
		bottom: 5px

label
	font-weight: 500
	font-size: 16px

body
	color: $main-font-color

/* General styles */

.pull-left 
	float: left

.pull-right
	float: right

.clear
	clear: both

.half
	float: left
	width: 50%

#search-container
	width: 630px
	height: 50px

#left-column 
	margin-right: 10px
	width: $left-column-width
	float: left

#center-column
	margin-right: 10px
	width: $center-column-width
	min-height: 200px
	float: left

#right-column
	width: $right-column-width
	float: left



/* Header Styles */



#topbar
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1)
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1)
	box-shadow: 0 1px 10px rgba(0,0,0,0.1)
	border-width: 0 0 1px
	background:
		color: $topbar-background
		image: none

#topbar-inner
	width: 1000px
	margin-left: auto
	margin-right: auto
	background-image: none
	padding-top: 5px
	padding-bottom: 5px
	min-height: 40px

img#main-logo
	margin-top: 5px

ul#topbar-nav
	margin: 10px 0 0 0
	padding: 0px
	font-size: 1.2em
	li
		display: inline
		margin-left: 10px
		a
			text-decoration: none
			color: #fffffe

/* Main Container Styles */


div#content-container 
	width: 1000px
	margin:
		right: auto
		left: auto
		top: 15px
	min-height: 500px
	padding:
		top: 5px 
		bottom: 5px
	background-color: #fff

div#background-container
	background-color: #fff
	min-height: 100%

div.splash-container
	margin: 0
	padding: 0
	height: 100%

.feature-page-header
	font:
		size: 2.3em
		family: "Helvetica Neue",Helvetica, "Lato"
	color: $feature-page-header 
	margin-bottom: 25px
	margin-top: 10px

.feature-nav-header
	font:
		size: 1.8em
		family: "Helvetica Neue", Helvetica, "Lato"
	color: $darkgray
	margin-bottom: 25px
	margin-top: 10px
	margin-right: 10px
	display: inline-block
	.selected
		color: $selected-header

.feature-page-subheader
	font:
		size: 1.7em
		family: "Helvetica Neue", Helvetica, "Lato"
	color: $feature-page-header
	margin-bottom: 10px

.main-sub-header
	font:
		size: 1.2em
		weight: bold
	line-height: 1.4em

.right-column-module
	margin-bottom: 10px

.module-header
	font:
		size: 18px
		color: #181818
	line-height: 24px
	margin-bottom: 10px

.right-column-module
	a
		display: inline-block
		margin-left: 5px

/* Messages Container Styles */

div#messages-container
	background-color: $messages-background

div#messages
	width: 1000px
	margin-left: auto
	margin-right: auto
	color: $white
	padding: 5px

div.message
	border: 1px solid rgb(58,139,233)
	border-radius: 2px
	padding: 5px
	margin: 0 0 10px 0
	p
		font-size: 1.1em
		opacity: 1.0

ul.messages
	list-decoration: none

/* Button Styles */

.flat-button
	display: inline-block
	vertical-align: middle
	width: auto
	line-height: 22px
	min-width: 16px
	padding: 5px 10px 7px 10px
	font:
		size: 14px

	text-align: center
	background-color: #fffffe
	border-radius: 2px
	border: none
	cursor: pointer
	transition: all 0.2s
	-moz-transition: all 0.2s
	-webkit-transition: all 0.2s
	-o-transition: all 0.2s

.search-button
	vertical-align: top

a.flat-button:hover
	text-decoration: none
	color: #ffffff


.flat-button a:hover
	text-decoration: none
	color: #fffffe

.green-button
	@extend .flat-button
	background-color: $button-green
	color: $white

.submit-button
	@extend .flat-button
	background-color: $button-green
	color: $white

.inline-button
	display: inline-block

.button-small
	height: 12px
	line-height: 12px
	font-size: 12px

.blue-button 
	@extend .flat-button
	background-color: rgb(41,98,152)
	color: $white

.blue-button-showcase
	@extend .blue-button
	width: 325px
	font-size: 20px
	line-height: 36px

.lightblue-button
	@extend .flat-button
	background-color: $lightblue
	color: $white

.wide-button 
	width: 150px

.button-large
	height: auto
	width: auto
	font-size: 1.6em
	padding: 6px 8px

.disabled
	background-color: $lightgray !important 
	cursor: default !important

	
/* Footer Styles */


div.footer-container
	background-color: #333332
	font-size: 1.2em
	color: #fffffe
	height: 100%

div.footer-inner
	padding-top: 15px
	width: 1000px
	margin-left: auto
	margin-right: auto
	min-height: 35px

ul.footer-links 
	margin-left: 0px
	li
		display: inline
	a
		margin-right: 50px
		color: #fffffe
		text-decoration: none

div.footer 
	font-size: 0.9em
	padding-top: 10px

/* Form Styles */

.flat-input 
	border-radius: 0px
	width: 275px
	font-size: 14px
	height: 24px
	color: $darkgray

.flat-input-wide
	@extend .flat-input
	width: 450px

.flat-textarea
	@extend .flat-input
	height: 48px

.flat-textarea-wide
	@extend .flat-textarea
	width: 450px

.form-nav 
	margin-top: 15px
	margin-bottom: 15px

.form-left-column
	max-width: 625px
	margin-right: 65px
	float: left

.form-right-column
	min-width: 300px
	max-width: 350px
	float: left

.form-instructions
	padding: 5px
	background-color: rgba(44,93,130,0.3)
	border-radius: 2px

.form-help
	width: 300px
	margin-top: 25px
	position: fixed
	display: none
	background-color: $lightblue
	color: $white
	padding: 5px
	border-radius: 2px

/* Picture Styles */

.profile-pic-container 
	width: 75px
	height: 75px
	display: inline-block
	margin-right: 16px
	margin-bottom: 16px 

	img 
		border-radius: 75px

.profile-pic-container-small
	@extend .profile-pic-container
	width: 35px
	height: 35px

/* Tag Styles */

.tags-container
	margin-top: 10px
	margin-bottom: 10px

.filter-tags
	color: #181818

.tag
	border-radius: 2px
	padding: 4px 6px
	margin-top: 4px
	display: inline-block
	background-color: $tag-background
	cursor: pointer
	font-size: 12px
	line-height: 14px
	color: #181818

.tag:hover
	text-decoration: none

.tag-inline
	@extend .tag

.tag-inline:hover
	@extend .tag:hover

/* Stats styles */

.stat-container
	
.stat-module
	margin-bottom: 5px

.stat
	text-align: center
	font-weight: 500
	display: inline-block
	width: 20px
	height: 20px
	border-radius: 2px
	line-height: 20px

/* Partner Styles */

.partner-info
	margin-bottom: 12px
	text-align: left
	padding-top: 12px
	line-height: 26px
	font:
		size: 18px
		family: Helvetica, Arial
		weight: 300

.promo-header
	font-size: 20px
	font-weigth: 500

.promo-text
	margin-top: 10px
	font-size: 14px
	line-height: 30px

.promo-left, .promo-right
	width: 450px

//.promo-container
//	border-left:
//		style: solid
//		color: $lightgray
//		width: 1px
//	border-right:
//		style: solid
//		color: $lightgray
//		width: 1px
	

//.promo-module
//	padding:
//		left: 25px
//		right: 25px
//		top: 25px
//		bottom: 25px
//	border-top:
//		style: solid
//		color: $lightgray
//		width: 1px